openapi: 3.2.0
info:
  title: dbapi--v1 Swaggers API
  description: swagger/API definition service
  contact: {}
  license: {}
  version: v1
servers:
- url: https://simulator-api.db.com:443/gw/public/dbapi/swaggers/v1
tags:
- name: swaggers
  description: Swaggers/OpenAPI repository
paths:
  /:
    get:
      tags:
      - swaggers
      summary: Returns all known swagger definitions
      description: Returns a list of all swagger definitions known.
      operationId: rootGet
      parameters:
      - name: tenant-id
        in: query
        description: the tenant id
        allowEmptyValue: false
        schema:
          type: string
      - name: view
        in: query
        description: view
        allowEmptyValue: false
        schema:
          type: string
          enum:
          - gateway
          - devportal
      - name: Correlation-Id
        in: header
        description: Free form key controlled by the caller e.g. uuid
        required: false
        schema:
          maxLength: 50
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiDefinitions'
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
      deprecated: false
  /{swaggerid}/swagger:
    get:
      tags:
      - swaggers
      summary: Returns a swagger definition
      operationId: swaggeridSwaggerGet
      parameters:
      - name: swaggerid
        in: path
        description: the unique resource id
        required: true
        schema:
          type: string
      - name: tenant-id
        in: query
        description: the tenant id
        allowEmptyValue: false
        schema:
          type: string
      - name: Correlation-Id
        in: header
        description: Free form key controlled by the caller e.g. uuid
        required: false
        schema:
          maxLength: 50
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
      deprecated: false
components:
  schemas:
    ApiDefinition:
      title: ApiDefinition
      type: object
      properties:
        api:
          type: string
          description: The API name. This is the grouping element of all belonging API/swagger definitions. E.g. dbapi, psd2, etc.
        context:
          type: string
          description: the context name of the API definition. The context is used to construct the path of the API base URL
        gatewayUrl:
          type: string
        groups:
          type: array
          items:
            $ref: '#/components/schemas/ApiGroup'
        introspectionMandatory:
          type: boolean
        rerouteUrl:
          type: string
          description: The backend URL to route this request to.
        swaggerId:
          type: string
          description: A unique ID of a swagger resource.
        swaggerUrl:
          type: string
        tryItOut:
          type: boolean
    ApiGroupVersionPath:
      title: ApiGroupVersionPath
      type: object
      properties:
        path:
          type: string
        version:
          type: string
    ApiDefinitions:
      title: ApiDefinitions
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/ApiDefinition'
        totalItems:
          type: number
          description: total number of API definitions
    ApiGroup:
      title: ApiGroup
      type: object
      properties:
        name:
          type: string
          description: The group name. I.e. "Reference Data.addresses"
        paths:
          type: array
          description: The path object in the swagger definition.
          items:
            $ref: '#/components/schemas/ApiGroupVersionPath'
x-original-swagger-version: '2.0'
