openapi: 3.2.0
info:
  title: Merchant-Server II REST Services Risk Management API
  version: v2.1
  description: The Risk Management API contains endpoints to add and remove risk list entries and to calculate a risk score.
servers:
- url: https://testmerch.directpos.de/rest-api/services/v2.1/
security:
- bearerAuth: []
tags:
- name: Risk Management
  description: The Risk Management API contains endpoints to add and remove risk list entries and to calculate a risk score.
paths:
  /riskmanagement/entry/{event_id}:
    post:
      tags:
      - Risk Management
      summary: Adds data to or deletes data from the positive or the negative list
      operationId: riskmanagementEntryPost
      parameters:
      - name: Merchant-ID
        in: header
        description: Unique identification of the merchant for whom the transaction is carried out. This parameter is  required if the `Merchant-ID` cannot be derived from the `client_id` you used for authentication.
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 10
          minLength: 10
          pattern: '[0-9]+'
          type: string
      - name: event_id
        in: path
        description: A unique ID for the event.
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 50
          minLength: 1
          pattern: '[\/0-9a-zA-Z_.:,\-+*$%]+'
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RiskmanagementEntryRequest'
            examples:
              sample21:
                summary: Sample risk management entry request.
                description: sample21
                value:
                  credit_card_data:
                    number: '4000056655665556'
                    code: '123'
                    cardholder: Card T. Holder
                    expiry_date:
                      year: 2028
                      month: 11
                  bank_account:
                    bic: HYVEDEMMXXX
                    iban: DE02700202700010108669
                    account_holder: Rene Meier
                    bank_name: UniCredit Bank - HypoVereinsbank
                  address:
                    first_name: Fritz
                    last_name: Mustermann
                    address_line_1: Musterteichstr 18
                    address_line_2: EG R. 184
                    address_line_3: Wohnhaus
                    state: SN
                    postal_code: '94347'
                    city: Musterhausen
                    country: DE
                  billing_address:
                    first_name: Heinz
                    last_name: Mustermann
                    address_line_1: Musterstraße 18
                    address_line_2: EG Rechnungsraum. 184
                    address_line_3: Rechnungsgebäude/Buchhaltung
                    state: SN
                    postal_code: '84347'
                    city: Musterstadt
                    country: DE
                    email: heinz.mustermann@example.com
                    phone_contact:
                      phone_type: MOBILE
                      phone_number: '+442071838750'
                  shipping_address:
                    first_name: Klaus
                    last_name: Mustermann
                    address_line_1: Musterstratße 7
                    address_line_2: 2. OG Lieferraum 333
                    address_line_3: Lieferhaus
                    state: BE
                    postal_code: '10243'
                    city: Musterdorf
                    country: DE
                  amount_total:
                    amount: '100050'
                    currency: EUR
                  basket:
                    basket_id: 123456-basketId-dummy
                    order_amount:
                      amount: '100050'
                      currency: EUR
                    shipping_costs:
                      amount: '50'
                      currency: EUR
                    basket_type: PHYSICAL
                    basket_items:
                    - name: productName1
                      description: productDescription1
                      reference: reference1
                      quantity:
                        quantity_amount: 1
                        quantity_unit: pcs
                      unit_price:
                        net: '84034'
                        gross: '100000'
                        currency: EUR
                        tax: '1900'
                      item_discount:
                        net: '0'
                        gross: '0'
                        currency: EUR
                        tax: '1900'
                      extensions:
                        riskcheck_data:
                          riskcheck_type: SHIPPING_ONLY
                          distributor_product_sku: '1234567890'
                          gift_card_currency: EUR
                          is_gift: 'false'
                          product_risk: LOW
                          risk_check_passenger:
                            type: ADT
                            status: standard
                            phone:
                              phone_type: MOBILE
                              phone_number: '+4917223456789'
                            first_name: Maria
                            last_name: Musterfrau
                            id: B7564
                            email: maria.musterfrau@passenger.com
                            country: DE
                          shipping_destination_types: RESIDENTIAL
                  device_information:
                    cookies_accepted: 'true'
                    http_accept_browser_value: text/html, application/xhtml+xml, application/xml;q=0.9, image/webp, */*;q=0.8
                    http_accept_content: text/html, application/xhtml+xml, application/xml;q=0.9, image/webp, */*;q=0.8
                    color_depth: B24
                    http_browser_email: mustermann@example.com
                    http_browser_java_enabled: 'true'
                    http_browser_java_script_enabled: 'true'
                    http_browser_language: de-DE
                    http_browser_screen_height: '1080'
                    http_browser_screen_width: '1920'
                    http_browser_time_difference: '60'
                    ip_address: 192.168.0.1
                    user_agent: Mozilla
                    user_agent_browser_value: Mozilla/5.0 (X11; Linux x86_64; rv:78.0) Gecko/20100101 Firefox/78.0
                  customer_information:
                    date_of_birth: '1985-12-30'
                    gender: FEMALE
                    title: Prof. Dr. Dr.
                    personal_identifications: []
                    contacts:
                      phone_contacts:
                      - phone_type: MOBILE
                        phone_number: '+442071838750'
                      - phone_type: FAX
                        phone_number: '+442071838751'
                  reason: SUSPECTED
                  action: DELETE
                  list_name: NEGATIVE
      responses:
        '400':
          description: Response in case of an error. Includes a response code and an error message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '401':
          description: Unauthorized request. Response body may be empty.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '200':
          description: Indicates the list interaction to add/remove an entry was performed. Result can be success or information regarding the problems occured.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RiskmanagementEntryResponse'
  /riskmanagement/scoring/{event_id}:
    post:
      tags:
      - Risk Management
      summary: Calculates risk score of given data
      operationId: riskmanagementScoringPost
      parameters:
      - name: Merchant-ID
        in: header
        description: Unique identification of the merchant for whom the transaction is carried out. This parameter is  required if the `Merchant-ID` cannot be derived from the `client_id` you used for authentication.
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 10
          minLength: 10
          pattern: '[0-9]+'
          type: string
      - name: event_id
        in: path
        description: A unique ID for the event.
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 50
          minLength: 1
          pattern: '[\/0-9a-zA-Z_.:,\-+*$%]+'
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RiskmanagementScoringRequest'
            examples:
              sample21:
                summary: Sample risk management scoring request.
                description: sample21
                value:
                  credit_card_data:
                    number: '4000056655665556'
                    code: '123'
                    cardholder: Card T. Holder
                    expiry_date:
                      year: 2028
                      month: 11
                  bank_account:
                    bic: HYVEDEMMXXX
                    iban: DE02700202700010108669
                    account_holder: Rene Meier
                    bank_name: UniCredit Bank - HypoVereinsbank
                  address:
                    first_name: Fritz
                    last_name: Mustermann
                    address_line_1: Musterteichstr 18
                    address_line_2: EG R. 184
                    address_line_3: Wohnhaus
                    state: SN
                    postal_code: '94347'
                    city: Musterhausen
                    country: DE
                  billing_address:
                    first_name: Heinz
                    last_name: Mustermann
                    address_line_1: Musterstraße 18
                    address_line_2: EG Rechnungsraum. 184
                    address_line_3: Rechnungsgebäude/Buchhaltung
                    state: SN
                    postal_code: '84347'
                    city: Musterstadt
                    country: DE
                    email: heinz.mustermann@example.com
                    phone_contact:
                      phone_type: MOBILE
                      phone_number: '+442071838750'
                  amount_total:
                    amount: '100050'
                    currency: EUR
                  basket:
                    basket_id: 123456-basketId-dummy
                    order_amount:
                      amount: '100000'
                      currency: EUR
                    shipping_costs:
                      amount: '50'
                      currency: EUR
                    basket_type: PHYSICAL
                    basket_items:
                    - name: productName1
                      description: productDescription1
                      reference: reference1
                      quantity:
                        quantity_amount: 1
                        quantity_unit: pcs
                      unit_price:
                        net: '84034'
                        gross: '100000'
                        currency: EUR
                        tax: '1900'
                      item_discount:
                        net: '0'
                        gross: '0'
                        currency: EUR
                        tax: '1900'
                      extensions:
                        riskcheck_data:
                          riskcheck_type: SHIPPING_ONLY
                          distributor_product_sku: '1234567890'
                          gift_card_currency: EUR
                          is_gift: 'false'
                          product_risk: LOW
                          risk_check_passenger:
                            type: ADT
                            status: standard
                            phone:
                              phone_type: MOBILE
                              phone_number: '+4917223456789'
                            first_name: Maria
                            last_name: Musterfrau
                            id: B7564
                            email: maria.musterfrau@passenger.com
                            country: DE
                          shipping_destination_types: RESIDENTIAL
                  shipping_address:
                    first_name: Klaus
                    last_name: Mustermann
                    email: klaus-mustermann-shipping@example.com
                    address_line_1: Musterstratße 7
                    address_line_2: 2. OG Lieferraum 333
                    address_line_3: Lieferhaus
                    state: BE
                    postal_code: '10243'
                    city: Musterdorf
                    country: DE
                  customer_information:
                    date_of_birth: '1985-12-30'
                    gender: FEMALE
                    title: Prof. Dr. Dr.
                    personal_identifications:
                    - type: PASSPORT
                      id: T220001297
                      issued_by: DE
                    - type: DRIVERS_LICENSE
                      id: DL220001297
                      issued_by: BE
                    contacts:
                      phone_contacts:
                      - phone_type: MOBILE
                        phone_number: '+442071838750'
                      - phone_type: FAX
                        phone_number: '+442071838751'
                  device_information:
                    cookies_accepted: 'true'
                    http_accept_browser_value: text/html, application/xhtml+xml, application/xml;q=0.9, image/webp, */*;q=0.8
                    http_accept_content: text/html, application/xhtml+xml, application/xml;q=0.9, image/webp, */*;q=0.8
                    color_depth: B24
                    http_browser_email: mustermann@example.com
                    http_browser_java_enabled: 'true'
                    http_browser_java_script_enabled: 'true'
                    http_browser_language: de-DE
                    http_browser_screen_height: '1080'
                    http_browser_screen_width: '1920'
                    http_browser_time_difference: '60'
                    ip_address: 192.168.0.1
                    user_agent: Mozilla
                    user_agent_browser_value: Mozilla/5.0 (X11; Linux x86_64; rv:78.0) Gecko/20100101 Firefox/78.0
                  account_information:
                    account_change_date: '2021-10-25'
                    account_creation_indicator: GUEST
                    account_id: MC_ACC_12345678
                    account_opened_date: '2021-10-25'
                    modification_indicator: ACCOUNT_UPDATED_NOW
                    password_change_date: '2021-10-25'
                    password_change_indicator: PASSWORD_CHANGED_NOW
                    payment_account_date: '2021-10-25'
                    payment_account_history: PAYMENT_ACCOUNT_ADDED_NOW
                    add_card_attempts: '1'
                    provisioning_day_count: '1'
                    purchases_six_month_count: '2'
                    shipping_address_first_use_date: '2021-10-25'
                    shipping_address_first_use: 'false'
                    shipping_name_indicator: '02'
                    suspicious_account_activity: 'false'
                    transactions_day_count: '1'
                    transactions_year_count: '1'
                  merchant_risk_indicators:
                    delivery_email_address: delivery@example.com
                    delivery_timeframe: MORE_THAN_ONE_DAY
                    gift_card_amount: '0'
                    gift_card_count: '0'
                    gift_card_currency: EUR
                    pre_order_date: '2021-10-25'
                    pre_order_purchase_indicator: AVAILABLE
                    reordered_items_indicator: FIRST
                    shipping_indicator: DIGITAL
                  travel_information:
                    actual_final_destination: LEJ
                    complete_route: LEJ-LHR:LHR-JFK:JFK-LHR:LHR-LEJ
                    departure_time: 2024-07-01T07:40+01:00
                    journey_type: ROUNDTRIP
                    legs:
                    - origination: LEJ
                      destination: LHR
                      carrier_code: LH
                      departure_date: '20240701'
                    - origination: LHR
                      destination: JFK
                      carrier_code: BA
                      departure_date: '20240701'
                    - origination: JFK
                      destination: LHR
                      carrier_code: BA
                      departure_date: '20240714'
                    - origination: LHR
                      destination: LEJ
                      carrier_code: LH
                      departure_date: '20240714'
                    number_of_passengers: 2
                    passengers:
                    - first_name: Heinz
                      last_name: Mueller
                    - first_name: Klaus
                      last_name: Mueller
                  merchant_defined_information:
                  - key: '11'
                    value: nightly_order
                  - key: '2'
                    value: high_volume_order
                  - key: '52'
                    value: donation
                  - key: '99'
                    value: multi-packaging
                  - key: '100'
                    value: reordered-8times
                  - key: '103'
                    value: devices
                  risk_check_additional_information:
                    fingerprint_session_id: 1234567890-0000000005
      responses:
        '400':
          description: Response in case of an error. Includes a response code and an error message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '401':
          description: Unauthorized request. Response body may be empty.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '200':
          description: Calculates the score of the given data and gives back more detailed information regarding the result calculation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RiskmanagementScoringResponse'
components:
  schemas:
    ExpiryDate:
      required:
      - month
      - year
      type: object
      properties:
        year:
          maximum: 2099
          minimum: 2000
          type: integer
          description: The credit card expiry year.
          format: int32
          example: 2021
        month:
          maximum: 12
          minimum: 1
          type: integer
          description: The credit card expiry month.
          format: int32
          example: 11
      description: The credit card expiry date.
    CommonAddressExtensions:
      type: object
      properties:
        alternative_address_data:
          $ref: '#/components/schemas/AlternativeAddressData'
        paydirekt_data:
          $ref: '#/components/schemas/AddressPaydirektData'
      description: Service specific address fields.
    TaxInfo:
      required:
      - tax_id
      - tax_id_type
      type: object
      properties:
        tax_id:
          type: string
          description: The customer's tax ID value.
          example: 867.226.847-41
        tax_id_type:
          type: string
          description: 'Type of tax ID. May be country specific. Different types may adhere to different patterns.


            * `BR_CPF` : Brazilian individual tax id type.

            * `BR_CNPJ` : Brazilian business tax id type.

            * `OTHER` : None of the above.

            '
          example: BR_CPF
          enum:
          - BR_CPF
          - BR_CNPJ
          - OTHER
      description: Legal tax information of the payer.
    BankAccount:
      required:
      - iban
      type: object
      properties:
        bic:
          maxLength: 11
          minLength: 11
          pattern: '[A-Z]{6}[A-Z2-9][A-NP-Z0-9][A-Z0-9]{3}'
          type: string
          description: "The business identifier code (BIC) of a bank account. If the branch identifier\n                (positions 9 to 11) is not applicable, it is set to \"XXX\". "
          example: VZVDDED1XXX
        iban:
          maxLength: 34
          minLength: 15
          pattern: '[A-Z]{2}[0-9]{2}[A-Z0-9*]{11,30}'
          type: string
          description: The international bank account number of a bank account.
          example: DE17215730140403340300
        account_holder:
          maxLength: 27
          minLength: 1
          pattern: .*
          type: string
          description: The account holder of the bank account.
          example: Max Muster
        bank_name:
          type: string
          description: Name of the bank.
          example: Musterbank
      description: Information about a bank account.
    BasketItem:
      type: object
      properties:
        name:
          maxLength: 127
          minLength: 0
          type: string
          description: Descriptive name of the order item. Mandatory for PayPal.
          example: A fine shirt
        description:
          maxLength: 127
          minLength: 0
          type: string
          description: Used for storing merchant's internal order number or other reference.
          example: BI123456
        reference:
          maxLength: 64
          minLength: 0
          type: string
          description: Article number, SKU or similar.
          example: UGG-BB-PUR-06
        quantity:
          $ref: '#/components/schemas/Quantity'
        unit_price:
          $ref: '#/components/schemas/TaxedAmountCurrency'
        item_discount:
          $ref: '#/components/schemas/TaxedAmountCurrency'
        extensions:
          $ref: '#/components/schemas/BasketItemExtensions'
      description: A purchasable item that is part of a shopping basket's list of items.
    RiskmanagementInfoResponse:
      type: object
      properties:
        case_priority:
          type: string
          description: Riskcheck information regarding the case priority.
          example: '1'
        error_information:
          $ref: '#/components/schemas/RiskmanErrorInformation'
        event_id:
          maxLength: 50
          minLength: 1
          pattern: '[\/0-9a-zA-Z_.:,\-+*$%]+'
          type: string
          description: A unique ID for the event.
          example: E5686585867636541231230
        infocodes_address:
          type: array
          items:
            type: string
            description: Riskcheck information regarding the address risk check. See user guide for details and all possible values.
            example: '["COR-BA","COR-SA","MM-A","MM-Z"]'
        infocodes_customerlist:
          type: array
          items:
            type: string
            description: Riskcheck information regarding the customer list risk check.  See user guide for details and all possible values.
            example: '["CONPOSNEG","NEG-BCO"]'
        infocodes_device_behaviour:
          type: array
          items:
            type: string
            description: Indicates the device behavior information code(s) returned from device fingerprinting. See user guide for details and all possible values.
            example: '["MouseOffPageDetected"]'
        infocodes_globalvelocity:
          type: array
          items:
            type: string
            description: Riskcheck information regarding the velocity risk check. See user guide for details and all possible values.
            example: '["VEL-ADDR","VELS-FP"]'
        infocodes_identitychange:
          type: array
          items:
            type: string
            description: Riskcheck information regarding the identity change. See user guide for details and all possible values.
            example: '["ID-M-HPOS"]'
        infocodes_internet:
          type: array
          items:
            type: string
            description: Riskcheck information regarding the internet check. See user guide for details and all possible values.
            example: '["FREE-EM"]'
        infocodes_phone:
          type: array
          items:
            type: string
            description: Riskcheck information regarding the phone risk check. See user guide for details and all possible values.
            example: '["MMACBST, "UNV-PH" ]'
        infocodes_suspicious:
          type: array
          items:
            type: string
            description: Riskcheck information regarding suspicious risk. See user guide for details and all possible values.
            example: '["BAD-FP","MUL-EM"]'
        infocodes_velocity:
          type: array
          items:
            type: string
            description: 'List of information codes triggered by the order. These information codes were generated when you created

              the order and product velocity rules and are returned so that you can associate them with the rules. See user guide for details and all possible values.'
            example: '["GVEL-R20","GVEL-R21"]'
        localtime:
          type: string
          description: Riskcheck information regarding the local time of the risk check.
          example: '55083'
        profile_destination_queue:
          type: string
          description: Riskcheck information regarding the profile destination queue of the risk check.
          example: dst-queue
        profile_name:
          type: string
          description: Riskcheck information regarding the profile of the risk check.
          example: example-profile
        profile_selectorrule:
          type: string
          description: Riskcheck information regarding the profile selector rule risk check.
          example: example-rule
        providers:
          type: array
          items:
            type: string
            description: Providers used to calculate the risk.
            example: '["provider1","provider2"]'
        rules:
          type: array
          items:
            type: string
            description: Riskcheck information regarding the matched rules in risk check.
            example: '["example-rule"]'
        score:
          type: string
          description: Calculated risk score of request data.
          example: '14'
        score_factor_codes:
          type: array
          items:
            type: string
            description: Riskcheck information regarding the profile factor codes of the risk check. See user guide for all possible values.
            example: '["G","H","Y","Z"]'
        score_model_used:
          type: string
          description: Name of the score model used for the transaction. This field contains the name of risk management’s selected model.
          example: default_eu
        travel_actual_final_dst_country:
          type: string
          description: Actual country of final destination of the travel.
          example: US
        travel_actual_final_dst_locality:
          type: string
          description: Actual city of final destination of the travel.
          example: Chicago
        travel_first_departure_country:
          type: string
          description: First departure country of the travel.
          example: US
        travel_first_departure_locality:
          type: string
          description: First departure city of the travel.
          example: San Francisco
        tx_risk_status:
          type: string
          description: Status result of an external risk management transaction. See user guide for all possible values.
          example: ACCEPTED
        tx_scoring_id:
          type: string
          description: Unique scoring transaction identifier. Can be used to reference the depending scoring transaction.
          example: '6373172383866963604006'
        utc_time:
          type: string
          description: Riskcheck information regarding the UTC time of the risk check, used in error cases.
          example: '2021-12-21T14:18:04Z'
    PhoneContact:
      required:
      - phone_number
      - phone_type
      type: object
      properties:
        phone_type:
          type: string
          description: 'The phone type.


            * `FAX`

            * `HOME`

            * `MOBILE`

            * `OTHER`

            * `PAGER`

            * `WORK`

            '
          example: FAX
          enum:
          - FAX
          - HOME
          - MOBILE
          - OTHER
          - PAGER
          - WORK
        phone_number:
          maxLength: 16
          minLength: 0
          pattern: \+[1-9]\d{1,14}
          type: string
          description: A phone number in its canonical international E.164 numbering plan format.
          example: '+442071838750'
      description: A means of contacting a customer by phone.
      example:
        phone_type: FAX
        phone_number: '+442071838750'
    MerchantInformationKlarnaData:
      type: object
      properties:
        custom_payment_method_ids:
          type: array
          description: List of custom payment method ids.
          example:
          - klarna_invoice
          - klarna_installments
          items:
            type: string
            description: List of custom payment method ids.
            example: '["klarna_invoice","klarna_installments"]'
      description: Klarna specific MerchantInformation fields.
    CommonAddress:
      type: object
      properties:
        title:
          type: string
          description: Customer's title.
          example: Ms
        first_name:
          maxLength: 60
          minLength: 0
          type: string
          description: First name of the individual.
          example: Jane
        last_name:
          maxLength: 60
          minLength: 0
          type: string
          description: Last name of the individual.
          example: Doe
        company_name:
          maxLength: 60
          minLength: 0
          type: string
          description: Name of the company.
          example: Acme Inc.
        email:
          maxLength: 255
          minLength: 0
          type: string
          description: Email address of the individual.
          example: test_jane@gmail.com
        phone_contact:
          $ref: '#/components/schemas/PhoneContact'
        address_line_1:
          maxLength: 60
          minLength: 0
          type: string
          description: An address line.
          example: Main Street 123
        address_line_2:
          maxLength: 60
          minLength: 0
          type: string
          description: An address line. For 3DS this maps to additional1.
          example: Building A
        address_line_3:
          maxLength: 60
          minLength: 0
          type: string
          description: An address line. For 3DS this maps to additional2.
          example: Apartment 12
        postal_code:
          maxLength: 60
          minLength: 0
          type: string
          description: Postal code of the address.
          example: '80469'
        city:
          maxLength: 60
          minLength: 0
          type: string
          description: City of the address.
          example: Munich
        state:
          maxLength: 300
          minLength: 0
          type: string
          description: State or province of the address.
          example: BY
        country:
          maxLength: 2
          minLength: 2
          pattern: '[A-Z]{2}'
          type: string
          description: The ISO 3166 Alpha-2 country code (upper case) of the individual's homeland.
          example: DE
        extensions:
          $ref: '#/components/schemas/CommonAddressExtensions'
      description: Address data as applicable to most use cases.
    RiskmanErrorFieldInformation:
      type: object
      properties:
        field:
          type: string
          description: The name of the field which was the reason of the request rejection.
          example: orderInformation.billTo.firstName
        reason:
          type: string
          description: The reason why the request was rejected.
          example: MISSING_FIELD
      description: Field name and reason why the request was rejected.
    ErrorModel:
      required:
      - message
      - rc
      type: object
      properties:
        rc:
          type: string
          description: Four digit response code.
          example: '4001'
        message:
          type: string
          description: Describes the error.
          example: unexpected error
      description: Includes data returned in case of an error.
    RiskmanagementEntryResponse:
      required:
      - message
      - rc
      type: object
      properties:
        rc:
          type: string
          description: Response code of the transaction. "0" in the case of a successful transaction. Other values signify errors.
          example: '0'
        message:
          type: string
          description: Success or error message, text for the response code.
          example: Transaction approved.
        tx_id:
          type: string
          description: Unique transaction identifier. Can be used to reference this transaction.
          example: '6388615628286356704005'
        status:
          type: string
          description: The status of the external processed risk check transaction.
          example: COMPLETED
        utc_time:
          type: string
          description: The UTC time of the risk check.
          example: '2021-11-11T11:36:03Z'
        error_information:
          $ref: '#/components/schemas/RiskmanErrorInformation'
    RiskCheckTravelInformation:
      type: object
      properties:
        actual_final_destination:
          maxLength: 3
          minLength: 0
          type: string
          description: 'IATA Code for the actual final destination that the customer intends to travel to.

            It should be a destination on the complete_route.'
          example: SFO
        complete_route:
          maxLength: 255
          minLength: 0
          type: string
          description: Concatenation of individual travel legs in the format ORIG1-DEST1[:ORIG2-DEST2...:ORIGn-DESTn]
          example: SFO-JFK:JFK-LHR:LHR-CDG
        departure_time:
          type: string
          description: Departure date and time of the first leg of the trip.
          format: date-time
        journey_type:
          type: string
          description: "Type of travel, for example one way or round trip.\n                \n* `ONEWAY`\n* `ROUNDTRIP`\n"
          example: ONEWAY
          enum:
          - ONEWAY
          - ROUNDTRIP
        legs:
          maxItems: 60
          minItems: 0
          type: array
          description: Single legs of the complete journey.
          items:
            $ref: '#/components/schemas/RiskmanagementTravelInformationLeg'
        number_of_passengers:
          type: string
          description: Number of passengers for whom the ticket was issued.
          example: '1'
        passengers:
          type: array
          items:
            $ref: '#/components/schemas/RiskmanagementTravelInformationPassenger'
      description: Travel information of the order.
    Basket:
      type: object
      properties:
        basket_id:
          maxLength: 140
          minLength: 0
          type: string
          description: 'Dependent on the backend services the value might be shortened or special characters might be removed before sending.


            giropay: Will be displayed by giropay at the first row of the remittance information on the giropay form. Values longer than 27 characters will be cut off.'
          example: basket123456
        invoice_id:
          maxLength: 127
          minLength: 0
          type: string
          description: The API caller-provided external invoice number for this order.
          example: RE123345
        soft_descriptor:
          type: string
          description: Dynamic text used to construct the statement descriptor that appears on a payer's card statement.
          example: 800-123-1234
        shipping_costs:
          $ref: '#/components/schemas/AmountCurrency'
        basket_discount:
          $ref: '#/components/schemas/AmountCurrency'
        basket_type:
          type: string
          description: 'Type of a shopping basket. Mandatory for PayPal.


            * `DIGITAL`: Basket contains digital items only.

            * `MIXED`: Basket contains items of various types.

            * `PHYSICAL`: Basket contains physical items only.

            '
          example: DIGITAL
          enum:
          - DIGITAL
          - MIXED
          - PHYSICAL
        extensions:
          $ref: '#/components/schemas/BasketExtensions'
        basket_items:
          type: array
          description: An array of items that the customer purchases from the merchant.
          items:
            $ref: '#/components/schemas/BasketItem'
      description: A generalized shopping basket.
    RiskmanagementScoringRequest:
      required:
      - amount_total
      type: object
      properties:
        billing_address:
          $ref: '#/components/schemas/CommonAddress'
        basket:
          $ref: '#/components/schemas/Basket'
        device_information:
          $ref: '#/components/schemas/DeviceInformation'
        shipping_address:
          $ref: '#/components/schemas/CommonAddress'
        merchant_information:
          $ref: '#/components/schemas/MerchantInformation'
        account_information:
          $ref: '#/components/schemas/AccountInformation'
        customer_information:
          $ref: '#/components/schemas/CustomerInformation'
        merchant_risk_indicators:
          $ref: '#/components/schemas/MerchantRiskIndicators'
        merchant_defined_information:
          type: array
          items:
            $ref: '#/components/schemas/RiskCheckMerchantDefinedInformation'
        travel_information:
          $ref: '#/components/schemas/RiskCheckTravelInformation'
        risk_check_additional_information:
          $ref: '#/components/schemas/RiskCheckAdditionalInformation'
        credit_card_data:
          $ref: '#/components/schemas/CreditCard'
        bank_account:
          $ref: '#/components/schemas/BankAccount'
        address:
          $ref: '#/components/schemas/CommonAddress'
        amount_total:
          $ref: '#/components/schemas/AmountCurrency'
      description: Denotes a set of data elements like addresses or credit card PAN to add to the negative or positive list.
    BasketItemKlarnaData:
      type: object
      properties:
        product_url:
          maxLength: 1024
          minLength: 0
          type: string
          description: Product's URL in the merchant's webshop. May be used in communication between Klarna and the customer.
          example: https://www.exampleobjects.com/products/123456789
        image_url:
          maxLength: 1024
          minLength: 0
          type: string
          description: Product image URL in the merchant's webshop. May be used to embed the image into communication between Klarna and the customer.
          example: https://www.exampleobjects.com/product-image-1200x1200.jpg
        product_identifiers:
          type: array
          description: Additional information identifying the basket item.
          items:
            $ref: '#/components/schemas/KlarnaProductIdentifier'
      description: Service specific basket item fields for Klarna related use cases.
    RiskmanagementEntryRequest:
      type: object
      properties:
        billing_address:
          $ref: '#/components/schemas/CommonAddress'
        basket:
          $ref: '#/components/schemas/Basket'
        device_information:
          $ref: '#/components/schemas/DeviceInformation'
        shipping_address:
          $ref: '#/components/schemas/CommonAddress'
        merchant_information:
          $ref: '#/components/schemas/MerchantInformation'
        account_information:
          $ref: '#/components/schemas/AccountInformation'
        customer_information:
          $ref: '#/components/schemas/CustomerInformation'
        merchant_risk_indicators:
          $ref: '#/components/schemas/MerchantRiskIndicators'
        merchant_defined_information:
          type: array
          items:
            $ref: '#/components/schemas/RiskCheckMerchantDefinedInformation'
        travel_information:
          $ref: '#/components/schemas/RiskCheckTravelInformation'
        risk_check_additional_information:
          $ref: '#/components/schemas/RiskCheckAdditionalInformation'
        credit_card_data:
          $ref: '#/components/schemas/CreditCard'
        bank_account:
          $ref: '#/components/schemas/BankAccount'
        address:
          $ref: '#/components/schemas/CommonAddress'
        delivery_email_address:
          type: string
          description: The delivery email address which has to be added to or removed from a list.
        reason:
          type: string
          description: The reason why to add an entry to the list or remove an entry from the list.
          example: SUSPECTED
          enum:
          - FRAUD_CHARGEBACK
          - NON_FRAUD_CHARGEBACK
          - SUSPECTED
          - CREDITBACK
        action:
          type: string
          description: The action to perform with the list.
          example: ADD
          enum:
          - ADD
          - DELETE
        list_name:
          type: string
          description: The list name where to perform the action.
          example: NEGATIVE
          enum:
          - NEGATIVE
          - POSITIVE
      description: Denotes a set of data elements like addresses or credit card PAN to add to the negative or positive list.
    CustomerExtensionPayPalData:
      type: object
      properties:
        payer_id:
          maxLength: 13
          minLength: 0
          type: string
          example: 23456789ABCDE
        tax_info:
          $ref: '#/components/schemas/TaxInfo'
      description: PayPal specific customer information fields.
    Contacts:
      type: object
      properties:
        phone_contacts:
          type: array
          description: A means of contacting a customer by phone.
          example:
            phone_type: FAX
            phone_number: '+442071838750'
          items:
            $ref: '#/components/schemas/PhoneContact'
      description: Means of contacting the customer.
      example:
        phone_contacts:
        - phone_type: FAX
          phone_number: '+442071838750'
    KlarnaProductIdentifier:
      type: object
      properties:
        brand:
          type: string
          description: The product's brand name as generally recognized by consumers. If no brand is available for a product, do not supply any value.
          example: Intel
        category_path:
          maxLength: 750
          minLength: 0
          type: string
          description: The product's category path as used in the merchant's webshop. Include the full and most detailed category and separate the segments with '>'.
          example: Electronics Store > Computers & Tablets > Desktops
        gtin:
          pattern: '[a-zA-Z0-9]*'
          type: string
          description: The product's Global Trade Item Number (GTIN). Common types of GTIN are EAN, ISBN or UPC. Dashes and spaces must be omitted.
          example: '735858293167'
        mpn:
          type: string
          description: The product's Manufacturer Part Number (MPN), which - together with the brand - uniquely identifies a product. Only submit MPNs assigned by a manufacturer and use the most specific MPN possible.
          example: BOXNUC5CPYH
      description: Klarna specific unique identification attributes of a product.
    TaxedAmountCurrency:
      required:
      - currency
      - gross
      - net
      - tax
      type: object
      properties:
        net:
          type: integer
          description: Amount of money excl. tax in the minor currency unit.
          format: int64
          example: 100
        gross:
          type: integer
          description: Amount of money incl. tax in the minor currency unit.
          format: int64
          example: 100
        currency:
          maxLength: 3
          minLength: 3
          pattern: '[A-Z]{3}'
          type: string
          description: ISO 4217 currency code, three uppercase letters.
          example: EUR
        tax:
          maximum: 10000
          minimum: 0
          type: integer
          description: Tax percentage. Non-negative value. The percentage value is represented with two implicit decimals.
          format: int32
          example: 1900
      description: Net and gross money amount accompanied by a tax percentage and currency.
    CreditCard:
      required:
      - expiry_date
      - number
      type: object
      properties:
        number:
          maxLength: 19
          minLength: 10
          pattern: '[0-9]*'
          type: string
          description: The credit card number (Primary Account Number). It is sometimes masked in response messages, for example 411111******1111.
          example: '41111111111111111'
        expiry_date:
          $ref: '#/components/schemas/ExpiryDate'
        code:
          maxLength: 4
          minLength: 3
          pattern: '[0-9]*'
          type: string
          description: Card verification number of the credit card (also CVV or CVC).
          example: '332'
        cardholder:
          maxLength: 27
          minLength: 1
          type: string
          description: The holder of a credit card.
          example: Max Muster
      description: Information about a credit card.
    AccountInformation:
      type: object
      properties:
        account_change_date:
          type: string
          description: Date of the last change to the client's account. This includes changes to the billing or shipping addresses, new payment methods or new users added.
          format: date
          example: '2021-10-25'
        account_creation_indicator:
          type: string
          description: 'What kind of account is it?


            * GUEST

            * NEW_ACCOUNT

            * EXISTING_ACCOUNT

            '
          example: GUEST
          enum:
          - GUEST
          - NEW_ACCOUNT
          - EXISTING_ACCOUNT
        account_id:
          type: string
          description: The account ID.
          example: MC_ACC_12345678
        account_opened_date:
          type: string
          description: Date the client opened the account. This usually only applies if this is an EXISTING_ACCOUNT.
          format: date
          example: '2021-10-25'
        modification_indicator:
          type: string
          description: 'This field is applicable only if this is an EXISTING_ACCOUNT.


            * ACCOUNT_UPDATED_NOW

            * ACCOUNT_UPDATED_PAST

            '
          example: ACCOUNT_UPDATED_NOW
          enum:
          - ACCOUNT_UPDATED_NOW
          - ACCOUNT_UPDATED_PAST
        password_change_date:
          type: string
          description: Date the client last changed the account's password. May be empty if the password has not been changed yet.
          format: date
          example: '2021-10-25'
        password_change_indicator:
          type: string
          description: 'This field is applicable only if this is an EXISTING_ACCOUNT.


            * PASSWORD_CHANGED_NOW

            * PASSWORD_CHANGED_PAST

            * PASSWORD_NEVER_CHANGED

            '
          example: PASSWORD_CHANGED_NOW
          enum:
          - PASSWORD_CHANGED_NOW
          - PASSWORD_CHANGED_PAST
          - PASSWORD_NEVER_CHANGED
        payment_account_date:
          type: string
          description: Only applicable if PAYMENT_ACCOUNT_EXISTS.
          format: date
          example: '2021-10-25'
        payment_account_history:
          type: string
          description: 'This field is applicable only if this is a NEW_ACCOUNT or EXISTING_ACCOUNT.


            * PAYMENT_ACCOUNT_EXISTS

            * PAYMENT_ACCOUNT_ADDED_NOW

            '
          example: PAYMENT_ACCOUNT_EXISTS
          enum:
          - PAYMENT_ACCOUNT_EXISTS
          - PAYMENT_ACCOUNT_ADDED_NOW
        add_card_attempts:
          maximum: 999
          type: integer
          description: Number of add card attempts during the last 24 hours.
          format: int32
          example: 1
        provisioning_day_count:
          maximum: 9999
          type: integer
          description: The provisioning day counter.
          format: int32
          example: 1
        purchases_six_month_count:
          maximum: 9999
          type: integer
          description: Number of purchases with this account during the previous six months.
          format: int32
          example: 2
        shipping_address_first_use_date:
          type: string
          description: Date when the shipping address was first used for this transaction. Only applies if firstUseOfShippingAddress is false and this is not a guest account.
          format: date
          example: '2021-10-25'
        shipping_address_first_use:
          type: boolean
          description: Applicable if this is not a guest account.
          example: false
        shipping_name_indicator:
          type: string
          description: The shipping name indicator. Indicates if the account's cardholder name equals the shipping name used for this transaction.
          example: '02'
        suspicious_account_activity:
          type: boolean
          description: Indicates whether the merchant experienced suspicious activity (including previous fraud) on the account.
          example: false
        transactions_day_count:
          maximum: 999
          type: integer
          description: Number of transactions (successful or abandoned) of this account during the last 24 hours.
          format: int32
          example: 1
        transactions_year_count:
          maximum: 9999
          type: integer
          description: Number of transactions (successful or abandoned) of this account during the last 365 days.
          format: int32
          example: 1
      description: Information on a user's account usage, payment history, transaction statistics.
    BasketExtensions:
      type: object
      properties:
        paypal_data:
          $ref: '#/components/schemas/BasketPayPalData'
      description: Service specific basket fields.
    BasketPayPalData:
      type: object
      properties:
        custom_id:
          maxLength: 127
          minLength: 0
          type: string
          description: The API caller-provided external ID. Used to reconcile client transactions with PayPal transactions. Appears in transaction and settlement reports but is not visible to the payer.
          example: CUSTOMID123
      description: Service specific basket fields for PayPal.
    MerchantInformation:
      type: object
      properties:
        locale:
          type: string
          description: Language of the form to be displayed according to ISO 639-1.
          example: en
        merchant_data_1:
          type: string
          description: The first merchant data field.
          example: '123456789'
        merchant_data_2:
          type: string
          description: The second merchant data field.
          example: '123456789'
        merchant_data_3:
          type: string
          description: The third merchant data field.
          example: '123456789'
        extensions:
          $ref: '#/components/schemas/MerchantInformationExtensions'
    RiskmanagementTravelInformationPassenger:
      type: object
      properties:
        first_name:
          maxLength: 60
          minLength: 0
          type: string
          description: First name of the individual.
          example: Jane
        last_name:
          maxLength: 60
          minLength: 0
          type: string
          description: Last name of the individual.
          example: Doe
      description: Information about a passenger.
    RiskCheckAdditionalInformation:
      type: object
      properties:
        fingerprint_session_id:
          maxLength: 88
          minLength: 0
          type: string
          description: Fingerprint session ID of the device and request of the customer.
          example: '529572354443398504'
      description: Additional information for calculation of the risk of a transaction.
    Quantity:
      required:
      - quantity_amount
      - quantity_unit
      type: object
      properties:
        quantity_amount:
          minimum: 0
          type: integer
          description: Amount of units.
          format: int64
          example: 5
        quantity_unit:
          maxLength: 8
          minLength: 0
          type: string
          description: Unit used to describe the quantity.
          example: pcs
      description: A quantity.
    BasketItemPayPalData:
      required:
      - paypal_type
      type: object
      properties:
        paypal_type:
          type: string
          description: "PayPal specific type of an order item.\n\n    * `DIGITAL_GOODS`: Goods that are stored, delivered, and used in electronic format.\n    * `PHYSICAL_GOODS`: A tangible item that can be shipped with proof of delivery.\n    * `DONATION`: A contribution or gift for which no good or service is exchanged.\n    "
          example: PHYSICAL_GOODS
          enum:
          - DIGITAL_GOODS
          - PHYSICAL_GOODS
          - DONATION
      description: Service specific basket item fields for PayPal.
    RiskmanagementScoringResponse:
      required:
      - event_id
      - message
      - rc
      - tx_id
      type: object
      properties:
        rc:
          type: string
          description: Response code of the transaction. "0" in the case of a successful transaction. Other values signify errors.
          example: '0'
        message:
          type: string
          description: Success or error message, text for the response code.
          example: Transaction approved.
        event_id:
          maxLength: 50
          minLength: 1
          pattern: '[\/0-9a-zA-Z_.:,\-+*$%]+'
          type: string
          description: A unique ID for the event.
          example: E5686585867636541231230
        tx_id:
          type: string
          description: Unique transaction identifier. Can be used to reference this transaction.
          example: 020LMG10jxSI8FN0OC4vLR
        riskmanagement_info:
          $ref: '#/components/schemas/RiskmanagementInfoResponse'
    BasketItemExtensions:
      type: object
      properties:
        paypal_data:
          $ref: '#/components/schemas/BasketItemPayPalData'
        riskcheck_data:
          $ref: '#/components/schemas/BasketItemRiskCheckData'
        klarna_data:
          $ref: '#/components/schemas/BasketItemKlarnaData'
      description: Service specific basket item fields.
    AmountCurrency:
      required:
      - amount
      - currency
      type: object
      properties:
        amount:
          type: integer
          description: Minor currency value of an amount of money.
          format: int64
          example: 200
        currency:
          maxLength: 3
          minLength: 3
          pattern: '[A-Z]{3}'
          type: string
          description: ISO 4217 currency code, three uppercase letters.
          example: EUR
      description: An amount and a currency.
    PersonalIdentification:
      type: object
      properties:
        type:
          type: string
          description: 'Type of identification.


            * `NATIONAL`

            * `PASSPORT`

            * `CPF`

            * `CNPJ`

            * `CURP`

            * `SSN`

            * `DRIVERS_LICENSE`

            '
          example: PASSPORT
          enum:
          - NATIONAL
          - PASSPORT
          - CPF
          - CNPJ
          - CURP
          - SSN
          - DRIVERS_LICENSE
        id:
          maxLength: 26
          minLength: 0
          type: string
          description: The value of the identification type. For 'PASSPORT', this is the customer's passport number. For 'CPF', set this field to the Cadastro de Pessoas Fisicas.
          example: T220001297
        issued_by:
          type: string
          description: The government agency that issued the identification. For 'DRIVERS_LICENSE', this is the administrative area where it was issued. For 'PASSPORT', this is the country that issued the passport. Use the two-character state, province or territory codes respectively for United States and Canada.
          example: DE
      description: Customer's legal ID data.
    CustomerInformationExtensions:
      type: object
      properties:
        paypal_data:
          $ref: '#/components/schemas/CustomerExtensionPayPalData'
      description: Service specific customer information fields.
    RiskCheckPassenger:
      type: object
      properties:
        type:
          type: string
          description: 'Passenger classification as indicated by the price discount class of the ticket. The following values are valid:


            * `ADT`: Adult

            * `CNN`: Child

            * `INF`: Infant

            * `YTH`: Youth

            * `STU`: Student

            * `SCR`: Senior Citizen

            * `MIL`: Military

            '
          example: ADT
          enum:
          - ADT
          - CNN
          - INF
          - YTH
          - STU
          - SCR
          - MIL
        status:
          maxLength: 32
          minLength: 0
          type: string
          description: Merchant specific passenger classification, such as standard, gold, or platinum.
          example: standard
        phone:
          $ref: '#/components/schemas/PhoneContact'
        first_name:
          maxLength: 60
          minLength: 0
          type: string
          description: First name of the individual.
          example: Jane
        last_name:
          maxLength: 60
          minLength: 0
          type: string
          description: Last name of the individual.
          example: Doe
        id:
          maxLength: 40
          minLength: 0
          type: string
          description: ID of the passenger to whom a ticket was issued. For example, this field may contain the frequent flyer number.
          example: B7564
        email:
          maxLength: 255
          minLength: 0
          type: string
          description: Email address of the individual.
          example: test_jane@gmail.com
        country:
          maxLength: 2
          minLength: 2
          pattern: '[A-Z]{2}'
          type: string
          description: The ISO 3166 Alpha-2 country code (upper case) of the individual's homeland.
          example: DE
      description: A (plane) passenger as modelled from the point of view of a risk check service.
    DeviceInformation:
      type: object
      properties:
        cookies_accepted:
          type: boolean
          description: Whether or not the browser accepts cookies.
          example: true
        http_accept_browser_value:
          maxLength: 2048
          minLength: 0
          type: string
          description: 'Value of the ''Accept'' header sent by the customer''s web browser. Note: If the customer''s browser provides a value, you must include it with your request.'
          example: text/html, application/xhtml+xml, application/xml;q=0.9, image/webp, */*;q=0.8
        http_accept_content:
          maxLength: 2048
          minLength: 0
          type: string
          description: The exact content of the HTTP accept header.
          example: text/html, application/xhtml+xml, application/xml;q=0.9, image/webp, */*;q=0.8
        color_depth:
          type: string
          description: "The bit depth of the color palette for displaying images, in bits per pixel. See https://en.wikipedia.org/wiki/Color_depth. Possible values:\n\n* `B1`\n* `B4`\n* `B8`\n* `B15`\n* `B16`\n* `B24`\n* `B32`\n* `B48`\n\n    "
          example: B24
          enum:
          - B1
          - B4
          - B8
          - B15
          - B16
          - B24
          - B32
          - B48
        http_browser_email:
          maxLength: 255
          minLength: 0
          type: string
          description: Email address set in the customer's browser. May differ from customer's actual email.
          example: mustermann@example.com
        http_browser_java_enabled:
          type: boolean
          description: Is the browser able to execute Java. Value is taken from the navigator.javaEnabled property.
          example: false
        http_browser_java_script_enabled:
          type: boolean
          description: 'Is the browser able to execute JavaScript. Background: Merchants may want to fingerprint a cardholder''s browser.'
          example: false
        http_browser_language:
          maxLength: 8
          minLength: 0
          type: string
          description: Browser language as defined in IETF BCP47. See https://en.wikipedia.org/wiki/IETF_language_tag.
          example: en-US
        http_browser_screen_height:
          minimum: 0
          type: integer
          description: Total height of the client's screen in pixels.
          format: int32
          example: 864
        http_browser_screen_width:
          minimum: 0
          type: integer
          description: Total width of the client's screen in pixels.
          format: int32
          example: 1536
        http_browser_time_difference:
          maximum: 1440
          minimum: -1440
          type: integer
          description: Time difference between UTC time and the client's browser's local time in minutes.
          format: int32
          example: 300
        ip_address:
          maxLength: 45
          minLength: 0
          pattern: ((^\s*((([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5]))\s*$)|(^\s*((([0-9A-Fa-f]{1,4}:){7}([0-9A-Fa-f]{1,4}|:))|(([0-9A-Fa-f]{1,4}:){6}(:[0-9A-Fa-f]{1,4}|((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3})|:))|(([0-9A-Fa-f]{1,4}:){5}(((:[0-9A-Fa-f]{1,4}){1,2})|:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3})|:))|(([0-9A-Fa-f]{1,4}:){4}(((:[0-9A-Fa-f]{1,4}){1,3})|((:[0-9A-Fa-f]{1,4})?:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){3}(((:[0-9A-Fa-f]{1,4}){1,4})|((:[0-9A-Fa-f]{1,4}){0,2}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){2}(((:[0-9A-Fa-f]{1,4}){1,5})|((:[0-9A-Fa-f]{1,4}){0,3}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){1}(((:[0-9A-Fa-f]{1,4}){1,6})|((:[0-9A-Fa-f]{1,4}){0,4}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(:(((:[0-9A-Fa-f]{1,4}){1,7})|((:[0-9A-Fa-f]{1,4}){0,5}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:)))(%.+)?\s*$))
          type: string
          description: IP address of the client. Both IPv4 and IPv6 are supported.
          example: 192.168.0.1
        user_agent:
          maxLength: 40
          minLength: 0
          type: string
          description: Client's browser as identified by the HTTP header data.
          example: Mozilla
        user_agent_browser_value:
          maxLength: 255
          minLength: 0
          type: string
          description: Value of the User-Agent header sent by the client's browser.
          example: Mozilla/5.0 (X11; Linux x86_64; rv:78.0) Gecko/20100101 Firefox/78.0
      description: Technical details of a client.
    RiskCheckMerchantDefinedInformation:
      type: object
      properties:
        key:
          maxLength: 255
          minLength: 0
          type: string
          description: Merchant-defined data fields are not intended to and must not be used to capture personally identifying information. Accordingly, merchants are prohibited from capturing, obtaining, and/or transmitting any personally identifying information in or via the merchant-defined data fields. Personally identifying information includes, but is not limited to, address, credit card number, social security number, driver's license number, state-issued identification number, passport number, and card verification numbers (CVV, CVC2, CVV2, CID, CVN). In the event Riskmanagement discovers that a merchant is capturing and/or transmitting personally identifying information via the merchant-defined data fields, whether or not intentionally, Riskmanagement will immediately suspend the merchant's account, which will result in a rejection of any and all transaction requests submitted by the merchant after the point of suspension.
          example: MDD_001
        value:
          maxLength: 255
          minLength: 0
          type: string
          description: String value for the key.
          example: nightly order
      description: Merchant defined information of the order. This must not be used to capture personally identifying information.
    BasketItemRiskCheckData:
      type: object
      properties:
        riskcheck_type:
          type: string
          description: 'Riskcheck specific type of an order item.


            * `ADULT_CONTENT`: Adult content.

            * `COUPON`: Coupon applied to the entire order.

            * `DEFAULT`: Default value for the product code. This value is used if a request message does not include a value for the product code.

            * `ELECTRONIC_GOOD`: Electronic product other than software.

            * `ELECTRONIC_SOFTWARE`: Software distributed electronically rather than on physical media.

            * `GIFT_CERTIFICATE`: Gift certificate.

            * `HANDLING_ONLY`: A fee that covers the merchant''s administrative selling costs.

            * `SERVICE`: An arbitrary service that a merchant performs for customers.

            * `SHIPPING_ONLY`: Charge for transporting tangible personal property from the merchant to the customer.

            * `SHIPPING_AND_HANDLING`: Handling & Shipping fees combined.

            * `SUBSCRIPTION`: Subscription to a website or other type of subscribable content.'
          example: SHIPPING_ONLY
          enum:
          - ADULT_CONTENT
          - COUPON
          - DEFAULT
          - ELECTRONIC_GOOD
          - ELECTRONIC_SOFTWARE
          - GIFT_CERTIFICATE
          - HANDLING_ONLY
          - SERVICE
          - SHIPPING_ONLY
          - SHIPPING_AND_HANDLING
          - SUBSCRIPTION
        distributor_product_sku:
          maxLength: 15
          minLength: 0
          type: string
          description: Product's identifier code.
          example: '12345678'
        gift_card_currency:
          type: string
          description: If riskcheck_type is GIFT_CERTIFICATE, this field must contain the ISO-4217-3 alpha-numeric currency code used for the gift card purchase.
          example: EUR
        product_risk:
          type: string
          description: 'Indicates the product''s risk level. This field may contain one of the following values:


            * `LOW`: The product is associated with a low number of chargebacks.

            * `NORMAL`: The product is associated with a normal number of chargebacks.

            * `HIGH`: The product is associated with a high number of chargebacks.

            '
          example: NORMAL
          enum:
          - LOW
          - NORMAL
          - HIGH
        risk_check_passenger:
          $ref: '#/components/schemas/RiskCheckPassenger'
        shipping_destination_types:
          type: string
          description: "Destination to where the item will be shipped.\n                \n* `COMMERCIAL`\n* `RESIDENTIAL`\n* `STORE`\n"
          example: RESIDENTIAL
          enum:
          - COMMERCIAL
          - RESIDENTIAL
          - STORE
        is_gift:
          type: boolean
          description: 'If billing and shipping addresses are different:


            true: Order risk increases slightly.

            false: Order risk increases significantly.

            '
          example: true
      description: Service specific basket item fields for riskcheck related use cases.
    MerchantRiskIndicators:
      type: object
      properties:
        delivery_email_address:
          type: string
          description: The delivery email address.
        delivery_timeframe:
          type: string
          description: The delivery time frame for this order.
          enum:
          - ELECTRONIC
          - MORE_THAN_ONE_DAY
          - OVERNIGHT
          - SAME_DAY
        gift_card_amount:
          type: string
          description: The gift card amount.
        gift_card_count:
          type: string
          description: The gift card count.
        gift_card_currency:
          type: string
          description: The gift card currency.
        pre_order_date:
          type: string
          description: The preorder date. Full-date notation as defined by RFC 3339 section 5.6.
          format: date
        pre_order_purchase_indicator:
          type: string
          description: The preorder purchase indicator.
          enum:
          - AVAILABLE
          - FUTURE
        reordered_items_indicator:
          type: string
          description: The reordered items indicator.
          enum:
          - FIRST
          - REORDERED
        shipping_indicator:
          type: string
          description: The shipping indicator.
          enum:
          - DIGITAL
          - OTHER
          - BILLING_ADDRESS
          - DIFFERENT_ADDRESS
          - STORE
          - VERIFIED_ADDRESS
    AddressPaydirektData:
      type: object
      properties:
        addon:
          maxLength: 100
          minLength: 0
          type: string
          description: Additional address information.
          example: Apartment 12A
      description: Paydirekt specific address fields.
    CustomerInformation:
      type: object
      properties:
        customer_id:
          maxLength: 50
          minLength: 1
          pattern: '[\/0-9a-zA-Z_.:,\-+*$%]+'
          type: string
          description: Technical identification number of a customer.
          example: C1234-AX
        date_of_birth:
          type: string
          description: Customer's date of birth.
          format: date
          example: '1975-06-30'
        gender:
          type: string
          description: "Customer's gender.\n                \n* `DIVERSE`\n* `FEMALE`\n* `MALE`\n"
          example: FEMALE
          enum:
          - DIVERSE
          - FEMALE
          - MALE
        title:
          type: string
          description: Customer's title.
          example: Ms
        personal_identifications:
          type: array
          description: Customer's available identifications.
          items:
            $ref: '#/components/schemas/PersonalIdentification'
        contacts:
          $ref: '#/components/schemas/Contacts'
        extensions:
          $ref: '#/components/schemas/CustomerInformationExtensions'
      description: Details of a customer.
    RiskmanagementTravelInformationLeg:
      type: object
      properties:
        origination:
          maxLength: 3
          minLength: 0
          type: string
          description: 'Use to specify the airport code for the origin of the leg of the trip, which is designated by the pound (#) symbol in the field name. This code is usually three digits long, for example: SFO = San Francisco. Do not use the colon (:) or the dash (-). For airport codes, see the IATA Airline and Airport Code Search.'
          example: SFO
        destination:
          maxLength: 3
          minLength: 0
          type: string
          description: 'Use to specify the airport code for the destination of the leg of the trip, which is designated by the pound (#) symbol in the field name. This code is usually three digits long, for example: SFO = San Francisco. Do not use the colon (:) or the dash (-). For airport codes, see the IATA Airline and Airport Code Search.'
          example: LHR
        carrier_code:
          maxLength: 2
          minLength: 0
          type: string
          description: International Air Transport Association (IATA) code for the carrier for this leg of the trip. Required for each leg.
          example: LH
        departure_date:
          maxLength: 8
          minLength: 8
          type: string
          description: Departure date for the first leg of the trip.
          example: '20240212'
      description: Information about a leg of the complete journey.
    RiskmanErrorInformation:
      type: object
      properties:
        error_field_information:
          type: array
          description: Detailed field level information regarding the reason why the request was rejected.
          items:
            $ref: '#/components/schemas/RiskmanErrorFieldInformation'
        error_message:
          type: string
          description: The reason why the request was rejected.
          example: Declined - The request is missing one or more fields.
        error_reason:
          type: string
          description: The reason why the request was rejected from the backend system.
          example: MISSING_FIELD
        error_status:
          type: string
          description: The status why the request was rejected from the backend system.
          example: INVALID_REQUEST
      description: Detailed error information including fields which had been the reasons for unsuccessful processing.
    AlternativeAddressData:
      type: object
      properties:
        street:
          maxLength: 100
          minLength: 0
          type: string
          description: The street.
          example: Main Street
        street_number:
          maxLength: 10
          minLength: 0
          type: string
          description: The street number.
          example: 123a
      description: Alternative address fields.
    MerchantInformationExtensions:
      type: object
      properties:
        klarna_data:
          $ref: '#/components/schemas/MerchantInformationKlarnaData'
      description: Service specific merchant information fields.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
