openapi: 3.2.0
info:
  title: Merchant-Server II REST Services Forms API
  version: v2.1
  description: The Forms API contains endpoints to initialize a form service interaction. It allows the merchant to redirect the customer to a customizable frontend page where the customer may enter sensitive payment data. After receipt of the necessary information, the frontend will carry out the transaction and redirect the customer back to the merchant’s page.
servers:
- url: https://testmerch.directpos.de/rest-api/services/v2.1/
security:
- bearerAuth: []
tags:
- name: Forms
  description: The Forms API contains endpoints to initialize a form service interaction. It allows the merchant to redirect the customer to a customizable frontend page where the customer may enter sensitive payment data. After receipt of the necessary information, the frontend will carry out the transaction and redirect the customer back to the merchant’s page.
paths:
  /form/alias/bankaccount:
    post:
      tags:
      - Forms
      summary: Creates a form to enter bank account data and create an alias for it
      operationId: formAliasBankAccountPost
      parameters:
      - name: Merchant-ID
        in: header
        description: Unique identification of the merchant for whom the transaction is carried out. This parameter is  required if the `Merchant-ID` cannot be derived from the `client_id` you used for authentication.
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 10
          minLength: 10
          pattern: '[0-9]+'
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FormRegisterAliasRequest'
            example:
              alias: AL1234_XY
              form_customer_continuation:
                success_url: https://www.example.com/target.php?success
                error_url: https://www.example.com/target.php?error
                notification_failed_url: https://www.example.com/target.php?notifyfailed
              callback:
                notify_url: http://www.example.com/notify
      responses:
        '400':
          description: Response in case of an error. Includes a response code and an error message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '401':
          description: Unauthorized request. Response body may be empty.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '200':
          description: Values required to initialize a form interaction. No transaction is created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormNoTxResponse'
  /form/alias/creditcard:
    post:
      tags:
      - Forms
      summary: Creates a form to enter credit card data and create an alias for it
      operationId: formAliasCreditCardPost
      parameters:
      - name: Merchant-ID
        in: header
        description: Unique identification of the merchant for whom the transaction is carried out. This parameter is  required if the `Merchant-ID` cannot be derived from the `client_id` you used for authentication.
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 10
          minLength: 10
          pattern: '[0-9]+'
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FormRegisterAliasRequest'
            example:
              alias: AL1234_XY
              form_customer_continuation:
                success_url: https://www.example.com/target.php?success
                error_url: https://www.example.com/target.php?error
                notification_failed_url: https://www.example.com/target.php?notifyfailed
              callback:
                notify_url: http://www.example.com/notify
      responses:
        '400':
          description: Response in case of an error. Includes a response code and an error message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '401':
          description: Unauthorized request. Response body may be empty.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '200':
          description: Values required to initialize a form interaction. No transaction is created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormNoTxResponse'
  /form/alias/klarna:
    post:
      tags:
      - Forms
      summary: Creates an authorization form for a Klarna payment alias
      operationId: formAliasKlarnaPost
      parameters:
      - name: Merchant-ID
        in: header
        description: Unique identification of the merchant for whom the transaction is carried out. This parameter is  required if the `Merchant-ID` cannot be derived from the `client_id` you used for authentication.
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 10
          minLength: 10
          pattern: '[0-9]+'
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FormRegisterAliasKlarnaRequest'
            example:
              alias: AL1234_XY
              form_customer_continuation:
                success_url: https://www.example.com/target.php?success
                error_url: https://www.example.com/target.php?error
                notification_failed_url: https://www.example.com/target.php?notifyfailed
              callback:
                notify_url: http://www.example.com/notify
              customer_information:
                date_of_birth: '1980-01-01'
              shipping_address:
                title: Ms
                first_name: Jane
                last_name: Doe
                email: test_jane@gmail.com
                address_line_1: Main Street 123
                address_line_2: Building A
                address_line_3: Apartment 12
                postal_code: '80469'
                phone_contact:
                  phone_type: MOBILE
                  phone_number: '+4917614287464'
                city: Munich
                country: DE
                extensions: {}
              billing_address:
                title: Ms
                first_name: Jane
                last_name: Doe
                email: test_jane@gmail.com
                address_line_1: Main Street 123
                address_line_2: Building A
                address_line_3: Apartment 12
                postal_code: '80469'
                phone_contact:
                  phone_type: MOBILE
                  phone_number: '+4917614287464'
                city: Munich
                country: DE
                extensions:
                  klarna_data:
                    custom_payment_method_ids: []
              basket:
                basket_id: basket123456
                invoice_id: RE123345
                soft_descriptor: 800-123-1234
                shipping_costs:
                  amount: 200
                  currency: EUR
                basket_type: DIGITAL
                extensions:
                  paypal_data:
                    custom_id: CUSTOMID123
                basket_items:
                - name: A fine shirt
                  description: BI123456
                  reference: UGG-BB-PUR-06
                  quantity:
                    quantity_amount: 5
                    quantity_unit: pcs
                  unit_price:
                    net: 100
                    gross: 100
                    currency: EUR
                    tax: 1900
                  discount:
                    net: 0
                    gross: 0
                    currency: EUR
                    tax: 1900
                  extensions:
                    klarna_data:
                      klarna_type: PHYSICAL
                      image_url: https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Camisade_pu%C3%B1o_doble.jpg/256px-Camisade_pu%C3%B1o_doble.jpg
              amount_total:
                amount: 700
                currency: EUR
      responses:
        '400':
          description: Response in case of an error. Includes a response code and an error message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '401':
          description: Unauthorized request. Response body may be empty.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '200':
          description: Values required to initialize a form interaction.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormResponse'
  /form/event/{event_id}/checkout/{tx_action}:
    post:
      tags:
      - Forms
      summary: Creates a redirect to a checkout page where the customer may choose one of the…
      operationId: formCheckoutPost
      parameters:
      - name: Merchant-ID
        in: header
        description: Unique identification of the merchant for whom the transaction is carried out. This parameter is  required if the `Merchant-ID` cannot be derived from the `client_id` you used for authentication.
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 10
          minLength: 10
          pattern: '[0-9]+'
          type: string
      - name: event_id
        in: path
        description: A unique ID for the event.
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 50
          minLength: 1
          pattern: '[\/0-9a-zA-Z_.:,\-+*$%]+'
          type: string
      - name: tx_action
        in: path
        description: The action of an initial transaction.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - authorization
          - preauthorization
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FormCheckoutRequest'
            example:
              checkout_page_configuration:
                direct_debit_data:
                  mandate:
                    reference: MDT1620213727383XY
                    mandate_name: Sample mandate name
                    signed_on: '2020-12-30'
                    mandate_sequence_type: ONEOFF
                request_to_pay_data:
                  customer_id: testCustrID
                checkout_entry_sorting_order:
                - DIRECTDEBIT
                - REQUEST_TO_PAY
              amount_total:
                amount: 100
                currency: EUR
              form_customer_continuation:
                success_url: https://www.example.com/target.php?success
                error_url: https://www.example.com/target.php?error
                notification_failed_url: https://www.example.com/target.php?notifyfailed
              callback:
                notify_url: http://www.example.com/notify
      responses:
        '400':
          description: Response in case of an error. Includes a response code and an error message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '401':
          description: Unauthorized request. Response body may be empty.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '200':
          description: "Values required to initialize a form interaction, a return code and a message. In case of a known business or persistence error,\n                    only error code and message are provided."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormResponse'
  /form/event/{event_id}/creditcard/{tx_action}:
    post:
      tags:
      - Forms
      summary: Creates a form to enter credit card data and then proceed with the transaction…
      operationId: formCreditCardPost
      parameters:
      - name: Merchant-ID
        in: header
        description: Unique identification of the merchant for whom the transaction is carried out. This parameter is  required if the `Merchant-ID` cannot be derived from the `client_id` you used for authentication.
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 10
          minLength: 10
          pattern: '[0-9]+'
          type: string
      - name: event_id
        in: path
        description: A unique ID for the event.
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 50
          minLength: 1
          pattern: '[\/0-9a-zA-Z_.:,\-+*$%]+'
          type: string
      - name: tx_action
        in: path
        description: The action of an initial transaction.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - authorization
          - preauthorization
          - verify-mop
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FormCreditCardRequest'
            examples:
              exampleccv2.1a:
                summary: Sample initialization of a credit card transaction.
                description: Redirect the customer to the URL received in the result.
                value:
                  amount_total:
                    amount: 100
                    currency: EUR
                  form_customer_continuation:
                    success_url: https://www.example.com/target.php?success
                    error_url: https://www.example.com/target.php?error
                    notification_failed_url: https://www.example.com/target.php?notifyfailed
                  callback:
                    notify_url: http://www.example.com/notify
                  billing_address:
                    first_name: Heinz
                    last_name: Müller
                    email: heinz@email.com
                    address_line_1: Rohrteichstr 18
                    address_line_2: EG R. 184
                    address_line_3: Wohnhaus
                    state: SN
                    postal_code: '04347'
                    city: Leipzig
                    country: DE
      responses:
        '400':
          description: Response in case of an error. Includes a response code and an error message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '401':
          description: Unauthorized request. Response body may be empty.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '200':
          description: "Values required to initialize a form interaction, a return code and a message. In case of a known business or persistence error,\n                    only error code and message are provided."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormResponse'
  /form/event/{event_id}/directdebit/{tx_action}:
    post:
      tags:
      - Forms
      summary: Creates a form to enter bank account data and then proceed with an SDD…
      operationId: formDirectDebitPost
      parameters:
      - name: Merchant-ID
        in: header
        description: Unique identification of the merchant for whom the transaction is carried out. This parameter is  required if the `Merchant-ID` cannot be derived from the `client_id` you used for authentication.
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 10
          minLength: 10
          pattern: '[0-9]+'
          type: string
      - name: event_id
        in: path
        description: A unique ID for the event.
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 50
          minLength: 1
          pattern: '[\/0-9a-zA-Z_.:,\-+*$%]+'
          type: string
      - name: tx_action
        in: path
        description: The action of an initial transaction.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - authorization
          - preauthorization
          - verify-mop
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FormDirectDebitRequest'
            example:
              amount_total:
                amount: 100
                currency: EUR
              direct_debit_data:
                mandate:
                  reference: MDT1620213727383XY
                  mandate_name: Sample mandate name
                  signed_on: '2020-12-30'
                  mandate_sequence_type: ONEOFF
              form_customer_continuation:
                success_url: https://www.example.com/target.php?success
                error_url: https://www.example.com/target.php?error
                notification_failed_url: https://www.example.com/target.php?notifyfailed
              callback:
                notify_url: http://www.example.com/notify
      responses:
        '400':
          description: Response in case of an error. Includes a response code and an error message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '401':
          description: Unauthorized request. Response body may be empty.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '200':
          description: "Values required to initialize a form interaction, a return code and a message. \n                    In case of a known business or persistence error,\n                    only error code and message are provided."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormResponse'
  /form/event/{event_id}/giropay/{tx_action}:
    post:
      tags:
      - Forms
      summary: Initializes a giropay transaction (payment, avs, or avspayment)
      description: Start a new giropay transaction sequence. Customers should be redirected to the returned URL.
      operationId: formGiropayInitPost
      parameters:
      - name: Merchant-ID
        in: header
        description: Unique identification of the merchant for whom the transaction is carried out. This parameter is  required if the `Merchant-ID` cannot be derived from the `client_id` you used for authentication.
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 10
          minLength: 10
          pattern: '[0-9]+'
          type: string
      - name: event_id
        in: path
        description: A unique ID for the event.
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 50
          minLength: 1
          pattern: '[\/0-9a-zA-Z_.:,\-+*$%]+'
          type: string
      - name: tx_action
        in: path
        description: The action of an initial transaction.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - payment
          - avs
          - avspayment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FormGiropayRequest'
            examples:
              sample21:
                summary: Sample giropay initialization request.
                description: Start a new giropay transaction sequence.
                value:
                  form_customer_continuation:
                    success_url: https://www.example.com/target.php?success
                    error_url: https://www.example.com/target.php?error
                    notification_failed_url: https://www.example.com/target.php?notifyfailed
                  callback:
                    notify_url: http://www.example.com/notify
                  amount_total:
                    amount: 100
                    currency: EUR
                  basket:
                    basket_id: basketId1639066152436
                    order_amount:
                      amount: 900
                      currency: EUR
                    shipping_costs:
                      amount: 100
                      currency: EUR
                    basket_type: PHYSICAL
                    basket_items:
                    - name: PhysicalBasketItem
                      description: A basket item
                      quantity:
                        quantity_amount: 1
                        quantity_unit: pcs
                      unit_price:
                        net: 756
                        gross: 900
                        currency: EUR
                        tax: 1900
      responses:
        '400':
          description: Response in case of an error. Includes a response code and an error message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '401':
          description: Unauthorized request. Response body may be empty.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '200':
          description: "A return code and a message, accompanied by an appropriate redirect URL. In case of a known business or persistence error,\n                    only error code and message are provided."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormResponse'
  /form/event/{event_id}/klarna/{tx_action}:
    post:
      tags:
      - Forms
      summary: Initializes a Klarna transaction (pre-authorization or authorization)
      description: Start a new Klarna transaction sequence. Customers should be redirected to the returned URL.
      operationId: formKlarnaInitPost
      parameters:
      - name: Merchant-ID
        in: header
        description: Unique identification of the merchant for whom the transaction is carried out. This parameter is  required if the `Merchant-ID` cannot be derived from the `client_id` you used for authentication.
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 10
          minLength: 10
          pattern: '[0-9]+'
          type: string
      - name: event_id
        in: path
        description: A unique ID for the event.
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 50
          minLength: 1
          pattern: '[\/0-9a-zA-Z_.:,\-+*$%]+'
          type: string
      - name: tx_action
        in: path
        description: The action of an initial transaction.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - authorization
          - preauthorization
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FormKlarnaRequest'
            example:
              shipping_address:
                title: Ms
                first_name: Jane
                last_name: Doe
                email: test_jane@gmail.com
                address_line_1: Main Street 123
                address_line_2: Building A
                address_line_3: Apartment 12
                postal_code: '80469'
                city: Munich
                state: BY
                country: DE
                extensions:
                  alternative_address_data:
                    street: Main Street
                    street_number: 123a
              billing_address:
                title: Ms
                first_name: Jane
                last_name: Doe
                email: test_jane@gmail.com
                address_line_1: Main Street 123
                address_line_2: Building A
                address_line_3: Apartment 12
                postal_code: '80469'
                city: Munich
                state: BY
                country: DE
              basket:
                basket_id: basket123456
                invoice_id: RE123345
                soft_descriptor: 800-123-1234
                shipping_costs:
                  amount: 200
                  currency: EUR
                basket_type: PHYSICAL
                basket_items:
                - name: A fine shirt
                  description: BI123456
                  reference: UGG-BB-PUR-06
                  quantity:
                    quantity_amount: 5
                    quantity_unit: pcs
                  unit_price:
                    net: 10000
                    gross: 11900
                    currency: EUR
                    tax: 1900
                  item_discount:
                    net: 0
                    gross: 0
                    currency: EUR
                    tax: 1900
                  extensions:
                    klarna_data:
                      image_url: https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Camisade_pu%C3%B1o_doble.jpg/256px-Camisade_pu%C3%B1o_doble.jpg
              customer_information:
                customer_id: C1234-AX
                date_of_birth: '1975-06-30'
                gender: FEMALE
                title: Ms
                personal_identifications:
                - type: PASSPORT
                  id: T220001297
                  issued_by: DE
              form_data:
                locale: en
              form_customer_continuation:
                success_url: https://www.example.com/target.php?success
                error_url: https://www.example.com/target.php?error
                notification_failed_url: https://www.example.com/target.php?notifyfailed
              callback:
                notify_url: http://www.example.com/notify
              amount_total:
                amount: 59700
                currency: EUR
              merchant_information:
                merchant_data_1: merchantData1
                merchant_data_2: merchantData2
                merchant_data_3: merchantData3
      responses:
        '400':
          description: Response in case of an error. Includes a response code and an error message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '401':
          description: Unauthorized request. Response body may be empty.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '200':
          description: "A return code and a message, accompanied by an appropriate redirect URL. In case of a known business or persistence error,\n                    only error code and message are provided."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormResponse'
  /form/event/{event_id}/p24:
    post:
      tags:
      - Forms
      summary: Initializes a Request to P24 transaction (authorization)
      operationId: formP24Post
      parameters:
      - name: Merchant-ID
        in: header
        description: Unique identification of the merchant for whom the transaction is carried out. This parameter is  required if the `Merchant-ID` cannot be derived from the `client_id` you used for authentication.
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 10
          minLength: 10
          pattern: '[0-9]+'
          type: string
      - name: event_id
        in: path
        description: A unique ID for the event.
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 50
          minLength: 1
          pattern: '[\/0-9a-zA-Z_.:,\-+*$%]+'
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FormP24Request'
            example:
              form_customer_continuation:
                success_url: https://www.example.com/target.php?success
                error_url: https://www.example.com/target.php?error
                notification_failed_url: https://www.example.com/target.php?notifyfailed
              billing_address:
                first_name: Heinz
                last_name: Müller
                email: heinz@email.com
                address_line_1: Rohrteichstr 18
                address_line_2: EG R. 184
                address_line_3: Wohnhaus
                state: SN
                postal_code: '04347'
                city: Leipzig
                country: DE
              callback:
                notify_url: http://www.example.com/notify
              amount_total:
                amount: 100
                currency: EUR
      responses:
        '400':
          description: Response in case of an error. Includes a response code and an error message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '401':
          description: Unauthorized request. Response body may be empty.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '200':
          description: "Values required to initialize a form interaction, a return code and a message. In case of a known business or persistence error,\n                    only error code and message are provided."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormResponse'
  /form/event/{event_id}/psd2/authorization:
    post:
      tags:
      - Forms
      summary: Initializes a PSD2 payment transaction (authorization)
      operationId: formPSD2AuthorizationPost
      parameters:
      - name: Merchant-ID
        in: header
        description: Unique identification of the merchant for whom the transaction is carried out. This parameter is  required if the `Merchant-ID` cannot be derived from the `client_id` you used for authentication.
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 10
          minLength: 10
          pattern: '[0-9]+'
          type: string
      - name: event_id
        in: path
        description: A unique ID for the event.
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 50
          minLength: 1
          pattern: '[\/0-9a-zA-Z_.:,\-+*$%]+'
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FormPSD2AuthorizationRequest'
            example:
              amount_total:
                amount: 100
                currency: EUR
              callback:
                notify_url: http://www.example.com/notify
              form_customer_continuation:
                success_url: https://www.example.com/target.php?success
                error_url: https://www.example.com/target.php?error
                notification_failed_url: https://www.example.com/target.php?notifyfailed
              form_data:
                locale: fr
              psd2_pis_data:
                processing_options:
                - INSTANT_IF_POSSIBLE
      responses:
        '400':
          description: Response in case of an error. Includes a response code and an error message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '401':
          description: Unauthorized request. Response body may be empty.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '200':
          description: "Values required to initialize a form interaction, a return code and a message. In case of a known business or persistence error,\n                    only error code and message are provided."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormResponse'
  /form/event/{event_id}/psd2/reversal:
    post:
      tags:
      - Forms
      summary: Initializes a cancellation (reversal) of a PSD2 future dated payment
      operationId: formPSD2ReversalPost
      parameters:
      - name: Merchant-ID
        in: header
        description: Unique identification of the merchant for whom the transaction is carried out. This parameter is  required if the `Merchant-ID` cannot be derived from the `client_id` you used for authentication.
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 10
          minLength: 10
          pattern: '[0-9]+'
          type: string
      - name: event_id
        in: path
        description: A unique ID for the event.
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 50
          minLength: 1
          pattern: '[\/0-9a-zA-Z_.:,\-+*$%]+'
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FormPSD2ReversalRequest'
            example:
              callback:
                notify_url: http://www.example.com/notify
              form_customer_continuation:
                success_url: https://www.example.com/target.php?success
                error_url: https://www.example.com/target.php?error
                notification_failed_url: https://www.example.com/target.php?notifyfailed
      responses:
        '400':
          description: Response in case of an error. Includes a response code and an error message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '401':
          description: Unauthorized request. Response body may be empty.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '200':
          description: "Values required to initialize a form interaction, a return code and a message. In case of a known business or persistence error,\n                    only error code and message are provided."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormPSD2ReversalResponse'
              examples:
                sample_psd2reversal_response_-_transaction_processed:
                  summary: The transaction has been processed, no further action is required.
                  description: The transaction has been processed, no further action is required.
                  value:
                    outcome: PROCESSED
                    processed:
                      amount_total:
                        amount: 100
                        currency: EUR
                      tx_action: reversal
                      transaction_info:
                        type: bankaccount
                        transaction_bankaccount_info:
                          bank_account:
                            bic: TESTDEL0BK2
                            iban: DE3912345679123456****
                      rc: '0'
                      message: Transaction successful.
                      event_id: e1661530099420
                      tx_id: 7PzZdYtamuTcTl8yhMpPXD
                    rc: '0'
                    message: Transaction successful.
                  x-ApiExampleVersioning:
                    ApiExampleVersioningFirst: v2.1
                sample_psd2reversal_response_-_authorization_required:
                  summary: The customer has to authorize the reversal.
                  description: The customer has to authorize the reversal.
                  value:
                    outcome: REDIRECT_REQUIRED
                    rc: '0'
                    message: Transaction successful.
                    tx_id: pOMnecOgs6cxDv34jrTVx9
                    redirect_url: https://testmerch.directpos.de/web-api/de_DE/R.po?n=KMpGwCyjXoWq85VF9pKl4oMD9JXqYMT3yqgamsbhGjAm21
  /form/event/{event_id}/paypal/{tx_action}:
    post:
      tags:
      - Forms
      summary: Initializes a PayPal transaction (pre-authorization or authorization)
      description: Start a new PayPal transaction sequence. Customers should be redirected to the returned URL.
      operationId: formPayPalInitPost
      parameters:
      - name: Merchant-ID
        in: header
        description: Unique identification of the merchant for whom the transaction is carried out. This parameter is  required if the `Merchant-ID` cannot be derived from the `client_id` you used for authentication.
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 10
          minLength: 10
          pattern: '[0-9]+'
          type: string
      - name: event_id
        in: path
        description: A unique ID for the event.
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 50
          minLength: 1
          pattern: '[\/0-9a-zA-Z_.:,\-+*$%]+'
          type: string
      - name: tx_action
        in: path
        description: The action of an initial transaction.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - authorization
          - preauthorization
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FormPayPalRequest'
            example:
              form_customer_continuation:
                success_url: https://www.example.com/target.php?success
                error_url: https://www.example.com/target.php?error
                notification_failed_url: https://www.example.com/target.php?notifyfailed
              callback:
                notify_url: http://www.example.com/notify
              amount_total:
                amount: 100
                currency: EUR
      responses:
        '400':
          description: Response in case of an error. Includes a response code and an error message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '401':
          description: Unauthorized request. Response body may be empty.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '200':
          description: "A return code and a message, accompanied by an appropriate redirect URL. In case of a known business or persistence error,\n                    only error code and message are provided."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormResponse'
  /form/event/{event_id}/paydirekt/{tx_action}:
    post:
      tags:
      - Forms
      summary: Initializes a paydirekt transaction (pre-authorization, authorization)
      description: Start a new paydirekt transaction sequence. Customers should be redirected to the returned URL.
      operationId: formPaydirektInitPost
      parameters:
      - name: Merchant-ID
        in: header
        description: Unique identification of the merchant for whom the transaction is carried out. This parameter is  required if the `Merchant-ID` cannot be derived from the `client_id` you used for authentication.
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 10
          minLength: 10
          pattern: '[0-9]+'
          type: string
      - name: event_id
        in: path
        description: A unique ID for the event.
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 50
          minLength: 1
          pattern: '[\/0-9a-zA-Z_.:,\-+*$%]+'
          type: string
      - name: tx_action
        in: path
        description: The action of an initial transaction.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - authorization
          - preauthorization
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FormPaydirektRequest'
            examples:
              sample21:
                summary: Sample paydirekt initialization request.
                description: Start a new paydirekt transaction sequence.
                value:
                  form_customer_continuation:
                    success_url: https://www.example.com/target.php?success
                    error_url: https://www.example.com/target.php?error
                    notification_failed_url: https://www.example.com/target.php?notifyfailed
                  callback:
                    notify_url: http://www.example.com/notify
                  billing_address:
                    first_name: Heinz
                    last_name: Müller
                    email: heinz@email.com
                    address_line_1: Rohrteichstr 18
                    address_line_2: EG R. 184
                    address_line_3: Wohnhaus
                    state: SN
                    postal_code: '04347'
                    city: Leipzig
                    country: DE
                  basket:
                    basket_id: basketId1639066152436
                    order_amount:
                      amount: 900
                      currency: EUR
                    shipping_costs:
                      amount: 100
                      currency: EUR
                    basket_type: PHYSICAL
                    basket_items:
                    - name: PhysicalBasketItem
                      description: A basket item
                      quantity:
                        quantity_amount: 1
                        quantity_unit: pcs
                      unit_price:
                        net: 756
                        gross: 900
                        currency: EUR
                        tax: 1900
                  amount_total:
                    amount: 100
                    currency: EUR
      responses:
        '400':
          description: Response in case of an error. Includes a response code and an error message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '401':
          description: Unauthorized request. Response body may be empty.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '200':
          description: "A return code and a message, accompanied by an appropriate redirect URL. In case of a known business or persistence error,\n                    only error code and message are provided."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormResponse'
  /form/event/{event_id}/psd2/account_info:
    post:
      tags:
      - Forms
      summary: Initializes a PSD2 account information transaction
      operationId: formPsd2AccountInfoPost
      parameters:
      - name: Merchant-ID
        in: header
        description: Unique identification of the merchant for whom the transaction is carried out. This parameter is  required if the `Merchant-ID` cannot be derived from the `client_id` you used for authentication.
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 10
          minLength: 10
          pattern: '[0-9]+'
          type: string
      - name: event_id
        in: path
        description: A unique ID for the event.
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 50
          minLength: 1
          pattern: '[\/0-9a-zA-Z_.:,\-+*$%]+'
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FormPSD2AccountInfoRequest'
            example:
              bank_id: bG0E
              requested_details:
              - OWNER
              form_customer_continuation:
                success_url: https://www.example.com/target.php?success
                error_url: https://www.example.com/target.php?error
                notification_failed_url: https://www.example.com/target.php?notifyfailed
              callback:
                skip: true
      responses:
        '400':
          description: Response in case of an error. Includes a response code and an error message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '401':
          description: Unauthorized request. Response body may be empty.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '200':
          description: Values required to initialise a form interaction.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormResponse'
  /form/event/{event_id}/credittransfer:
    post:
      tags:
      - Forms
      summary: Initializes a Request to Pay transaction (authorization)
      operationId: formRequestToPayPost
      parameters:
      - name: Merchant-ID
        in: header
        description: Unique identification of the merchant for whom the transaction is carried out. This parameter is  required if the `Merchant-ID` cannot be derived from the `client_id` you used for authentication.
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 10
          minLength: 10
          pattern: '[0-9]+'
          type: string
      - name: event_id
        in: path
        description: A unique ID for the event.
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 50
          minLength: 1
          pattern: '[\/0-9a-zA-Z_.:,\-+*$%]+'
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FormRequestToPayRequest'
            example:
              amount_total:
                amount: 100
                currency: EUR
              callback:
                notify_url: http://www.example.com/notify
              form_customer_continuation:
                success_url: https://www.example.com/target.php?success
                error_url: https://www.example.com/target.php?error
                notification_failed_url: https://www.example.com/target.php?notifyfailed
              form_data:
                locale: fr
              request_to_pay_data:
                processing_options:
                - INSTANT_IF_POSSIBLE
      responses:
        '400':
          description: Response in case of an error. Includes a response code and an error message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '401':
          description: Unauthorized request. Response body may be empty.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '200':
          description: "Values required to initialize a form interaction, a return code and a message. In case of a known business or persistence error,\n                    only error code and message are provided."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormResponse'
  /form/event/{event_id}/sofort:
    post:
      tags:
      - Forms
      summary: Initializes a Sofortüberweisung transaction (authorization)
      description: Start a new Sofortüberweisung sequence. Customers should be redirected to the returned URL.
      operationId: formSofortUeberweisungInitPost
      parameters:
      - name: Merchant-ID
        in: header
        description: Unique identification of the merchant for whom the transaction is carried out. This parameter is  required if the `Merchant-ID` cannot be derived from the `client_id` you used for authentication.
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 10
          minLength: 10
          pattern: '[0-9]+'
          type: string
      - name: event_id
        in: path
        description: A unique ID for the event.
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 50
          minLength: 1
          pattern: '[\/0-9a-zA-Z_.:,\-+*$%]+'
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FormSofortUeberweisungRequest'
            examples:
              sample21:
                summary: Sample SOFORT initialization request.
                description: Start a new SOFORT Überweisung sequence.
                value:
                  form_customer_continuation:
                    success_url: https://www.example.com/target.php?success
                    error_url: https://www.example.com/target.php?error
                    notification_failed_url: https://www.example.com/target.php?notifyfailed
                  callback:
                    notify_url: http://www.example.com/notify
                  amount_total:
                    amount: 100
                    currency: EUR
                  basket:
                    basket_id: basketId1639066152436
      responses:
        '400':
          description: Response in case of an error. Includes a response code and an error message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '401':
          description: Unauthorized request. Response body may be empty.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '200':
          description: "A return code and a message, accompanied by an appropriate redirect URL. In case of a known business or persistence error,\n                    only error code and message are provided."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormResponse'
  /form/event/{event_id}/wechatpay:
    post:
      tags:
      - Forms
      summary: Initializes a Request to WeChat Pay transaction (authorization)
      operationId: formWeChatPayPost
      parameters:
      - name: Merchant-ID
        in: header
        description: Unique identification of the merchant for whom the transaction is carried out. This parameter is  required if the `Merchant-ID` cannot be derived from the `client_id` you used for authentication.
        required: false
        style: simple
        explode: false
        schema:
          maxLength: 10
          minLength: 10
          pattern: '[0-9]+'
          type: string
      - name: event_id
        in: path
        description: A unique ID for the event.
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 50
          minLength: 1
          pattern: '[\/0-9a-zA-Z_.:,\-+*$%]+'
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FormWeChatPayRequest'
            example:
              form_customer_continuation:
                success_url: https://www.example.com/target.php?success
                error_url: https://www.example.com/target.php?error
                notification_failed_url: https://www.example.com/target.php?notifyfailed
              billing_address:
                first_name: Heinz
                last_name: Müller
                email: heinz@email.com
                address_line_1: Rohrteichstr 18
                address_line_2: EG R. 184
                address_line_3: Wohnhaus
                state: SN
                postal_code: '04347'
                city: Leipzig
                country: DE
              callback:
                notify_url: http://www.example.com/notify
              amount_total:
                amount: 100
                currency: EUR
      responses:
        '400':
          description: Response in case of an error. Includes a response code and an error message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '401':
          description: Unauthorized request. Response body may be empty.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '200':
          description: "Values required to initialize a form interaction, a return code and a message. In case of a known business or persistence error,\n                    only error code and message are provided."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WeChatPayResponse'
components:
  schemas:
    ExpiryDate:
      required:
      - month
      - year
      type: object
      properties:
        year:
          maximum: 2099
          minimum: 2000
          type: integer
          description: The credit card expiry year.
          format: int32
          example: 2021
        month:
          maximum: 12
          minimum: 1
          type: integer
          description: The credit card expiry month.
          format: int32
          example: 11
      description: The credit card expiry date.
    Callback:
      type: object
      properties:
        notify_url:
          maxLength: 500
          minLength: 1
          type: string
          description: URL for the shop notification.
          example: https://www.example.com/notify/e1234123489
        additional_data:
          maxLength: 255
          minLength: 0
          type: string
          description: Freely allocatable field. Will be returned in the shop notification.
          example: SESSION_1234X
        skip:
          type: boolean
          description: If true the shop notification is skipped.
          default: false
      description: Data for the shop notification.
    FormCustomerContinuation:
      required:
      - success_url
      type: object
      properties:
        redirect:
          type: boolean
          description: "If `true` the customer will be redirected directly. If `false` a page with a link \"back to the shop\" is shown to the customer. \nFor paydirekt and PayPal the customer will always be redirected directly to the shop."
          example: true
        success_url:
          type: string
          description: URL the customer should be redirected to after a successful form service payment.
          example: https://www.example.com/success
        error_url:
          type: string
          description: URL the customer should be redirected to after a failed form service payment.
          example: https://www.example.com/error
        notification_failed_url:
          type: string
          description: URL the customer should be redirected to after a successful form service transaction for which the notification of your application failed.
          example: https://www.example.com/notificationFailed
      description: Includes data for redirecting a customer after a form service payment.
    CommonAddress:
      type: object
      properties:
        title:
          type: string
          description: Customer's title.
          example: Ms
        first_name:
          maxLength: 60
          minLength: 0
          type: string
          description: First name of the individual.
          example: Jane
        last_name:
          maxLength: 60
          minLength: 0
          type: string
          description: Last name of the individual.
          example: Doe
        company_name:
          maxLength: 60
          minLength: 0
          type: string
          description: Name of the company.
          example: Acme Inc.
        email:
          maxLength: 255
          minLength: 0
          type: string
          description: Email address of the individual.
          example: test_jane@gmail.com
        phone_contact:
          $ref: '#/components/schemas/PhoneContact'
        address_line_1:
          maxLength: 60
          minLength: 0
          type: string
          description: An address line.
          example: Main Street 123
        address_line_2:
          maxLength: 60
          minLength: 0
          type: string
          description: An address line. For 3DS this maps to additional1.
          example: Building A
        address_line_3:
          maxLength: 60
          minLength: 0
          type: string
          description: An address line. For 3DS this maps to additional2.
          example: Apartment 12
        postal_code:
          maxLength: 60
          minLength: 0
          type: string
          description: Postal code of the address.
          example: '80469'
        city:
          maxLength: 60
          minLength: 0
          type: string
          description: City of the address.
          example: Munich
        state:
          maxLength: 300
          minLength: 0
          type: string
          description: State or province of the address.
          example: BY
        country:
          maxLength: 2
          minLength: 2
          pattern: '[A-Z]{2}'
          type: string
          description: The ISO 3166 Alpha-2 country code (upper case) of the individual's homeland.
          example: DE
        extensions:
          $ref: '#/components/schemas/CommonAddressExtensions'
      description: Address data as applicable to most use cases.
    ErrorModel:
      required:
      - message
      - rc
      type: object
      properties:
        rc:
          type: string
          description: Four digit response code.
          example: '4001'
        message:
          type: string
          description: Describes the error.
          example: unexpected error
      description: Includes data returned in case of an error.
    TDSInfo:
      type: object
      properties:
        tds_auth_level:
          type: string
          description: "The 3D-Secure transaction status.\n        \n* `FULL`: Full 3-D Secure Authentification\n* `ATTEMPT`: 3-D Secure Authentification attempted\n"
          example: ATTEMPT
          enum:
          - FULL
          - ATTEMPT
        tds_version:
          maxLength: 10
          minLength: 0
          type: string
          description: 3-D Secure version.
        tds_ares_cardholder_info:
          maxLength: 80
          minLength: 0
          type: string
          description: '3-D Secure 2: ARes card holder information.'
        tds_ares_error_code:
          maxLength: 80
          minLength: 0
          type: string
          description: '3-D Secure 2: ARes error code.'
        tds_ares_error_component:
          maxLength: 80
          minLength: 0
          type: string
          description: '3-D Secure 2: ARes error component.'
        tds_ares_trans_status:
          maxLength: 1
          minLength: 0
          type: string
          description: '3-D Secure 2: ARes transaction status.'
          example: Y
        tds_ares_trans_status_reason:
          maxLength: 80
          minLength: 0
          type: string
          description: '3-D Secure 2: reason for the ARes transaction status.'
          example: MediumConfidence
        tds_rreq_challenge_cancel_indicator:
          maxLength: 80
          minLength: 0
          type: string
          description: Optional 3-D Secure 2 response parameter.
          example: CardholderCancel
        tds_rreq_error_code:
          maxLength: 80
          minLength: 0
          type: string
          description: '3-D Secure 2: RReq error code.'
        tds_rreq_error_component:
          maxLength: 80
          minLength: 0
          type: string
          description: '3-D Secure 2: RReq error component.'
        tds_rreq_trans_status:
          maxLength: 1
          minLength: 0
          type: string
          description: '3-D Secure 2: RReq transaction status.'
        tds_rreq_trans_status_reason:
          maxLength: 80
          minLength: 0
          type: string
          description: '3-D Secure 2: reason for the RReq transaction status.'
          example: MediumConfidence
        tds_ares_error_description:
          maxLength: 80
          minLength: 0
          type: string
          description: '3-D Secure 2: ARes error description.'
        tds_ares_error_detail:
          maxLength: 80
          minLength: 0
          type: string
          description: '3-D Secure 2: ARes error detail.'
        tds_rreq_error_description:
          maxLength: 80
          minLength: 0
          type: string
          description: '3-D Secure 2: RReq error description.'
        tds_rreq_error_detail:
          maxLength: 80
          minLength: 0
          type: string
          description: '3-D Secure 2: RReq error detail.'
      description: Contains 3-D Secure response data.  The use of this field requires an explicit activation. Please contact customer support.
    KlarnaProductIdentifier:
      type: object
      properties:
        brand:
          type: string
          description: The product's brand name as generally recognized by consumers. If no brand is available for a product, do not supply any value.
          example: Intel
        category_path:
          maxLength: 750
          minLength: 0
          type: string
          description: The product's category path as used in the merchant's webshop. Include the full and most detailed category and separate the segments with '>'.
          example: Electronics Store > Computers & Tablets > Desktops
        gtin:
          pattern: '[a-zA-Z0-9]*'
          type: string
          description: The product's Global Trade Item Number (GTIN). Common types of GTIN are EAN, ISBN or UPC. Dashes and spaces must be omitted.
          example: '735858293167'
        mpn:
          type: string
          description: The product's Manufacturer Part Number (MPN), which - together with the brand - uniquely identifies a product. Only submit MPNs assigned by a manufacturer and use the most specific MPN possible.
          example: BOXNUC5CPYH
      description: Klarna specific unique identification attributes of a product.
    TaxedAmountCurrency:
      required:
      - currency
      - gross
      - net
      - tax
      type: object
      properties:
        net:
          type: integer
          description: Amount of money excl. tax in the minor currency unit.
          format: int64
          example: 100
        gross:
          type: integer
          description: Amount of money incl. tax in the minor currency unit.
          format: int64
          example: 100
        currency:
          maxLength: 3
          minLength: 3
          pattern: '[A-Z]{3}'
          type: string
          description: ISO 4217 currency code, three uppercase letters.
          example: EUR
        tax:
          maximum: 10000
          minimum: 0
          type: integer
          description: Tax percentage. Non-negative value. The percentage value is represented with two implicit decimals.
          format: int32
          example: 1900
      description: Net and gross money amount accompanied by a tax percentage and currency.
    FormPayPalRequest:
      required:
      - form_customer_continuation
      type: object
      properties:
        billing_address:
          $ref: '#/components/schemas/CommonAddress'
        basket:
          $ref: '#/components/schemas/Basket'
        device_information:
          $ref: '#/components/schemas/DeviceInformation'
        shipping_address:
          $ref: '#/components/schemas/CommonAddress'
        merchant_information:
          $ref: '#/components/schemas/MerchantInformation'
        form_data:
          $ref: '#/components/schemas/FormData'
        form_customer_continuation:
          $ref: '#/components/schemas/FormCustomerContinuation'
        callback:
          $ref: '#/components/schemas/Callback'
        amount_total:
          $ref: '#/components/schemas/AmountCurrency'
        customer_information:
          $ref: '#/components/schemas/CustomerInformation'
        paypal_data:
          $ref: '#/components/schemas/FormPayPalData'
    FormCheckoutCreditCardData:
      type: object
      properties:
        tds_20_data:
          $ref: '#/components/schemas/TDS20Data'
        recurring_payment:
          maxLength: 50
          minLength: 1
          pattern: '[/0-9a-zA-Z_.:,+*$%-]+'
          type: string
          description: Identifier of a recurring credit card payment.
          example: 07H987Tx3PF9VxL5G7RfNp
        series_flag:
          type: string
          description: 'Designates a payment as part of a series of payments.


            * `INSTALMENT`: for example in the case of paying a fixed sum in multiple partial payments.

            * `RECURRING`: for example in the case of a subscription or standing order.

            * `UCOF`: when a card number alias is created for future payments with the same credit card. In this case use _alias_action_ with _action_ `CREATE` with the first payment and the card number alias with the following payments. You can use the _tx_action_ `verify-mop` with the first UCOF transaction to register a card number alias without a payment.'
          enum:
          - INSTALMENT
          - RECURRING
          - UCOF
        sequence_type:
          type: string
          description: "If this payment is part of a sequence of payments\n\n * `FIRST`: first payment of a sequence\n * `RECURRING`: follow-up payment\n * `FINAL`: last payment of a sequence\n"
          enum:
          - FINAL
          - FIRST
          - RECURRING
        processing_options:
          type: array
          description: Defines an additional processing option for credit card.
          example:
          - RISKCHECK
          items:
            type: string
            description: "Additional processing option for a credit card transaction.\n\n* `RISKCHECK`: before the transaction a risk check is performed. Only available if this \noption has been activated for the shop.\n    "
            example: RISKCHECK
            enum:
            - RISKCHECK
      description: Base credit card data to initialize a form checkout service interaction.
    RiskCheckAdditionalInformation:
      type: object
      properties:
        fingerprint_session_id:
          maxLength: 88
          minLength: 0
          type: string
          description: Fingerprint session ID of the device and request of the customer.
          example: '529572354443398504'
      description: Additional information for calculation of the risk of a transaction.
    TDS20CardHolderAccountInfo:
      type: object
      properties:
        account_id:
          type: string
          description: The account ID.
        account_age_indicator:
          type: string
          description: The account age indicator.
          enum:
          - LESS_30
          - MORE_30_LESS_60
          - MORE_60
          - NEVER
          - NOW
        password_change_indicator:
          type: string
          description: The account password change indicator.
          enum:
          - LESS_30
          - MORE_30_LESS_60
          - MORE_60
          - NEVER
          - NOW
        payment_account_age_indicator:
          type: string
          description: The payment account age indicator.
          enum:
          - LESS_30
          - MORE_30_LESS_60
          - MORE_60
          - NEVER
          - NOW
        account_change:
          type: string
          description: The account change.
          enum:
          - LESS_30
          - MORE_30_LESS_60
          - MORE_60
          - NOW
        shipping_address_age_indicator:
          type: string
          description: The shipping address age indicator.
          enum:
          - LESS_30
          - MORE_30_LESS_60
          - MORE_60
          - NOW
        account_change_date:
          type: string
          description: The account change date.
          format: date
        account_opened_date:
          type: string
          description: The account opened date.
          format: date
        password_change_date:
          type: string
          description: The password change date.
          format: date
        payment_account_age:
          type: string
          description: The payment account age.
          format: date
        shipping_address_age:
          type: string
          description: The shipping address age.
          format: date
        purchases_six_month_count:
          type: integer
          description: The 6 month purchases counter
          format: int32
        provisioning_day_count:
          type: integer
          description: The provisioning day counter
          format: int32
        transactions_day_count:
          type: integer
          description: The transaction day counter
          format: int32
        transactions_year_count:
          type: integer
          description: The transaction year counter
          format: int32
        shipping_name_indicator:
          type: string
          description: The shipping name indicator.
          enum:
          - DIFFERENT
          - IDENTICAL
        suspicious_account_activity:
          type: string
          description: The suspicious account activity.
          enum:
          - OBSERVED
          - NOT_OBSERVED
    PersonalIdentification:
      type: object
      properties:
        type:
          type: string
          description: 'Type of identification.


            * `NATIONAL`

            * `PASSPORT`

            * `CPF`

            * `CNPJ`

            * `CURP`

            * `SSN`

            * `DRIVERS_LICENSE`

            '
          example: PASSPORT
          enum:
          - NATIONAL
          - PASSPORT
          - CPF
          - CNPJ
          - CURP
          - SSN
          - DRIVERS_LICENSE
        id:
          maxLength: 26
          minLength: 0
          type: string
          description: The value of the identification type. For 'PASSPORT', this is the customer's passport number. For 'CPF', set this field to the Cadastro de Pessoas Fisicas.
          example: T220001297
        issued_by:
          type: string
          description: The government agency that issued the identification. For 'DRIVERS_LICENSE', this is the administrative area where it was issued. For 'PASSPORT', this is the country that issued the passport. Use the two-character state, province or territory codes respectively for United States and Canada.
          example: DE
      description: Customer's legal ID data.
    RiskCheckMerchantDefinedInformation:
      type: object
      properties:
        key:
          maxLength: 255
          minLength: 0
          type: string
          description: Merchant-defined data fields are not intended to and must not be used to capture personally identifying information. Accordingly, merchants are prohibited from capturing, obtaining, and/or transmitting any personally identifying information in or via the merchant-defined data fields. Personally identifying information includes, but is not limited to, address, credit card number, social security number, driver's license number, state-issued identification number, passport number, and card verification numbers (CVV, CVC2, CVV2, CID, CVN). In the event Riskmanagement discovers that a merchant is capturing and/or transmitting personally identifying information via the merchant-defined data fields, whether or not intentionally, Riskmanagement will immediately suspend the merchant's account, which will result in a rejection of any and all transaction requests submitted by the merchant after the point of suspension.
          example: MDD_001
        value:
          maxLength: 255
          minLength: 0
          type: string
          description: String value for the key.
          example: nightly order
      description: Merchant defined information of the order. This must not be used to capture personally identifying information.
    FormData:
      type: object
      properties:
        retries:
          maximum: 100
          minimum: 0
          type: integer
          description: 'Specifies how often the customer may retry the payment if the payment fails. Default: 0.'
          format: int32
        locale:
          type: string
          description: "Language of the form to be displayed according to ISO 639-1. The following languages are available:\n        `bg` - Bulgarian,\n        `ca` - Catalan,\n        `cs` - Czech,\n        `da` - Danish,\n        `de` - German,\n        `el` - Greek,\n        `en` - English,\n        `es` - Spanish,\n        `et` - Estonian,\n        `eu` - Basque,\n        `fi` - Finnish,\n        `fr` - French,\n        `gl` - Galician,\n        `hr` - Croatian,\n        `hu` - Hungarian,\n        `it` - Italian,\n        `ja` - Japanese,\n        `lt` - Lithuanian,\n        `lv` - Latvian,\n        `mt` - Maltese,\n        `nl` - Dutch,\n        `pl` - Polish,\n        `pt` - Portuguese,\n        `ro` - Romanian,\n        `ru` - Russian,\n        `sk` - Slovak,\n        `sl` - Slovenian,\n        `sv` - Swedish.\n        If not submitted, the German form will be displayed. Additional \"locales\" with\n        modified text exist for donations: `de_DE_sp` (donation, German) and `en_GB_sp`\n        (donation, English)."
          example: en
        label:
          type: array
          items:
            $ref: '#/components/schemas/FormLabel'
        theme_properties:
          type: array
          items:
            $ref: '#/components/schemas/FormThemeProperty'
      description: Data to customize forms with labels, theme, style properties etc.
    MerchantRiskIndicators:
      type: object
      properties:
        delivery_email_address:
          type: string
          description: The delivery email address.
        delivery_timeframe:
          type: string
          description: The delivery time frame for this order.
          enum:
          - ELECTRONIC
          - MORE_THAN_ONE_DAY
          - OVERNIGHT
          - SAME_DAY
        gift_card_amount:
          type: string
          description: The gift card amount.
        gift_card_count:
          type: string
          description: The gift card count.
        gift_card_currency:
          type: string
          description: The gift card currency.
        pre_order_date:
          type: string
          description: The preorder date. Full-date notation as defined by RFC 3339 section 5.6.
          format: date
        pre_order_purchase_indicator:
          type: string
          description: The preorder purchase indicator.
          enum:
          - AVAILABLE
          - FUTURE
        reordered_items_indicator:
          type: string
          description: The reordered items indicator.
          enum:
          - FIRST
          - REORDERED
        shipping_indicator:
          type: string
          description: The shipping indicator.
          enum:
          - DIGITAL
          - OTHER
          - BILLING_ADDRESS
          - DIFFERENT_ADDRESS
          - STORE
          - VERIFIED_ADDRESS
    FormPaydirektRequest:
      required:
      - form_customer_continuation
      type: object
      properties:
        billing_address:
          $ref: '#/components/schemas/CommonAddress'
        basket:
          $ref: '#/components/schemas/Basket'
        device_information:
          $ref: '#/components/schemas/DeviceInformation'
        shipping_address:
          $ref: '#/components/schemas/CommonAddress'
        merchant_information:
          $ref: '#/components/schemas/MerchantInformation'
        form_data:
          $ref: '#/components/schemas/FormData'
        form_customer_continuation:
          $ref: '#/components/schemas/FormCustomerContinuation'
        callback:
          $ref: '#/components/schemas/Callback'
        amount_total:
          $ref: '#/components/schemas/AmountCurrency'
        paydirekt_data:
          $ref: '#/components/schemas/FormPaydirektData'
    AddressPaydirektData:
      type: object
      properties:
        addon:
          maxLength: 100
          minLength: 0
          type: string
          description: Additional address information.
          example: Apartment 12A
      description: Paydirekt specific address fields.
    RiskmanErrorInformation:
      type: object
      properties:
        error_field_information:
          type: array
          description: Detailed field level information regarding the reason why the request was rejected.
          items:
            $ref: '#/components/schemas/RiskmanErrorFieldInformation'
        error_message:
          type: string
          description: The reason why the request was rejected.
          example: Declined - The request is missing one or more fields.
        error_reason:
          type: string
          description: The reason why the request was rejected from the backend system.
          example: MISSING_FIELD
        error_status:
          type: string
          description: The status why the request was rejected from the backend system.
          example: INVALID_REQUEST
      description: Detailed error information including fields which had been the reasons for unsuccessful processing.
    FormCheckoutRequest:
      required:
      - form_customer_continuation
      type: object
      properties:
        billing_address:
          $ref: '#/components/schemas/CommonAddress'
        basket:
          $ref: '#/components/schemas/Basket'
        device_information:
          $ref: '#/components/schemas/DeviceInformation'
        shipping_address:
          $ref: '#/components/schemas/CommonAddress'
        merchant_information:
          $ref: '#/components/schemas/MerchantInformation'
        form_data:
          $ref: '#/components/schemas/FormData'
        form_customer_continuation:
          $ref: '#/components/schemas/FormCustomerContinuation'
        callback:
          $ref: '#/components/schemas/Callback'
        amount_total:
          $ref: '#/components/schemas/AmountCurrency'
        account_information:
          $ref: '#/components/schemas/AccountInformation'
        customer_information:
          $ref: '#/components/schemas/CustomerInformation'
        merchant_risk_indicators:
          $ref: '#/components/schemas/MerchantRiskIndicators'
        merchant_defined_information:
          type: array
          items:
            $ref: '#/components/schemas/RiskCheckMerchantDefinedInformation'
        travel_information:
          $ref: '#/components/schemas/RiskCheckTravelInformation'
        risk_check_additional_information:
          $ref: '#/components/schemas/RiskCheckAdditionalInformation'
        bank_account:
          $ref: '#/components/schemas/BankAccount'
        processing_options:
          type: array
          items:
            type: string
            description: "Specific options for checkout page processing. Valid values are:\n\n    * `COOKIES_ACCEPTED`: The customer has already agreed to the use of cookies.\n    * `STORE_CHECKOUT_PAGE_PREFERENCES`: The customer has agreed to store checkout page preferences in cookie value. For this, the customer must also have agreed to the use of cookies.\n    "
            example: COOKIES_ACCEPTED
            enum:
            - COOKIES_ACCEPTED
            - STORE_CHECKOUT_PAGE_PREFERENCES
        checkout_page_configuration:
          $ref: '#/components/schemas/FormCheckoutConfiguration'
      description: Request data that is being used after selecting a payment method on the checkout page.
    MerchantInformationExtensions:
      type: object
      properties:
        klarna_data:
          $ref: '#/components/schemas/MerchantInformationKlarnaData'
      description: Service specific merchant information fields.
    FormPSD2AuthorizationRequest:
      required:
      - form_customer_continuation
      type: object
      properties:
        billing_address:
          $ref: '#/components/schemas/CommonAddress'
        basket:
          $ref: '#/components/schemas/Basket'
        device_information:
          $ref: '#/components/schemas/DeviceInformation'
        shipping_address:
          $ref: '#/components/schemas/CommonAddress'
        merchant_information:
          $ref: '#/components/schemas/MerchantInformation'
        form_data:
          $ref: '#/components/schemas/FormData'
        form_customer_continuation:
          $ref: '#/components/schemas/FormCustomerContinuation'
        callback:
          $ref: '#/components/schemas/Callback'
        amount_total:
          $ref: '#/components/schemas/AmountCurrency'
        psd2_pis_data:
          $ref: '#/components/schemas/FormPSD2PaymentData'
      description: Request data to initialize a form service interaction.
    FormPaydirektData:
      type: object
      properties:
        customer_id:
          maxLength: 50
          minLength: 1
          pattern: '[\/0-9a-zA-Z_.:,\-+*$%]+'
          type: string
          description: Technical identification number of a customer.
          example: C1234-AX
        minimum_age:
          maximum: 999
          minimum: 0
          type: integer
          description: The client must at a minimum be this old in order to legally conduct the transaction.
          format: int32
          example: 18
        processing_options:
          type: array
          items:
            type: string
            description: "Paydirekt specific options for payment processing. Valid values are:\n\n* `OVERCAPTURE`: In case of pre-authorization: The capturable money amount may exceed the total gross amount of purchased\ngoods (that is excluding shipping fee) up to a maximum of 10%. This special functionality must be explicitly activated for a merchant's account. \n    "
            example: OVERCAPTURE
            enum:
            - OVERCAPTURE
      description: Data to initialize a paydirekt form service interaction.
    FormRegisterAliasKlarnaRequest:
      required:
      - amount_total
      - basket
      - billing_address
      - form_customer_continuation
      type: object
      properties:
        alias:
          maxLength: 50
          minLength: 0
          type: string
          description: The alias value. If no value is set an alias is created by the system.
          example: 221f56ca355d8e6c42517749cf79ceb8
        form_data:
          $ref: '#/components/schemas/FormData'
        form_customer_continuation:
          $ref: '#/components/schemas/FormCustomerContinuation'
        callback:
          $ref: '#/components/schemas/Callback'
        customer_information:
          $ref: '#/components/schemas/CustomerInformation'
        merchant_information:
          $ref: '#/components/schemas/MerchantInformation'
        billing_address:
          $ref: '#/components/schemas/CommonAddress'
        shipping_address:
          $ref: '#/components/schemas/CommonAddress'
        amount_total:
          $ref: '#/components/schemas/AmountCurrency'
        basket:
          $ref: '#/components/schemas/Basket'
    FormNoTxResponse:
      required:
      - message
      - rc
      type: object
      properties:
        rc:
          type: string
          description: Response code of the transaction. "0" in the case of a successful transaction. Other values signify errors.
          example: '0'
        message:
          type: string
          description: Success or error message, text for the response code.
          example: Transaction approved.
        redirect_url:
          maxLength: 1024
          minLength: 0
          type: string
          description: URL to redirect the customer to.
          example: https://staging.pushpayments.db.com/pay/eyJwYXlsb2FkIjp7InYiOjEsImlwaS
      description: Values required to initialize a form interaction.
    CreditCardInfo:
      required:
      - expiry_date
      - number
      type: object
      properties:
        number:
          maxLength: 19
          minLength: 10
          pattern: '[0-9]*'
          type: string
          description: The credit card number (Primary Account Number). It is sometimes masked in response messages, for example 411111******1111.
          example: '41111111111111111'
        expiry_date:
          $ref: '#/components/schemas/ExpiryDate'
        cardholder:
          maxLength: 27
          minLength: 1
          type: string
          description: The holder of a credit card.
          example: Max Muster
        brand:
          type: string
          description: "The credit card brand.  The use of this field requires an explicit activation. Please contact customer support. Possible values:     \n           \n* `AMEX`\n* `DINERS`\n* `JCB`\n* `MAESTRO`\n* `MASTERCARD`\n* `VISA`        \n"
          example: VISA
          enum:
          - AMEX
          - DINERS
          - JCB
          - MAESTRO
          - MASTERCARD
          - VISA
        issuer_country:
          type: string
          description: The card issuers country of origin.  The use of this field requires an explicit activation. Please contact customer support.
      description: Information about a credit card.
    RiskmanErrorFieldInformation:
      type: object
      properties:
        field:
          type: string
          description: The name of the field which was the reason of the request rejection.
          example: orderInformation.billTo.firstName
        reason:
          type: string
          description: The reason why the request was rejected.
          example: MISSING_FIELD
      description: Field name and reason why the request was rejected.
    FormSofortUeberweisungRequest:
      required:
      - form_customer_continuation
      type: object
      properties:
        billing_address:
          $ref: '#/components/schemas/CommonAddress'
        basket:
          $ref: '#/components/schemas/Basket'
        device_information:
          $ref: '#/components/schemas/DeviceInformation'
        shipping_address:
          $ref: '#/components/schemas/CommonAddress'
        merchant_information:
          $ref: '#/components/schemas/MerchantInformation'
        form_data:
          $ref: '#/components/schemas/FormData'
        form_customer_continuation:
          $ref: '#/components/schemas/FormCustomerContinuation'
        callback:
          $ref: '#/components/schemas/Callback'
        amount_total:
          $ref: '#/components/schemas/AmountCurrency'
        sofort_data:
          $ref: '#/components/schemas/FormSofortUeberweisungData'
    BasketItemKlarnaData:
      type: object
      properties:
        product_url:
          maxLength: 1024
          minLength: 0
          type: string
          description: Product's URL in the merchant's webshop. May be used in communication between Klarna and the customer.
          example: https://www.exampleobjects.com/products/123456789
        image_url:
          maxLength: 1024
          minLength: 0
          type: string
          description: Product image URL in the merchant's webshop. May be used to embed the image into communication between Klarna and the customer.
          example: https://www.exampleobjects.com/product-image-1200x1200.jpg
        product_identifiers:
          type: array
          description: Additional information identifying the basket item.
          items:
            $ref: '#/components/schemas/KlarnaProductIdentifier'
      description: Service specific basket item fields for Klarna related use cases.
    TransactionCreditCardInfo:
      type: object
      properties:
        credit_card:
          $ref: '#/components/schemas/CreditCardInfo'
        tds_info:
          $ref: '#/components/schemas/TDSInfo'
        recurring_payment:
          maxLength: 50
          minLength: 1
          pattern: '[/0-9a-zA-Z_.:,+*$%-]+'
          type: string
          description: Identifier of a recurring credit card payment.
          example: 07H987Tx3PF9VxL5G7RfNp
        cvc_result:
          type: string
          description: "Response code of the verification of the card verification code\n         according to the response of a backend system.  This value is available on some backend systems.  The use of this field requires an explicit activation. Please contact customer support.  \n         Possible values:\n        \n* `CVC_MATCH`\n* `CVC_NO_MATCH`\n* `CVC_NO_RESPONSE_RECEIVED`\n* `CVC_NOT_PROCESSED`\n* `CVC_NOT_PROVIDED`\n* `CVC_SHOULD_BE_ON_CARD`\n* `CVC_VERIFICATION_UNAVAILABLE`\n\n"
          example: CVC_MATCH
          enum:
          - CVC_MATCH
          - CVC_NO_MATCH
          - CVC_NO_RESPONSE_RECEIVED
          - CVC_NOT_PROCESSED
          - CVC_NOT_PROVIDED
          - CVC_SHOULD_BE_ON_CARD
          - CVC_VERIFICATION_UNAVAILABLE
        avs_result:
          type: string
          description: "Response code of the address verification according to the response of a backend system. \n         This value is available on some backend systems.  The use of this field requires an explicit activation. Please contact customer support.  Possible values:\n        \n* `MATCH`\n* `NO_MATCH`\n"
          example: MATCH
          enum:
          - MATCH
          - NO_MATCH
    BasketExtensions:
      type: object
      properties:
        paypal_data:
          $ref: '#/components/schemas/BasketPayPalData'
      description: Service specific basket fields.
    FormCreditCardRequest:
      required:
      - form_customer_continuation
      type: object
      properties:
        billing_address:
          $ref: '#/components/schemas/CommonAddress'
        basket:
          $ref: '#/components/schemas/Basket'
        device_information:
          $ref: '#/components/schemas/DeviceInformation'
        shipping_address:
          $ref: '#/components/schemas/CommonAddress'
        merchant_information:
          $ref: '#/components/schemas/MerchantInformation'
        form_data:
          $ref: '#/components/schemas/FormData'
        form_customer_continuation:
          $ref: '#/components/schemas/FormCustomerContinuation'
        callback:
          $ref: '#/components/schemas/Callback'
        amount_total:
          $ref: '#/components/schemas/AmountCurrency'
        account_information:
          $ref: '#/components/schemas/AccountInformation'
        customer_information:
          $ref: '#/components/schemas/CustomerInformation'
        merchant_risk_indicators:
          $ref: '#/components/schemas/MerchantRiskIndicators'
        merchant_defined_information:
          type: array
          items:
            $ref: '#/components/schemas/RiskCheckMerchantDefinedInformation'
        travel_information:
          $ref: '#/components/schemas/RiskCheckTravelInformation'
        risk_check_additional_information:
          $ref: '#/components/schemas/RiskCheckAdditionalInformation'
        alias_action:
          $ref: '#/components/schemas/AliasAction'
        credit_card_data:
          $ref: '#/components/schemas/FormCreditCardData'
      description: Request data to initialize a form service interaction.
    FormRequestToPayRequest:
      required:
      - form_customer_continuation
      type: object
      properties:
        billing_address:
          $ref: '#/components/schemas/CommonAddress'
        basket:
          $ref: '#/components/schemas/Basket'
        device_information:
          $ref: '#/components/schemas/DeviceInformation'
        shipping_address:
          $ref: '#/components/schemas/CommonAddress'
        merchant_information:
          $ref: '#/components/schemas/MerchantInformation'
        form_data:
          $ref: '#/components/schemas/FormData'
        form_customer_continuation:
          $ref: '#/components/schemas/FormCustomerContinuation'
        callback:
          $ref: '#/components/schemas/Callback'
        amount_total:
          $ref: '#/components/schemas/AmountCurrency'
        request_to_pay_data:
          $ref: '#/components/schemas/FormRequestToPayData'
    CustomerInformationExtensions:
      type: object
      properties:
        paypal_data:
          $ref: '#/components/schemas/CustomerExtensionPayPalData'
      description: Service specific customer information fields.
    TransactionBankAccountInfo:
      type: object
      properties:
        bank_account:
          $ref: '#/components/schemas/BankAccount'
    TDS20CommunicationData:
      type: object
      properties:
        method_notification_url:
          type: string
          description: The URL to send the method notification to.
        cres_notification_url:
          type: string
          description: The URL to send the CRes to.
    FormWeChatPayRequest:
      required:
      - form_customer_continuation
      type: object
      properties:
        billing_address:
          $ref: '#/components/schemas/CommonAddress'
        basket:
          $ref: '#/components/schemas/Basket'
        device_information:
          $ref: '#/components/schemas/DeviceInformation'
        shipping_address:
          $ref: '#/components/schemas/CommonAddress'
        merchant_information:
          $ref: '#/components/schemas/MerchantInformation'
        form_data:
          $ref: '#/components/schemas/FormData'
        form_customer_continuation:
          $ref: '#/components/schemas/FormCustomerContinuation'
        callback:
          $ref: '#/components/schemas/Callback'
        amount_total:
          $ref: '#/components/schemas/AmountCurrency'
        preferred_lanuage:
          type: string
          description: The 2-letter language code (e.g. de) of the language preferred when presenting payment pages to the consumer.
          example: de
      description: Request data that is being used for WeChat Pay transaction init.
    CustomerInformation:
      type: object
      properties:
        customer_id:
          maxLength: 50
          minLength: 1
          pattern: '[\/0-9a-zA-Z_.:,\-+*$%]+'
          type: string
          description: Technical identification number of a customer.
          example: C1234-AX
        date_of_birth:
          type: string
          description: Customer's date of birth.
          format: date
          example: '1975-06-30'
        gender:
          type: string
          description: "Customer's gender.\n                \n* `DIVERSE`\n* `FEMALE`\n* `MALE`\n"
          example: FEMALE
          enum:
          - DIVERSE
          - FEMALE
          - MALE
        title:
          type: string
          description: Customer's title.
          example: Ms
        personal_identifications:
          type: array
          description: Customer's available identifications.
          items:
            $ref: '#/components/schemas/PersonalIdentification'
        contacts:
          $ref: '#/components/schemas/Contacts'
        extensions:
          $ref: '#/components/schemas/CustomerInformationExtensions'
      description: Details of a customer.
    EnhancedMandate:
      required:
      - reference
      - signed_on
      type: object
      properties:
        reference:
          maxLength: 35
          minLength: 1
          pattern: '[0-9a-zA-Z +?/\-:().,'']+'
          type: string
          description: Reference number, unique identification of the SEPA mandate. A forward slash '/' is not allowed as the first or last character of the mandate reference number. Inside the mandate reference number two consecutive forward slashes are not allowed.
          example: M2013-987/1-AB
        mandate_name:
          maxLength: 70
          minLength: 1
          pattern: '[0-9a-zA-Z +?/\-:().,'']+'
          type: string
          description: Name of the recipient that was used in the SEPA mandate. If not submitted, the name that is configured in the standing data of the shop will be used.
          example: Smith and Jones
        signed_on:
          type: string
          description: Date when the SEPA mandate was issued. Only needed for provided mandates. Full-date notation as defined by RFC 3339, section 5.6
          format: date
          example: '2017-01-01'
        mandate_sequence_type:
          type: string
          description: "Sequence type of a payment. If not submitted a single payment is assumed.\n\n        * `ONEOFF`: single payment\n        * `FIRST`: first payment of a sequence\n        * `RECURRING`: follow-up payment\n        * `FINAL`: last payment of a sequence\n"
          example: FIRST
          enum:
          - ONEOFF
          - FIRST
          - RECURRING
          - FINAL
        previous_reference:
          maxLength: 35
          minLength: 1
          pattern: '[0-9a-zA-Z +?/\-:().,'']+'
          type: string
          description: Previous mandate reference number if the SEPA mandate is modified. Only in the case of recurring payments with the first payment after the mandate changed. A forward slash '/' is not allowed as the first or last character of the mandate reference number. Inside the mandate reference number two consecutive forward slashes are not allowed.
          example: M2013-987/1-AB
        previous_creditor_id:
          type: string
          description: Previous creditor ID if the SEPA mandate is modified. Only in the case of recurring payments with the first payment after the mandate changed.
        previous_bic:
          maxLength: 11
          minLength: 11
          pattern: '[A-Z]{6}[A-Z2-9][A-NP-Z0-9][A-Z0-9]{3}'
          type: string
          description: Previous BIC of the customer if the SEPA mandate is modified. Only in the case of recurring payments with the first payment after the mandate changed. Is determined by {phrase-directpos} in the case of a German previous IBAN. Mandatory in case of a previous IBAN (field previous_iban) from another country.
          example: VZVDDED1XXX
        previous_iban:
          maxLength: 34
          minLength: 15
          pattern: '[A-Z]{2}[0-9]{2}[A-Z0-9*]{11,30}'
          type: string
[...]
