openapi: 3.2.0
info:
  title: GPL-SPA Auth & Authorization API Contract Password…
  description: 'Consolidated API contract derived from gpl-spa code and runtime config.


    Notes:

    - Some ForgeRock endpoints are called through @forgerock/javascript-sdk, so exact wire paths are partially SDK-driven.

    - Paths below use conventional ForgeRock AM/OAuth endpoints based on configured baseUrl/realmPath.'
  version: 1.0.0
servers:
- url: https://simulator-api.db.com:443/gw/public/oneid/
tags:
- name: Password Encryption
paths:
  /jwks:
    get:
      tags:
      - Password Encryption
      summary: Fetch JWK public key used for password encryption
      operationId: getPasswordEncryptionJwk
      responses:
        '200':
          description: Public JWK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Jwk'
        5XX:
          $ref: '#/components/responses/ServerError'
components:
  schemas:
    Jwk:
      required:
      - kid
      - kty
      type: object
      properties:
        kty:
          type: string
          example: RSA
        kid:
          type: string
          example: mock-key-id-1
        use:
          type: string
          example: enc
        alg:
          type: string
          example: RSA-OAEP-256
        n:
          type: string
        e:
          type: string
    ErrorResponse:
      type: object
      properties:
        title:
          type: string
        type:
          type: string
        message:
          type: string
      additionalProperties: true
  responses:
    ServerError:
      description: 5xx server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
