openapi: 3.2.0
info:
  title: dbapi-banking-cashAccountOpenings Cash account opening…
  description: Lets you easily open cash accounts with Deutsche Bank, Postbank or norisbank on your customer's behalf.
  termsOfService: https://developer.db.com/termsandconditions
  contact:
    url: https://developer.db.com/contact
    email: bank.api@db.com
  version: v1
servers:
- url: https://simulator-api.db.com:443/gw/dbapi/banking/cashAccountOpenings/v1
tags:
- name: Cash account opening status
paths:
  /{accountOpeningId}:
    get:
      tags:
      - Cash account opening status
      summary: Retrieve cash account opening request status
      description: Retrieve the status of a previously initiated cash account opening request.
      operationId: cashAccountOpeningStatus
      parameters:
      - name: accountOpeningId
        in: path
        description: Identifier of the cash account opening
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: Correlation-Id
        in: header
        description: Free form key controlled by the caller e.g. uuid
        required: false
        schema:
          maxLength: 50
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountOpeningStatusResponse'
        '400':
          description: Unsuccessful operation, returns http status 400. See 'example' property for possible values.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
              - code: 2
                message: 'Invalid value: mTanMobileNumber must match \+[1-9]\d{6,14}$.'
              - code: 6
                message: Input error.
              - code: 7
                message: Missing mandatory attribute or object.
              - code: 8
                message: Only account products AktivKonto or BestKonto or JungesKonto allowed.
              - code: 9
                message: Account Currency may only be Euro.
              - code: 10
                message: Only private customers allowed.
              - code: 11
                message: No Schufa consent was given.
              - code: 12
                message: Missing end date for JungesKonto.
              - code: 13
                message: No SMS will be sent for community accounts.
              - code: 14
                message: Mobile number required for sending SMS.
              - code: 15
                message: Account product JungesKonto not allowed for community accounts.
              - code: 16
                message: Community account can only be created in branches.
              - code: 17
                message: Self-employed customers not allowed.
              - code: 18
                message: Invalid identification process type.
              - code: 19
                message: Credit card product not allowed for this client.
              - code: 20
                message: Debit card product not allowed for this client.
              - code: 21
                message: Debit mastercard product not allowed for this client.
              - code: 50
                message: Cash account opening request contains invalid contracting bank.
              - code: 51
                message: Communication address not allowed in request.
              - code: 52
                message: Solvency information is required if any loan products (credit card or overdraft credit) are included.
              - code: 53
                message: Community accounts require 2 customers.
              - code: 54
                message: Community details are required for joint account opening.
              - code: 55
                message: Cash account opening request contains invalid account product.
              - code: 56
                message: Cash account opening request contains invalid credit card product.
              - code: 57
                message: Cash account opening request contains invalid debit mastercard product.
              - code: 58
                message: Digital services required for 2 customers.
              - code: 59
                message: Cash account opening request missing contracting bank.
              - code: 60
                message: Self-employment information not allowed for employed customer.
              - code: 61
                message: Employment information not allowed for self-employed customer.
              - code: 62
                message: German and non-German taxpayer indications are contradictory.
              - code: 63
                message: Cash account opening request contains invalid savings product.
              - code: 64
                message: Missing redirect URL for Legitimation as a Service (LaaS).
              - code: 65
                message: Redirect URL for Legitimation as a Service (LaaS) not allowed.
              - code: 66
                message: Missing notification URL.
              - code: 67
                message: Notification URL not allowed when "receiveStatusNotifications" flag is false.
              - code: 68
                message: Invalid promotion id.
        '404':
          description: Unsuccessful operation, returns http status 404. See 'example' property for possible values.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
              - code: 322
                message: Application data not found
        '422':
          description: Unsuccessful operation, returns http status 422. See 'example' property for possible values.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
              - code: 4
                message: Customer rejected.
        '500':
          description: Unsuccessful operation, returns http status 500. See 'example' property for possible values.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
              - code: 3
                message: The server encountered an internal error and was unable to complete your request. Please try again.
      security:
      - api_client_credential:
        - open_cash_account
components:
  schemas:
    IBAN:
      pattern: '[A-Z]{2}[0-9]{2}[A-Z0-9]{1,30}'
      type: string
      description: The IBAN of this account.
    ProductApplicationForm:
      type: string
      description: The PDF document for the customer in base64
    ProcessingStatus:
      type: string
      description: The processing state of the legitimation/fulfillment
      enum:
      - APPLICATION_RECEIVED
      - WEBID_CONFIRMATION_RECEIVED
      - REJECTED
      - MANUAL_PROCESSING
      - APPLICATION_FULFILLED
      - POSTIDENT_CHOSEN
      - POSTIDENT_DOCUMENT_GENERATED
    ErrorResponse:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: integer
          description: The error code
        message:
          type: string
          description: Description of the belonging error code.
        messageId:
          type: string
          description: dbAPI internal message-id (unique identifier) that allow reference to each of your API calls.
      description: Default error response message
    AccountOpeningStatusResponse:
      required:
      - e2eProcessId
      - lastStatusChange
      - productApplicationStatus
      type: object
      properties:
        e2eProcessId:
          type: string
          description: The e2eProcessId to recognize the account opening application
        productApplicationStatus:
          $ref: '#/components/schemas/ProcessingStatus'
        lastStatusChange:
          type: string
          description: The last status change date time with format ISO_LOCAL_DATE_TIME (yyyy-MM-dd'T'HH:mm:ss)
          format: date-time
        iban:
          $ref: '#/components/schemas/IBAN'
        productApplicationForm:
          $ref: '#/components/schemas/ProductApplicationForm'
  securitySchemes:
    api_client_credential:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://simulator-api.db.com:443/gw/oidc/oauth2/token
          scopes:
            open_cash_account: Cash account openings
x-original-swagger-version: '2.0'
