openapi: 3.2.0
info:
  title: dbapi-sepaCreditTransfer Get details for SEPA Credit…
  description: Easily initiate SEPA Credit Transfers, both single and bulk, with complementary operations such as status checks, details retrieval, cancellation, second factor retry and payee verification.
  termsOfService: https://developer.db.com/termsandconditions
  contact:
    url: https://developer.db.com/contact
    email: bank.api@db.com
  version: v3
servers:
- url: https://simulator-api.db.com:443/gw/dbapi/paymentInitiation/payments/v3/sepaCreditTransfer
tags:
- name: Get details for SEPA Credit Transfers
  description: Use these endpoints to retrieve the details of SEPA Credit Transfers, both for single and bulk payments.
paths:
  /{paymentId}:
    get:
      tags:
      - Get details for SEPA Credit Transfers
      summary: Retrieve the SEPA Credit Transfer details
      description: Retrieve the details of a previously initiated SEPA Credit Transfer.
      parameters:
      - name: paymentId
        in: path
        description: Payment Id of SEPA Credit Transfers
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: Correlation-Id
        in: header
        description: Free form key controlled by the caller e.g. uuid
        required: false
        schema:
          maxLength: 50
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SepaCreditTransferDetails'
        '400':
          description: Unsuccessful operation, returns http status 400. See 'example' property for possible values.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
              - code: 2
                message: Invalid value for %s.
              - code: 3
                message: 'Invalid value for %s: %s.'
              - code: 16
                message: 'OTP invalid challenge response: %s.'
              - code: 17
                message: Invalid OTP.
              - code: 114
                message: Unable to identify transaction by Id.
              - code: 127
                message: Booking date from must precede booking date to.
              - code: 131
                message: Invalid value for 'sortBy'. Valid values are 'bookingDate[ASC]' and 'bookingDate[DESC]'.
              - code: 132
                message: not supported
              - code: 138
                message: it seems that you started a non pushTAN challenge. Please use the PATCH endpoint to continue
              - code: 139
                message: it seems that you started a pushTAN challenge. Please use the GET endpoint to continue
              - code: 6500
                message: Parameters in the url or content type are incorrect, please check and retry.
              - code: 6501
                message: Contracting bank details are Invalid or Missing.
              - code: 6502
                message: The accepted instructed amount currency is EUR. Please correct your entry and try again.
              - code: 6503
                message: Parameters submitted are missing or invalid.
              - code: 6505
                message: Invalid execution date.
              - code: 6507
                message: Cancellation is not allowed for this transaction.
              - code: 6509
                message: The parameter in the request does not match with the latest Auth id.
              - code: 6510
                message: Current status does not allow second factor update with the action provided.
              - code: 6511
                message: Invalid execution date.
              - code: 6515
                message: The source iban or account type is invalid.
              - code: 6516
                message: Cancellation is not allowed for this transaction.
              - code: 6517
                message: The accepted creditor account currency is EUR. Please correct your entry and try again.
              - code: 6518
                message: The requested collection date should not be a public holiday or in the weekends. Please try again.
              - code: 6519
                message: The requested execution date should not be greater than 90 days in the future. Please try again.
              - code: 6520
                message: 'Invalid value: requestedExecutionDate must match yyyy-MM-dd format.'
              - code: 6521
                message: The accepted debtor account currency is EUR. Please correct your entry and try again.
              - code: 6523
                message: There is no legal entity present for the source iban. Please correct your entry and try again.
              - code: 6524
                message: You have reached the maximum allowable limit for the day. Please wait until tomorrow to initiate additional transfers or reduce your transfer amount and try again.
              - code: 6525
                message: The group header control sum does not match the total of all transactions amounts. Please try again.
              - code: 6526
                message: 'Invalid value: createDateTime must match yyyy-MM-dd''T''HH:mm:ss format.'
              - code: 6527
                message: The payment information control sum does not match the total amount of transactions in this block. Please try again.
              - code: 6528
                message: The group header transaction count does not match the total number of transactions provided. Please try again.
              - code: 6529
                message: The payment information transaction count does not match the total number of transactions provided in this block. Please try again.
              - code: 6531
                message: Amount must have at most 2 decimal places
              - code: 6532
                message: The customer is not eligible to opt out of VOP
              - code: 6533
                message: Only 'SLEV' is allowed for the charge bearer field. Please update the value and try again.
              - code: 6534
                message: MFA session expired for payment creation. Please re-initiate the payment process again.
        '401':
          description: Unsuccessful operation, returns http status 401. See 'example' property for possible values.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
              - code: 401
                message: The requested function requires a SCA Level Authentication.
        '404':
          description: Unsuccessful operation, returns http status 404. See 'example' property for possible values.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
              - code: 6504
                message: The parameters in the request do not match the initial request.
              - code: 6508
                message: SEPA payment not found.
        '409':
          description: Unsuccessful operation, returns http status 409. See 'example' property for possible values.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
              - code: 6506
                message: The IdempotencyId already being used.
      security:
      - api_auth_code:
        - sepa_credit_transfers
      - api_db_smart_access:
        - sepa_credit_transfers
      operationId: getByPaymentId
      x-operation-id-source: derived
  /bulk/{paymentId}:
    get:
      tags:
      - Get details for SEPA Credit Transfers
      summary: Retrieve the details of the Bulk SEPA Credit Transfers
      description: Retrieve the details of a previously initiated Bulk SEPA Credit Transfer.
      parameters:
      - name: paymentId
        in: path
        description: Payment Id of Bulk SEPA Credit Transfers
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: Correlation-Id
        in: header
        description: Free form key controlled by the caller e.g. uuid
        required: false
        schema:
          maxLength: 50
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SepaCreditTransferBulkDetails'
        '400':
          description: Unsuccessful operation, returns http status 400. See 'example' property for possible values.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
              - code: 2
                message: Invalid value for %s.
              - code: 3
                message: 'Invalid value for %s: %s.'
              - code: 16
                message: 'OTP invalid challenge response: %s.'
              - code: 17
                message: Invalid OTP.
              - code: 114
                message: Unable to identify transaction by Id.
              - code: 127
                message: Booking date from must precede booking date to.
              - code: 131
                message: Invalid value for 'sortBy'. Valid values are 'bookingDate[ASC]' and 'bookingDate[DESC]'.
              - code: 132
                message: not supported
              - code: 138
                message: it seems that you started a non pushTAN challenge. Please use the PATCH endpoint to continue
              - code: 139
                message: it seems that you started a pushTAN challenge. Please use the GET endpoint to continue
              - code: 6500
                message: Parameters in the url or content type are incorrect, please check and retry.
              - code: 6501
                message: Contracting bank details are Invalid or Missing.
              - code: 6502
                message: The accepted instructed amount currency is EUR. Please correct your entry and try again.
              - code: 6503
                message: Parameters submitted are missing or invalid.
              - code: 6505
                message: Invalid execution date.
              - code: 6507
                message: Cancellation is not allowed for this transaction.
              - code: 6509
                message: The parameter in the request does not match with the latest Auth id.
              - code: 6510
                message: Current status does not allow second factor update with the action provided.
              - code: 6511
                message: Invalid execution date.
              - code: 6515
                message: The source iban or account type is invalid.
              - code: 6516
                message: Cancellation is not allowed for this transaction.
              - code: 6517
                message: The accepted creditor account currency is EUR. Please correct your entry and try again.
              - code: 6518
                message: The requested collection date should not be a public holiday or in the weekends. Please try again.
              - code: 6519
                message: The requested execution date should not be greater than 90 days in the future. Please try again.
              - code: 6520
                message: 'Invalid value: requestedExecutionDate must match yyyy-MM-dd format.'
              - code: 6521
                message: The accepted debtor account currency is EUR. Please correct your entry and try again.
              - code: 6523
                message: There is no legal entity present for the source iban. Please correct your entry and try again.
              - code: 6524
                message: You have reached the maximum allowable limit for the day. Please wait until tomorrow to initiate additional transfers or reduce your transfer amount and try again.
              - code: 6525
                message: The group header control sum does not match the total of all transactions amounts. Please try again.
              - code: 6526
                message: 'Invalid value: createDateTime must match yyyy-MM-dd''T''HH:mm:ss format.'
              - code: 6527
                message: The payment information control sum does not match the total amount of transactions in this block. Please try again.
              - code: 6528
                message: The group header transaction count does not match the total number of transactions provided. Please try again.
              - code: 6529
                message: The payment information transaction count does not match the total number of transactions provided in this block. Please try again.
              - code: 6531
                message: Amount must have at most 2 decimal places
              - code: 6532
                message: The customer is not eligible to opt out of VOP
              - code: 6533
                message: Only 'SLEV' is allowed for the charge bearer field. Please update the value and try again.
              - code: 6534
                message: MFA session expired for payment creation. Please re-initiate the payment process again.
        '401':
          description: Unsuccessful operation, returns http status 401. See 'example' property for possible values.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
              - code: 401
                message: The requested function requires a SCA Level Authentication.
        '404':
          description: Unsuccessful operation, returns http status 404. See 'example' property for possible values.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
              - code: 6504
                message: The parameters in the request do not match the initial request.
              - code: 6508
                message: SEPA payment not found.
        '409':
          description: Unsuccessful operation, returns http status 409. See 'example' property for possible values.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
              - code: 6506
                message: The IdempotencyId already being used.
      security:
      - api_auth_code:
        - bulk_sepa_credit_transfers
      - api_db_smart_access:
        - bulk_sepa_credit_transfers
      operationId: getBulkByPaymentId
      x-operation-id-source: derived
components:
  schemas:
    AddressLine:
      type: object
      properties:
        streetAndHouseNumber:
          maxLength: 70
          type: string
          description: Street name and house number.
        zipCodeAndCity:
          maxLength: 70
          type: string
          description: Zip code and city name.
      description: This Object is deprecated and will be completely removed after November 2026. Please use other address fields to submit addresses.
    SupplementaryDataForWhole:
      type: object
      properties:
        dbOriginalPaymentMessageInformation:
          $ref: '#/components/schemas/DbOriginalPaymentMessageInformation'
      description: Supplementary Details of Bulk SEPA Credit Transfers
    IBAN:
      pattern: '[A-Z]{2}[0-9]{2}[A-Z0-9]{1,30}'
      type: string
      description: The IBAN of this account.
    PaymentInformationDetailsSingle:
      allOf:
      - $ref: '#/components/schemas/PaymentInformationBase'
      - type: object
        properties:
          creditTransfers:
            $ref: '#/components/schemas/CreditTransfersDetails'
    AdditionalReferenceATC:
      type: string
      description: Additional Reference ATC.
      example: '20250325112842996'
    CreditTransfersDetails:
      required:
      - creditor
      - creditorAccount
      - instructedAmount
      - paymentIdentification
      - paymentInformation
      type: object
      properties:
        paymentIdentification:
          $ref: '#/components/schemas/PaymentIdentification'
        creditorAgent:
          $ref: '#/components/schemas/CreditorAgent'
        creditorAccount:
          $ref: '#/components/schemas/CreditorAccount'
        instructedAmount:
          $ref: '#/components/schemas/InstructedAmount'
        creditor:
          $ref: '#/components/schemas/Creditor'
        remittanceInformationUnstructured:
          $ref: '#/components/schemas/RemittanceInformationUnstructured'
        supplementaryData:
          $ref: '#/components/schemas/SupplementaryData'
      description: Bulk SEPA Credit Transfers Details
    DebtorName:
      maxLength: 140
      type: string
    EndToEndIdentification:
      maxLength: 35
      pattern: '[a-zA-Z0-9.-]{1,35}'
      type: string
      description: Unique identification assigned by the initiating party to unambiguously identify the transaction.
    DebtorAccount:
      required:
      - iban
      type: object
      properties:
        iban:
          $ref: '#/components/schemas/IBAN'
        currency:
          $ref: '#/components/schemas/Currency'
    RequestedExecutionDate:
      type: string
      description: Must match yyyy-MM-dd format, also in CET timezone.
    DbOriginalPaymentTransactionInformation:
      type: object
      properties:
        dbPaymentId:
          $ref: '#/components/schemas/PaymentId'
        dbPrenoteReferenceId:
          $ref: '#/components/schemas/DbPrenoteReferenceId'
        dbPaymentTransactionId:
          $ref: '#/components/schemas/DbPaymentTransactionId'
      description: DB Original Payment Transaction Information of Bulk SEPA Credit Transfers
    InstructedAmount:
      required:
      - amount
      - currency
      type: object
      properties:
        amount:
          type: number
          example: 58.13
        currency:
          $ref: '#/components/schemas/Currency'
    Creditor:
      required:
      - creditorName
      type: object
      properties:
        creditorName:
          $ref: '#/components/schemas/CreditorName'
        creditorPostalAddress:
          $ref: '#/components/schemas/Address'
    CategoryPurposeCode:
      maxLength: 35
      type: string
    DbMessagePriority:
      type: string
      description: Db Payment Message Priority
      example: LOW
    DbPaymentTransactionId:
      type: string
      description: Db Payment Transaction Id
      example: 232ed5b7-fc70-4c67-98bb-bf95b3300001
    PaymentInformationId:
      maxLength: 35
      type: string
      description: Unique identification, as assigned by a sending party, to unambiguously identify the payment information.
    SepaCreditTransferBulkDetails:
      required:
      - controlSum
      - paymentInformation
      type: object
      properties:
        controlSum:
          $ref: '#/components/schemas/ControlSum'
        paymentInformation:
          type: array
          items:
            $ref: '#/components/schemas/PaymentInformationDetailsBulk'
        additionalInfo:
          $ref: '#/components/schemas/AdditionalInfo'
        messageId:
          $ref: '#/components/schemas/DbMessageId'
        numberOfTransactions:
          $ref: '#/components/schemas/NumberOfTransactions'
        creationDateTime:
          $ref: '#/components/schemas/CreationDateTime'
        initiatingParty:
          $ref: '#/components/schemas/InitiatingParty'
        supplementaryData:
          $ref: '#/components/schemas/SupplementaryDataForWhole'
      description: Bulk SEPA Credit Transfers Details
    AdditionalInfo:
      type: object
      properties:
        transactionStatus:
          $ref: '#/components/schemas/TransactionStatus'
        paymentId:
          $ref: '#/components/schemas/PaymentId'
      description: Additional Info of Bulk SEPA Credit Transfers
    Address:
      type: object
      properties:
        country:
          maxLength: 2
          minLength: 2
          type: string
          description: ISO 3166-1 alpha-2 country code
          example: DE
        street:
          type: string
          description: 'Street name is Optional. If provided, streetAndHouseNumber must be ignored '
          example: Mainzer Landstrasse 11-17
        houseNumber:
          type: string
          description: 'House number is Optional. If provided, streetAndHouseNumber must be ignored '
          example: 11-17
        city:
          maxLength: 35
          type: string
          description: Town/city name.Optional. If provided, zipCodeAndCity must be ignored
          example: Berlin
        zipCode:
          maxLength: 16
          type: string
          description: 'Postal Code. Optional. If provided, zipCodeAndCity must be ignored '
          example: '10115'
        addressLine:
          $ref: '#/components/schemas/AddressLine'
    DbPaymentTransactionInformation:
      type: object
      properties:
        dbPaymentId:
          $ref: '#/components/schemas/PaymentId'
        dbOriginalPaymentTransactionInformation:
          $ref: '#/components/schemas/DbOriginalPaymentTransactionInformation'
        dbPaymentTransactionId:
          $ref: '#/components/schemas/DbPaymentTransactionId'
        dbOriginalPaymentMessageInformation:
          $ref: '#/components/schemas/DbOriginalPaymentMessageInformation'
      description: DB Payment Transaction Information of Bulk SEPA Credit Transfers
    PaymentTypeInformation:
      type: object
      properties:
        categoryPurpose:
          $ref: '#/components/schemas/CategoryPurpose'
    InitiatingParty:
      required:
      - name
      type: object
      properties:
        name:
          $ref: '#/components/schemas/Name'
    PaymentIdentification:
      type: object
      properties:
        endToEndIdentification:
          $ref: '#/components/schemas/EndToEndIdentification'
        instructionId:
          $ref: '#/components/schemas/InstructionId'
    CreditorName:
      maxLength: 70
      type: string
      description: Name by which a party is known and which is usually used to identify that party.
    InstructionId:
      maxLength: 35
      pattern: '[a-zA-Z0-9.-]{1,35}'
      type: string
    CreditorAccount:
      required:
      - currency
      - iban
      type: object
      properties:
        iban:
          $ref: '#/components/schemas/IBAN'
        currency:
          $ref: '#/components/schemas/Currency'
    DbMessageId:
      type: string
      description: Db Payment Message Id
      example: 232ed5b7-fc70-4c67-98bb-bf95b3300001
    Currency:
      pattern: '[A-Z]{3}'
      type: string
      description: ISO 4217 Alpha 3 currency code.
      example: EUR
    ControlSum:
      type: number
      description: The total sum of all Instructed Amounts within this request.
    PaymentInformationDetailsBulk:
      allOf:
      - $ref: '#/components/schemas/PaymentInformationBase'
      - type: object
        properties:
          numberOfTransactions:
            $ref: '#/components/schemas/NumberOfTransactions'
      - type: object
        properties:
          creditTransfers:
            type: array
            items:
              $ref: '#/components/schemas/CreditTransfersDetails'
    DbPrenoteReferenceId:
      type: object
      properties:
        additionalReferenceATC:
          $ref: '#/components/schemas/AdditionalReferenceATC'
      description: DB Prenote Reference Id of Bulk SEPA Credit Transfers
    ErrorResponse:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: integer
          description: The error code
        message:
          type: string
          description: Description of the belonging error code.
        messageId:
          type: string
          description: dbAPI internal message-id (unique identifier) that allow reference to each of your API calls.
      description: Default error response message
    PaymentInformationBase:
      required:
      - creditTransferTransactionInformation
      - debtor
      - debtorAccount
      - paymentInformationId
      - paymentMethod
      type: object
      properties:
        paymentInformationId:
          $ref: '#/components/schemas/PaymentInformationId'
        paymentMethod:
          $ref: '#/components/schemas/PaymentMethod'
        paymentTypeInformation:
          $ref: '#/components/schemas/PaymentTypeInformation'
        requestedExecutionDate:
          $ref: '#/components/schemas/RequestedExecutionDate'
        debtor:
          $ref: '#/components/schemas/Debtor'
        debtorAccount:
          $ref: '#/components/schemas/DebtorAccount'
        debtorAgent:
          $ref: '#/components/schemas/DebtorAgent'
        chargeBearer:
          $ref: '#/components/schemas/ChargeBearer'
      description: Details related to the debtor, including account information, requested execution date and other settings defined for the request.
    PaymentId:
      type: string
      description: Resource identification of the generated paymentinitiation resource ('Transaction-ID' from the header which is populated with the Intra Bank ID); should be available at least when status is PDNG or ACCP.
      example: 232ed5b7-fc70-4c67-98bb-bf95b3300001
    Debtor:
      required:
      - debtorName
      type: object
      properties:
        debtorName:
          $ref: '#/components/schemas/DebtorName'
    DebtorAgent:
      required:
      - financialInstitutionId
      type: object
      properties:
        financialInstitutionId:
          $ref: '#/components/schemas/FinancialInstitutionId'
      description: Financial institution servicing an account for the debtor. This field is optional but if provided, it must contain a valid financialInstitutionId.
    CreditorAgent:
      required:
      - financialInstitutionId
      type: object
      properties:
        financialInstitutionId:
          $ref: '#/components/schemas/FinancialInstitutionId'
      description: Financial institution servicing an account for the creditor. This field is optional but if provided, it must contain a valid financialInstitutionId.
    SepaCreditTransferDetails:
      required:
      - paymentInformation
      type: object
      properties:
        paymentInformation:
          $ref: '#/components/schemas/PaymentInformationDetailsSingle'
        additionalInfo:
          $ref: '#/components/schemas/AdditionalInfo'
        messageId:
          $ref: '#/components/schemas/DbMessageId'
        numberOfTransactions:
          $ref: '#/components/schemas/NumberOfTransactions'
        creationDateTime:
          $ref: '#/components/schemas/CreationDateTime'
        initiatingParty:
          $ref: '#/components/schemas/InitiatingParty'
        supplementaryData:
          $ref: '#/components/schemas/SupplementaryDataForWhole'
      description: SEPA Credit Transfers Details
    NumberOfTransactions:
      maximum: 500
      minimum: 1
      type: integer
      description: The total number of Payment Instructions within this request.
    PaymentMethod:
      maxLength: 35
      type: string
      description: Specifies the means of payment that will be used to move the amount of money. Only TRF allowed for now.
    SupplementaryData:
      type: object
      properties:
        dbPaymentTransactionInformation:
          $ref: '#/components/schemas/DbPaymentTransactionInformation'
      description: Supplementary Details of Bulk SEPA Credit Transfers
    RemittanceInformationUnstructured:
      maxLength: 140
      type: string
      description: Free text reference related to the business transaction (e.g. invoice number, contract reference, order Id).
    TransactionStatus:
      type: string
      description: 'Transaction Status: Specifies the status of a transaction in a coded form. RCVD - Received. The payment instruction has been successfully received. This is only a technical receipt. Further validation is still required. ACTC - AcceptedTechnicalValidation. The payment instruction has passed all necessary technical validations. ACSP - AcceptedSettlementInProcess. The payment has been accepted for execution and settlement is in progress. RJCT - Rejected. The payment instruction has been rejected following negative validation results. CANC – Cancelled. The payment initiation has been cancelled before execution.'
      example: ACTC
      enum:
      - RJCT
      - RCVD
      - ACTC
      - ACSP
      - CANC
    Name:
      maxLength: 70
      type: string
    CategoryPurpose:
      type: object
      properties:
        categoryPurposeCode:
          $ref: '#/components/schemas/CategoryPurposeCode'
    DbOriginalPaymentMessageInformation:
      type: object
      properties:
        dbMessageId:
          $ref: '#/components/schemas/DbMessageId'
        dbMessagePriority:
          $ref: '#/components/schemas/DbMessagePriority'
      description: DB Original Payment Message Information of Bulk SEPA Credit Transfers
    CreationDateTime:
      type: string
      description: Creation time of SEPA Bulk Credit Transfers.
      format: date-time
    FinancialInstitutionId:
      type: string
      description: BICFI - Business identifier code for financial institutions. Standard SWIFT code used to uniquely identify banks and other financial institutions. Must be 8 or 11 alphanumeric characters.
    ChargeBearer:
      maxLength: 35
      type: string
      description: Indicates who bears the transaction charges. Under the SEPA scheme, the only permitted value is SLEV.
  securitySchemes:
    api_auth_code:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://simulator-api.db.com:443/gw/oidc/oauth2/authorize
          tokenUrl: https://simulator-api.db.com:443/gw/oidc/oauth2/token
          scopes:
            sepa_credit_transfers: Initiate and check status of SEPA Credit Transfers
            bulk_sepa_credit_transfers: Initiate and check status of Bulk SEPA Credit Transfers
            openid: Request access to OpenId Connect functionality
            offline_access: Request an OAuth2 Refresh Token
    api_db_smart_access:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://simulator-api.db.com:443/gw/oidc/oauth2/token
          scopes:
            sepa_credit_transfers: Initiate and check status of SEPA Credit Transfers
            bulk_sepa_credit_transfers: Initiate and check status of Bulk SEPA Credit Transfers
