openapi: 3.2.0
info:
  title: dbapi-processingOrders Processing Orders API
  description: Create a document processing order. Limited access for special consumers only.
  termsOfService: https://developer.db.com/termsandconditions
  contact:
    url: https://developer.db.com/contact
    email: bank.api@db.com
  version: v1
servers:
- url: https://simulator-api.db.com:443/gw/dbapi/others/processingOrders/v1
tags:
- name: Processing Orders
paths:
  /:
    post:
      tags:
      - Processing Orders
      summary: Create a processing order
      description: Create a processing order. This endpoint has limited access for special consumers only. It's possible to start manual processes only.
      operationId: createProcessingOrders
      parameters:
      - name: idempotency-id
        in: header
        description: Unique id of the service call. Should be resent during retries to avoid multiple processing of the same request
        required: true
        schema:
          type: string
          format: uuid
      - name: Process-ID
        in: header
        description: Unique identifier that the caller to name this process, use same id as Idempotency-ID if unsure.
        required: false
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: Correlation-Id
        in: header
        description: Free form key controlled by the caller e.g. uuid
        required: false
        schema:
          maxLength: 50
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
              - processingOrder
              type: object
              properties:
                processingOrder:
                  type: string
                  description: 'The metadata of this processing order and their belonging documents. Must be a content-type application/json and schema #/definitions/ProcessingOrderMetadata. It must be the leading part of the multipart request payload followed by the individual documents as referenced in the metadata.'
                  format: binary
                documentData:
                  type: string
                  description: 'The document data itself. You can send multiple documents with different multipart/form-data names; valid content types are: application/pdf, image/tiff or application/xml. The number of documents must match the number of document metadata provided in JSON for multipart/form-data processingOrder.documentMetas'
                  format: binary
        required: true
      responses:
        '200':
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProcessingOrderEntryResponse'
        '400':
          description: Unsuccessful operation, returns http status 400. See 'example' property for possible values.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
              - code: 5
                message: 'Must provide at least two multiparts: "processingOrder" and 1-n parts with part name equal to processingOrder.documentMetadata[].documentName.'
              - code: 6
                message: Invalid PDF document content for a multipart/form-data entry.
              - code: 6
                message: The value of documentId must be unique.
              - code: 6
                message: 'Invalid %s for multipart/form-data entry: %s.'
              - code: 8
                message: Missing documentMetas for document %s.
              - code: 129
                message: Invalid processing order request/data, one or more fields failed validation
              - code: 137
                message: Invalid document upload request - must be exactly one multipart
      security:
      - api_client_credential:
        - create_processing_orders
  /documents:
    post:
      tags:
      - Processing Orders
      summary: Upload a document image
      description: Upload a document image in advance to be used later for posting a new order. This allows to incrementally create orders with multiple and/or large documents.
      operationId: uploadDocument
      parameters:
      - name: idempotency-id
        in: header
        description: Unique id of the service call. Should be resent during retries to avoid multiple processing of the same request
        required: true
        schema:
          type: string
          format: uuid
      - name: Correlation-Id
        in: header
        description: Free form key controlled by the caller e.g. uuid
        required: false
        schema:
          maxLength: 50
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
              - documentData
              type: object
              properties:
                documentData:
                  type: string
                  format: binary
        required: true
      responses:
        '201':
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UploadDocumentResponse'
        '400':
          description: Unsuccessful operation, returns http status 400. See 'example' property for possible values.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
              - code: 5
                message: 'Must provide at least two multiparts: "processingOrder" and 1-n parts with part name equal to processingOrder.documentMetadata[].documentName.'
              - code: 6
                message: Invalid PDF document content for a multipart/form-data entry.
              - code: 6
                message: The value of documentId must be unique.
              - code: 6
                message: 'Invalid %s for multipart/form-data entry: %s.'
              - code: 8
                message: Missing documentMetas for document %s.
              - code: 129
                message: Invalid processing order request/data, one or more fields failed validation
              - code: 137
                message: Invalid document upload request - must be exactly one multipart
      security:
      - api_client_credential:
        - create_processing_orders
components:
  schemas:
    UploadDocumentResponse:
      required:
      - documentReferenceId
      type: object
      properties:
        documentReferenceId:
          type: string
          description: ID referencing the uploaded document, to be used in ???/orders request.
    ErrorResponse:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: integer
          description: The error code
        message:
          type: string
          description: Description of the belonging error code.
        messageId:
          type: string
          description: dbAPI internal message-id (unique identifier) that allow reference to each of your API calls.
      description: Default error response message
    ProcessingOrderEntryResponse:
      required:
      - createdResource
      type: object
      properties:
        createdResource:
          type: string
          description: URI carrying the orderId initially used
          example: http://localhost:8080/processingOrders/v1/da49efa2-478c-4b6b-8fdb-6ae822180bc9
  securitySchemes:
    api_client_credential:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://simulator-api.db.com:443/gw/oidc/oauth2/token
          scopes:
            create_processing_orders: Grants permission to post data with the /processingOrders endpoint. Only available with client credential grant flow right now.
x-original-swagger-version: '2.0'
