{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Merchant-Server II REST Services API",
    "version" : "v2.1"
  },
  "servers" : [ {
    "url" : "https://testmerch.directpos.de/rest-api/services/v2.1/"
  } ],
  "security" : [ {
    "bearerAuth" : [ ]
  } ],
  "tags" : [ {
    "name" : "Alias",
    "description" : "The alias API contains endpoints to add, update or delete aliases for means of payment."
  }, {
    "name" : "Apple Pay",
    "description" : "The Apple Pay™ API contains endpoints to initiate a payment session to perform credit card payment transactions based on Apple Pay™ payment information."
  }, {
    "name" : "eScore",
    "description" : "The eScore API contains endpoints to minimize non-payment risk."
  }, {
    "name" : "Forms",
    "description" : "The Forms API contains endpoints to initialize a form service interaction. It allows the merchant to redirect the customer to a customizable frontend page where the customer may enter sensitive payment data. After receipt of the necessary information, the frontend will carry out the transaction and redirect the customer back to the merchant’s page."
  }, {
    "name" : "Google Pay",
    "description" : "The Google Pay™ API contains endpoints to perform credit card payment transactions based on Google Pay™ payment information."
  }, {
    "name" : "Headless 3-D Secure",
    "description" : "The Headless 3-D Secure API contains endpoints to conduct headless 3-D Secure transactions."
  }, {
    "name" : "iFrame",
    "description" : "The iFrame API contains an endpoint to initialize an iFrame interaction. It allows the merchant to embed specific elements of a frontend page into their own web page. Entry of sensitive data is done in these elements so that they can be sent to the merchant without the merchant ever being in contact with it. After the API receives the entered data, it will inform the merchant who then calls the corresponding Payment API endpoint. "
  }, {
    "name" : "Info",
    "description" : "Information related operations."
  }, {
    "name" : "Managed Mandate",
    "description" : "The Managed Mandate API contains endpoints to work with managed mandates."
  }, {
    "name" : "Payment",
    "description" : "The Payment API contains endpoints to add or modify payment transactions. When using the API, the merchant is only integrated to the API at the backend. All use cases are triggered via an API call. It is the merchant's responsibility to collect all relevant payment data via their own frontend. "
  }, {
    "name" : "Payment Link",
    "description" : "The Payment Link API contains endpoints to prepare payments your customers can carry out later by using the provided link."
  }, {
    "name" : "Risk Management",
    "description" : "The Risk Management API contains endpoints to add and remove risk list entries and to calculate a risk score."
  } ],
  "paths" : {
    "/alias/bankaccount/{alias}" : {
      "get" : {
        "tags" : [ "Alias" ],
        "summary" : "Retrieves a bank account alias by its name.",
        "operationId" : "aliasBankAccountGet",
        "parameters" : [ {
          "name" : "Merchant-ID",
          "in" : "header",
          "description" : "Unique identification of the merchant for whom the transaction is carried out. This parameter is  required if the `Merchant-ID` cannot be derived from the `client_id` you used for authentication.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 10,
            "minLength" : 10,
            "pattern" : "[0-9]+",
            "type" : "string"
          }
        }, {
          "name" : "alias",
          "in" : "path",
          "description" : "Name of the alias.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "da2c9029-b180-42a7-b473-50d182a01f8a"
        } ],
        "responses" : {
          "400" : {
            "description" : "Response in case of an error. Includes a response code and an error message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized request. Response body may be empty.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "200" : {
            "description" : "A return code and a message, accompanied by information about the alias. Sensitive bank account data may be masked, depending on the configuration of the merchant's account. If the alias is unknown or in case of a known business or persistence error, only error code and message are provided.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AliasResponse"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Alias" ],
        "summary" : "Deletes a bank account alias.",
        "operationId" : "aliasBankAccountDelete",
        "parameters" : [ {
          "name" : "Merchant-ID",
          "in" : "header",
          "description" : "Unique identification of the merchant for whom the transaction is carried out. This parameter is  required if the `Merchant-ID` cannot be derived from the `client_id` you used for authentication.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 10,
            "minLength" : 10,
            "pattern" : "[0-9]+",
            "type" : "string"
          }
        }, {
          "name" : "alias",
          "in" : "path",
          "description" : "Name of the alias.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "da2c9029-b180-42a7-b473-50d182a01f8a"
        } ],
        "responses" : {
          "400" : {
            "description" : "Response in case of an error. Includes a response code and an error message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized request. Response body may be empty.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "200" : {
            "description" : "A return code and a message, indicating whether or not the operation was successful.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BaseResponse"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Alias" ],
        "summary" : "Updates the address attached to a bank account alias.",
        "description" : "In most SEPA countries, address data is not required for payment processing. However, some countries require addresses in addition to means of payment data for successful authorization. This endpoint provides functionality to update this address data.",
        "operationId" : "aliasBankAccountAddressPatch",
        "parameters" : [ {
          "name" : "Merchant-ID",
          "in" : "header",
          "description" : "Unique identification of the merchant for whom the transaction is carried out. This parameter is  required if the `Merchant-ID` cannot be derived from the `client_id` you used for authentication.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 10,
            "minLength" : 10,
            "pattern" : "[0-9]+",
            "type" : "string"
          }
        }, {
          "name" : "alias",
          "in" : "path",
          "description" : "Name of the alias.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "da2c9029-b180-42a7-b473-50d182a01f8a"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CommonAddress"
              },
              "examples" : {
                "sample21" : {
                  "summary" : "Sample SEPA address.",
                  "description" : "Sample SEPA address.",
                  "value" : {
                    "address_line_1" : "Rohrteichstr 18",
                    "postalCode" : "98765",
                    "city" : "newCity",
                    "country" : "DE"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "400" : {
            "description" : "Response in case of an error. Includes a response code and an error message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized request. Response body may be empty.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "200" : {
            "description" : "A return code and a message, accompanied by information about the updated alias. Sensitive bank account data may be masked, depending on the configuration of the merchant's account. If the alias was unknown or in case of a known business or persistence error, only error code and message are provided.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AliasResponse"
                }
              }
            }
          }
        }
      }
    },
    "/alias/bankaccount" : {
      "post" : {
        "tags" : [ "Alias" ],
        "summary" : "Creates a new bank account alias.",
        "description" : "Clients may specify a bank account alias themselves by submitting the desired value in the alias field. If the alias field is left blank, an alias will be generated. Bank account aliases may also be created during payment processing. The bank account field of the request requires an iban to be present. All other fields are optional. In most SEPA countries, address data is not required for payment processing. However, some countries require addresses in addition to means of payment data for successful authorization. This is why this endpoint provides an option to specify additional address data which will be stored along with the new alias if present. Bank accounts and aliases have a 1:1 relation, that is if an alias is assigned to a bank account creating another alias for the same bank account results in an error, as does assigning an existing alias to another bank account.",
        "operationId" : "aliasBankAccountCreatePost",
        "parameters" : [ {
          "name" : "Merchant-ID",
          "in" : "header",
          "description" : "Unique identification of the merchant for whom the transaction is carried out. This parameter is  required if the `Merchant-ID` cannot be derived from the `client_id` you used for authentication.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 10,
            "minLength" : 10,
            "pattern" : "[0-9]+",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AliasBankAccountRequest"
              },
              "example" : {
                "alias" : "example-dd-alias",
                "bank_account" : {
                  "iban" : "DE39123456790009290701",
                  "account_holder" : "Rene Holder"
                }
              }
            }
          }
        },
        "responses" : {
          "400" : {
            "description" : "Response in case of an error. Includes a response code and an error message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized request. Response body may be empty.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "200" : {
            "description" : "A return code and a message, accompanied by information about the created alias. Sensitive bank account data may be masked, depending on the configuration of the merchant's account. In case of a known business or persistence error, only error code and message are provided.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AliasResponse"
                }
              }
            }
          }
        }
      }
    },
    "/alias/bankaccount/get" : {
      "post" : {
        "tags" : [ "Alias" ],
        "summary" : "Retrieves a bank account alias by bank account data.",
        "description" : "Due to security reasons, this is a _GET with body payload_ (see https://opensource.zalando.com/restful-api-guidelines/#get-with-body) operation. No resources will be created.",
        "operationId" : "aliasBankAccountGetPost",
        "parameters" : [ {
          "name" : "Merchant-ID",
          "in" : "header",
          "description" : "Unique identification of the merchant for whom the transaction is carried out. This parameter is  required if the `Merchant-ID` cannot be derived from the `client_id` you used for authentication.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 10,
            "minLength" : 10,
            "pattern" : "[0-9]+",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BankAccount"
              },
              "example" : {
                "iban" : "DE39123456790009290701",
                "account_holder" : "Rene Holder"
              }
            }
          }
        },
        "responses" : {
          "400" : {
            "description" : "Response in case of an error. Includes a response code and an error message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized request. Response body may be empty.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "200" : {
            "description" : "A return code and a message, accompanied by information about the alias. Sensitive bank account data may be masked, depending on the configuration of the merchant's account. In case of a known business or persistence error, only error code and message are provided.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AliasResponse"
                }
              }
            }
          }
        }
      }
    },
    "/alias/creditcard" : {
      "post" : {
        "tags" : [ "Alias" ],
        "summary" : "Creates a new credit card alias.",
        "description" : "Clients may specify a card number alias themselves by submitting the desired value in the alias field. If the alias field is left blank, an alias will be generated. Card number aliases may also be created during payment processing. The credit card field of the request requires a number and an expiry date to be present. All other fields are optional. Credit cards and aliases have a 1:1 relation, that is if an alias is assigned to a credit card creating another alias for the same card results in an error, as does assigning an existing alias to another credit card.",
        "operationId" : "aliasCreditCardCreatePost",
        "parameters" : [ {
          "name" : "Merchant-ID",
          "in" : "header",
          "description" : "Unique identification of the merchant for whom the transaction is carried out. This parameter is  required if the `Merchant-ID` cannot be derived from the `client_id` you used for authentication.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 10,
            "minLength" : 10,
            "pattern" : "[0-9]+",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AliasCreditCardRequest"
              },
              "example" : {
                "alias" : "example-cc-alias",
                "credit_card" : {
                  "number" : "4111111111111111",
                  "code" : "123",
                  "cardHolder" : "Card T. Holder",
                  "expiry_date" : {
                    "year" : 2029,
                    "month" : 11
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "400" : {
            "description" : "Response in case of an error. Includes a response code and an error message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized request. Response body may be empty.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "200" : {
            "description" : "A return code and a message, accompanied by information about the created alias. Sensitive credit card data may be masked, depending on the configuration of the merchant's account. In case of a known business or persistence error, only error code and message are provided.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AliasResponse"
                }
              }
            }
          }
        }
      }
    },
    "/alias/creditcard/{alias}" : {
      "get" : {
        "tags" : [ "Alias" ],
        "summary" : "Retrieves a credit card alias by its name.",
        "operationId" : "aliasCreditCardGet",
        "parameters" : [ {
          "name" : "Merchant-ID",
          "in" : "header",
          "description" : "Unique identification of the merchant for whom the transaction is carried out. This parameter is  required if the `Merchant-ID` cannot be derived from the `client_id` you used for authentication.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 10,
            "minLength" : 10,
            "pattern" : "[0-9]+",
            "type" : "string"
          }
        }, {
          "name" : "alias",
          "in" : "path",
          "description" : "Name of the alias.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "da2c9029-b180-42a7-b473-50d182a01f8a"
        } ],
        "responses" : {
          "400" : {
            "description" : "Response in case of an error. Includes a response code and an error message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized request. Response body may be empty.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "200" : {
            "description" : "A return code and a message, accompanied by information about the alias. Sensitive credit card data may be masked, depending on the configuration of the merchant's account. In case of a known business or persistence error, only error code and message are provided.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AliasResponse"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Alias" ],
        "summary" : "Deletes a credit card alias.",
        "operationId" : "aliasCreditCardDelete",
        "parameters" : [ {
          "name" : "Merchant-ID",
          "in" : "header",
          "description" : "Unique identification of the merchant for whom the transaction is carried out. This parameter is  required if the `Merchant-ID` cannot be derived from the `client_id` you used for authentication.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 10,
            "minLength" : 10,
            "pattern" : "[0-9]+",
            "type" : "string"
          }
        }, {
          "name" : "alias",
          "in" : "path",
          "description" : "Name of the alias.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "da2c9029-b180-42a7-b473-50d182a01f8a"
        } ],
        "responses" : {
          "400" : {
            "description" : "Response in case of an error. Includes a response code and an error message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized request. Response body may be empty.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "200" : {
            "description" : "A return code and a message, indicating whether or not the operation was successful.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/alias/creditcard/get" : {
      "post" : {
        "tags" : [ "Alias" ],
        "summary" : "Retrieves a credit card alias by credit card data.",
        "description" : "Due to security reasons, this is a _GET with body payload_ (see https://opensource.zalando.com/restful-api-guidelines/#get-with-body) operation. No resources will be created.",
        "operationId" : "aliasCreditCardGetPost",
        "parameters" : [ {
          "name" : "Merchant-ID",
          "in" : "header",
          "description" : "Unique identification of the merchant for whom the transaction is carried out. This parameter is  required if the `Merchant-ID` cannot be derived from the `client_id` you used for authentication.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 10,
            "minLength" : 10,
            "pattern" : "[0-9]+",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreditCard"
              },
              "example" : {
                "number" : "4111111111111111",
                "code" : "123",
                "cardHolder" : "Card T. Holder",
                "expiry_date" : {
                  "year" : 2029,
                  "month" : 11
                }
              }
            }
          }
        },
        "responses" : {
          "400" : {
            "description" : "Response in case of an error. Includes a response code and an error message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized request. Response body may be empty.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "200" : {
            "description" : "A return code and a message, accompanied by information about the alias. Sensitive credit card data may be masked, depending on the configuration of the merchant's account. If the credit card data did not match a known credit card or in case of a known business or persistence error, only error code and message are provided.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AliasResponse"
                }
              }
            }
          }
        }
      }
    },
    "/alias/{alias}" : {
      "get" : {
        "tags" : [ "Alias" ],
        "summary" : "Retrieves a credit card or bank account alias by its name.",
        "description" : "This is a generalized variant of the other GET alias endpoints of this API. May be used by clients that cannot or do not want to decide on the type of alias to be retrieved.",
        "operationId" : "aliasGet",
        "parameters" : [ {
          "name" : "Merchant-ID",
          "in" : "header",
          "description" : "Unique identification of the merchant for whom the transaction is carried out. This parameter is  required if the `Merchant-ID` cannot be derived from the `client_id` you used for authentication.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 10,
            "minLength" : 10,
            "pattern" : "[0-9]+",
            "type" : "string"
          }
        }, {
          "name" : "alias",
          "in" : "path",
          "description" : "Name of the alias.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "da2c9029-b180-42a7-b473-50d182a01f8a"
        } ],
        "responses" : {
          "400" : {
            "description" : "Response in case of an error. Includes a response code and an error message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized request. Response body may be empty.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "200" : {
            "description" : "A return code and a message, accompanied by information about the alias. Depending on the type of means of payment this alias is connected to, the appropriate fields will be set in the response. Sensitive means of payment data may be masked, depending on the configuration of the merchant's account. If the alias is unknown or in case of a known business or persistence error, only error code and message are provided.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AliasResponse"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Alias" ],
        "summary" : "Deletes a credit card or bank account alias.",
        "description" : "This is a generalized variant of the other DELETE alias endpoints of this API. May be used by clients that cannot or do not want to decide on the type of alias to be deleted.",
        "operationId" : "aliasDelete",
        "parameters" : [ {
          "name" : "Merchant-ID",
          "in" : "header",
          "description" : "Unique identification of the merchant for whom the transaction is carried out. This parameter is  required if the `Merchant-ID` cannot be derived from the `client_id` you used for authentication.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 10,
            "minLength" : 10,
            "pattern" : "[0-9]+",
            "type" : "string"
          }
        }, {
          "name" : "alias",
          "in" : "path",
          "description" : "Name of the alias.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "da2c9029-b180-42a7-b473-50d182a01f8a"
        } ],
        "responses" : {
          "400" : {
            "description" : "Response in case of an error. Includes a response code and an error message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized request. Response body may be empty.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "200" : {
            "description" : "A return code and a message, indicating whether or not the operation was successful.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/applepay/paymentSession/{event_id}" : {
      "post" : {
        "tags" : [ "Apple Pay" ],
        "summary" : "Perform payment session requests based on Apple Pay™ data.",
        "operationId" : "applepayPaymentSessionPost",
        "parameters" : [ {
          "name" : "Merchant-ID",
          "in" : "header",
          "description" : "Unique identification of the merchant for whom the transaction is carried out. This parameter is  required if the `Merchant-ID` cannot be derived from the `client_id` you used for authentication.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 10,
            "minLength" : 10,
            "pattern" : "[0-9]+",
            "type" : "string"
          }
        }, {
          "name" : "event_id",
          "in" : "path",
          "description" : "A unique ID for the event.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 1,
            "pattern" : "[\\/0-9a-zA-Z_.:,\\-+*$%]+",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ApplePayPaymentSessionRequest"
              },
              "examples" : {
                "ApplePayPaymentSessionRequest" : {
                  "summary" : "Sample Apple Pay™ Payment Session Request",
                  "description" : "ApplePayPaymentSessionRequest",
                  "value" : {
                    "merchant_id" : "merchant.processingpagateq.merchantsolution",
                    "initiative" : "web",
                    "initiative_context" : "testmerch.directpos.de"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "400" : {
            "description" : "Response in case of an error. Includes a response code and an error message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized request. Response body may be empty.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "200" : {
            "description" : "Information about the outcome of the transaction.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplePayPaymentSessionResponse"
                },
                "examples" : {
                  "sample_response_to_session_request_-_session_created" : {
                    "summary" : "Session has been created, no further actions required.",
                    "description" : "Session has been created, no further actions required.",
                    "value" : {
                      "applepay_payment_session_token" : "eyJlcG9jaFRpbWVzdGFtcCI6MTY1OTUyODYxMzQ5MywiZXhwaXJlc0F0IjoxNjU5NTMyMjEzNDkzLCJtZXJjaGFudFNlc3Npb25JZGVudGlmaWVyIjoiU1NIRjUyNTM0MUM1OTY1NDE4ODkwMkZBRDM0RDA2NEQ0OTZfNTE2OTYyRkI1NUYyNEQ2NTU5RTg2MkU5Nzk5OTJCRDI5RENGQTVEMkJBOEFEOEQ0RDg5M0Y4Mzc1OTYwODNDQSIsIm5vbmNlIjoiNGEyMWYzZjAiLCJtZXJjaGFudElkZW50aWZpZXIiOiIyODczMkE0RjA1QUUwNTU1MDA3NzY0MkNDNkJBQkE4QzU5MjNFMzQ3QTA4MzgwM0MwQjdBODA4ODcxMEMzMUU0IiwiZG9tYWluTmFtZSI6InRlc3RtZXJjaC5kaXJlY3Rwb3MuZGUiLCJkaXNwbGF5TmFtZSI6IkRCLk1lcmNoYW50U29sdXRpb24uVGVzdE1lcmNoYW50Iiwic2lnbmF0dXJlIjoiMzA4MDA2MDkyYTg2NDg4NmY3MGQwMTA3MDJhMDgwMzA4MDAyMDEwMTMxMGYzMDBkMDYwOTYwODY0ODAxNjUwMzA0MDIwMTA1MDAzMDgwMDYwOTJhODY0ODg2ZjcwZDAxMDcwMTAwMDBhMDgwMzA4MjAzZTMzMDgyMDM4OGEwMDMwMjAxMDIwMjA4NGMzMDQxNDk1MTlkNTQzNjMwMGEwNjA4MmE4NjQ4Y2UzZDA0MDMwMjMwN2EzMTJlMzAyYzA2MDM1NTA0MDMwYzI1NDE3MDcwNmM2NTIwNDE3MDcwNmM2OTYzNjE3NDY5NmY2ZTIwNDk2ZTc0NjU2NzcyNjE3NDY5NmY2ZTIwNDM0MTIwMmQyMDQ3MzMzMTI2MzAyNDA2MDM1NTA0MGIwYzFkNDE3MDcwNmM2NTIwNDM2NTcyNzQ2OTY2Njk2MzYxNzQ2OTZmNmUyMDQxNzU3NDY4NmY3MjY5NzQ3OTMxMTMzMDExMDYwMzU1MDQwYTBjMGE0MTcwNzA2YzY1MjA0OTZlNjMyZTMxMGIzMDA5MDYwMzU1MDQwNjEzMDI1NTUzMzAxZTE3MGQzMTM5MzAzNTMxMzgzMDMxMzMzMjM1Mzc1YTE3MGQzMjM0MzAzNTMxMzYzMDMxMzMzMjM1Mzc1YTMwNWYzMTI1MzAyMzA2MDM1NTA0MDMwYzFjNjU2MzYzMmQ3MzZkNzAyZDYyNzI2ZjZiNjU3MjJkNzM2OTY3NmU1ZjU1NDMzNDJkNTA1MjRmNDQzMTE0MzAxMjA2MDM1NTA0MGIwYzBiNjk0ZjUzMjA1Mzc5NzM3NDY1NmQ3MzMxMTMzMDExMDYwMzU1MDQwYTBjMGE0MTcwNzA2YzY1MjA0OTZlNjMyZTMxMGIzMDA5MDYwMzU1MDQwNjEzMDI1NTUzMzA1OTMwMTMwNjA3MmE4NjQ4Y2UzZDAyMDEwNjA4MmE4NjQ4Y2UzZDAzMDEwNzAzNDIwMDA0YzIxNTc3ZWRlYmQ2YzdiMjIxOGY2OGRkNzA5MGExMjE4ZGM3YjBiZDZmMmMyODNkODQ2MDk1ZDk0YWY0YTU0MTFiODM0MjBlZDgxMWYzNDA3ZTgzMzMxZjFjNTRjM2Y3ZWIzMjIwZDZiYWQ1ZDRlZmY0OTI4OTg5M2U3YzBmMTNhMzgyMDIxMTMwODIwMjBkMzAwYzA2MDM1NTFkMTMwMTAxZmYwNDAyMzAwMDMwMWYwNjAzNTUxZDIzMDQxODMwMTY4MDE0MjNmMjQ5YzQ0ZjkzZTRlZjI3ZTZjNGY2Mjg2YzNmYTJiYmZkMmU0YjMwNDUwNjA4MmIwNjAxMDUwNTA3MDEwMTA0MzkzMDM3MzAzNTA2MDgyYjA2MDEwNTA1MDczMDAxODYyOTY4NzQ3NDcwM2EyZjJmNmY2MzczNzAyZTYxNzA3MDZjNjUyZTYzNmY2ZDJmNmY2MzczNzAzMDM0MmQ2MTcwNzA2YzY1NjE2OTYzNjEzMzMwMzIzMDgyMDExZDA2MDM1NTFkMjAwNDgyMDExNDMwODIwMTEwMzA4MjAxMGMwNjA5MmE4NjQ4ODZmNzYzNjQwNTAxMzA4MWZlMzA4MWMzMDYwODJiMDYwMTA1MDUwNzAyMDIzMDgxYjYwYzgxYjM1MjY1NmM2OTYxNmU2MzY1MjA2ZjZlMjA3NDY4Njk3MzIwNjM2NTcyNzQ2OTY2Njk2MzYxNzQ2NTIwNjI3OTIwNjE2ZTc5MjA3MDYxNzI3NDc5MjA2MTczNzM3NTZkNjU3MzIwNjE2MzYzNjU3MDc0NjE2ZTYzNjUyMDZmNjYyMDc0Njg2NTIwNzQ2ODY1NmUyMDYxNzA3MDZjNjk2MzYxNjI2YzY1MjA3Mzc0NjE2ZTY0NjE3MjY0MjA3NDY1NzI2ZDczMjA2MTZlNjQyMDYzNmY2ZTY0Njk3NDY5NmY2ZTczMjA2ZjY2MjA3NTczNjUyYzIwNjM2NTcyNzQ2OTY2Njk2MzYxNzQ2NTIwNzA2ZjZjNjk2Mzc5MjA2MTZlNjQyMDYzNjU3Mjc0Njk2NjY5NjM2MTc0Njk2ZjZlMjA3MDcyNjE2Mzc0Njk2MzY1MjA3Mzc0NjE3NDY1NmQ2NTZlNzQ3MzJlMzAzNjA2MDgyYjA2MDEwNTA1MDcwMjAxMTYyYTY4NzQ3NDcwM2EyZjJmNzc3Nzc3MmU2MTcwNzA2YzY1MmU2MzZmNmQyZjYzNjU3Mjc0Njk2NjY5NjM2MTc0NjU2MTc1NzQ2ODZmNzI2OTc0NzkyZjMwMzQwNjAzNTUxZDFmMDQyZDMwMmIzMDI5YTAyN2EwMjU4NjIzNjg3NDc0NzAzYTJmMmY2MzcyNmMyZTYxNzA3MDZjNjUyZTYzNmY2ZDJmNjE3MDcwNmM2NTYxNjk2MzYxMzMyZTYzNzI2YzMwMWQwNjAzNTUxZDBlMDQxNjA0MTQ5NDU3ZGI2ZmQ1NzQ4MTg2ODk4OTc2MmY3ZTU3ODUwN2U3OWI1ODI0MzAwZTA2MDM1NTFkMGYwMTAxZmYwNDA0MDMwMjA3ODAzMDBmMDYwOTJhODY0ODg2Zjc2MzY0MDYxZDA0MDIwNTAwMzAwYTA2MDgyYTg2NDhjZTNkMDQwMzAyMDM0OTAwMzA0NjAyMjEwMGJlMDk1NzFmZTcxZTFlNzM1YjU1ZTVhZmFjYjRjNzJmZWI0NDVmMzAxODUyMjJjNzI1MTAwMmI2MWViZDZmNTUwMjIxMDBkMThiMzUwYTVkZDZkZDZlYjE3NDYwMzViMTFlYjJjZTg3Y2ZhM2U2YWY2Y2JkODM4MDg5MGRjODJjZGRhYTYzMzA4MjAyZWUzMDgyMDI3NWEwMDMwMjAxMDIwMjA4NDk2ZDJmYmYzYTk4ZGE5NzMwMGEwNjA4MmE4NjQ4Y2UzZDA0MDMwMjMwNjczMTFiMzAxOTA2MDM1NTA0MDMwYzEyNDE3MDcwNmM2NTIwNTI2ZjZmNzQyMDQzNDEyMDJkMjA0NzMzMzEyNjMwMjQwNjAzNTUwNDBiMGMxZDQxNzA3MDZjNjUyMDQzNjU3Mjc0Njk2NjY5NjM2MTc0Njk2ZjZlMjA0MTc1NzQ2ODZmNzI2OTc0NzkzMTEzMzAxMTA2MDM1NTA0MGEwYzBhNDE3MDcwNmM2NTIwNDk2ZTYzMmUzMTBiMzAwOTA2MDM1NTA0MDYxMzAyNTU1MzMwMWUxNzBkMzEzNDMwMzUzMDM2MzIzMzM0MzYzMzMwNWExNzBkMzIzOTMwMzUzMDM2MzIzMzM0MzYzMzMwNWEzMDdhMzEyZTMwMmMwNjAzNTUwNDAzMGMyNTQxNzA3MDZjNjUyMDQxNzA3MDZjNjk2MzYxNzQ2OTZmNmUyMDQ5NmU3NDY1Njc3MjYxNzQ2OTZmNmUyMDQzNDEyMDJkMjA0NzMzMzEyNjMwMjQwNjAzNTUwNDBiMGMxZDQxNzA3MDZjNjUyMDQzNjU3Mjc0Njk2NjY5NjM2MTc0Njk2ZjZlMjA0MTc1NzQ2ODZmNzI2OTc0NzkzMTEzMzAxMTA2MDM1NTA0MGEwYzBhNDE3MDcwNmM2NTIwNDk2ZTYzMmUzMTBiMzAwOTA2MDM1NTA0MDYxMzAyNTU1MzMwNTkzMDEzMDYwNzJhODY0OGNlM2QwMjAxMDYwODJhODY0OGNlM2QwMzAxMDcwMzQyMDAwNGYwMTcxMTg0MTlkNzY0ODVkNTFhNWUyNTgxMDc3NmU4ODBhMmVmZGU3YmFlNGRlMDhkZmM0YjkzZTEzMzU2ZDU2NjViMzVhZTIyZDA5Nzc2MGQyMjRlN2JiYTA4ZmQ3NjE3Y2U4OGNiNzZiYjY2NzBiZWM4ZTgyOTg0ZmY1NDQ1YTM4MWY3MzA4MWY0MzA0NjA2MDgyYjA2MDEwNTA1MDcwMTAxMDQzYTMwMzgzMDM2MDYwODJiMDYwMTA1MDUwNzMwMDE4NjJhNjg3NDc0NzAzYTJmMmY2ZjYzNzM3MDJlNjE3MDcwNmM2NTJlNjM2ZjZkMmY2ZjYzNzM3MDMwMzQyZDYxNzA3MDZjNjU3MjZmNmY3NDYzNjE2NzMzMzAxZDA2MDM1NTFkMGUwNDE2MDQxNDIzZjI0OWM0NGY5M2U0ZWYyN2U2YzRmNjI4NmMzZmEyYmJmZDJlNGIzMDBmMDYwMzU1MWQxMzAxMDFmZjA0MDUzMDAzMDEwMWZmMzAxZjA2MDM1NTFkMjMwNDE4MzAxNjgwMTRiYmIwZGVhMTU4MzM4ODlhYTQ4YTk5ZGViZWJkZWJhZmRhY2IyNGFiMzAzNzA2MDM1NTFkMWYwNDMwMzAyZTMwMmNhMDJhYTAyODg2MjY2ODc0NzQ3MDNhMmYyZjYzNzI2YzJlNjE3MDcwNmM2NTJlNjM2ZjZkMmY2MTcwNzA2YzY1NzI2ZjZmNzQ2MzYxNjczMzJlNjM3MjZjMzAwZTA2MDM1NTFkMGYwMTAxZmYwNDA0MDMwMjAxMDYzMDEwMDYwYTJhODY0ODg2Zjc2MzY0MDYwMjBlMDQwMjA1MDAzMDBhMDYwODJhODY0OGNlM2QwNDAzMDIwMzY3MDAzMDY0MDIzMDNhY2Y3MjgzNTExNjk5YjE4NmZiMzVjMzU2Y2E2MmJmZjQxN2VkZDkwZjc1NGRhMjhlYmVmMTljODE1ZTQyYjc4OWY4OThmNzliNTk5Zjk4ZDU0MTBkOGY5ZGU5YzJmZTAyMzAzMjJkZDU0NDIxYjBhMzA1Nzc2YzVkZjMzODNiOTA2N2ZkMTc3YzJjMjE2ZDk2NGZjNjcyNjk4MjEyNmY1NGY4N2E3ZDFiOTljYjliMDk4OTIxNjEwNjk5MGYwOTkyMWQwMDAwMzE4MjAxOGMzMDgyMDE4ODAyMDEwMTMwODE4NjMwN2EzMTJlMzAyYzA2MDM1NTA0MDMwYzI1NDE3MDcwNmM2NTIwNDE3MDcwNmM2OTYzNjE3NDY5NmY2ZTIwNDk2ZTc0NjU2NzcyNjE3NDY5NmY2ZTIwNDM0MTIwMmQyMDQ3MzMzMTI2MzAyNDA2MDM1NTA0MGIwYzFkNDE3MDcwNmM2NTIwNDM2NTcyNzQ2OTY2Njk2MzYxNzQ2OTZmNmUyMDQxNzU3NDY4NmY3MjY5NzQ3OTMxMTMzMDExMDYwMzU1MDQwYTBjMGE0MTcwNzA2YzY1MjA0OTZlNjMyZTMxMGIzMDA5MDYwMzU1MDQwNjEzMDI1NTUzMDIwODRjMzA0MTQ5NTE5ZDU0MzYzMDBkMDYwOTYwODY0ODAxNjUwMzA0MDIwMTA1MDBhMDgxOTUzMDE4MDYwOTJhODY0ODg2ZjcwZDAxMDkwMzMxMGIwNjA5MmE4NjQ4ODZmNzBkMDEwNzAxMzAxYzA2MDkyYTg2NDg4NmY3MGQwMTA5MDUzMTBmMTcwZDMyMzIzMDM4MzAzMzMxMzIzMTMwMzEzMzVhMzAyYTA2MDkyYTg2NDg4NmY3MGQwMTA5MzQzMTFkMzAxYjMwMGQwNjA5NjA4NjQ4MDE2NTAzMDQwMjAxMDUwMGExMGEwNjA4MmE4NjQ4Y2UzZDA0MDMwMjMwMmYwNjA5MmE4NjQ4ODZmNzBkMDEwOTA0MzEyMjA0MjBjYWRlZWE1ODc3MTE1OTVlMTg5ZDNhOTUyMDBmMDdhZTQwNTE2M2JmNzA1MTk2MWRlMDk1NzY0ZGYyOTcxOTQzMzAwYTA2MDgyYTg2NDhjZTNkMDQwMzAyMDQ0NzMwNDUwMjIxMDA5MDUyMWYzNjJmYzk1ZGNiMDhhZjQxOTMyYTNkM2Y2YTNhYzVkNWFiZTIyMmYxY2YxZDAxMDNiMjM5MWI3MzEwMDIyMDYxMzZlYzJkNGQ2N2MwODZiZDRiYTA5YTJjZjMwODY1ZjJhYTM5NWMwODlmZTFkM2UwYWM4YTgzM2YwNjIwZDUwMDAwMDAwMDAwMDAiLCJvcGVyYXRpb25hbEFuYWx5dGljc0lkZW50aWZpZXIiOiJEQi5NZXJjaGFudFNvbHV0aW9uLlRlc3RNZXJjaGFudDoyODczMkE0RjA1QUUwNTU1MDA3NzY0MkNDNkJBQkE4QzU5MjNFMzQ3QTA4MzgwM0MwQjdBODA4ODcxMEMzMUU0IiwicmV0cmllcyI6MCwicHNwSWQiOiIyODczMkE0RjA1QUUwNTU1MDA3NzY0MkNDNkJBQkE4QzU5MjNFMzQ3QTA4MzgwM0MwQjdBODA4ODcxMEMzMUU0In0=",
                      "rc" : "0",
                      "message" : "success"
                    },
                    "x-ApiExampleVersioning" : {
                      "ApiExampleVersioningFirst" : "v2.1"
                    }
                  },
                  "sample_response_to_session_request_-_session_creation_failed" : {
                    "summary" : "Session creation failed",
                    "description" : "Session creation failed",
                    "value" : {
                      "rc" : "1547",
                      "message" : " Payment Services Exception merchantId=28 not registered for domain=unknown.domain.com"
                    },
                    "x-ApiExampleVersioning" : {
                      "ApiExampleVersioningFirst" : "v2.1"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/applepay/pay/{event_id}/{tx_action}/initialize" : {
      "post" : {
        "tags" : [ "Apple Pay" ],
        "summary" : "Perform payment requests based on Apple Pay™ data.",
        "operationId" : "applepayPost",
        "parameters" : [ {
          "name" : "Merchant-ID",
          "in" : "header",
          "description" : "Unique identification of the merchant for whom the transaction is carried out. This parameter is  required if the `Merchant-ID` cannot be derived from the `client_id` you used for authentication.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 10,
            "minLength" : 10,
            "pattern" : "[0-9]+",
            "type" : "string"
          }
        }, {
          "name" : "event_id",
          "in" : "path",
          "description" : "A unique ID for the event.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 1,
            "pattern" : "[\\/0-9a-zA-Z_.:,\\-+*$%]+",
            "type" : "string"
          }
        }, {
          "name" : "tx_action",
          "in" : "path",
          "description" : "The action of an initial transaction.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "authorization", "preauthorization", "credit", "verify-mop" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ApplePayPaymentRequest"
              },
              "examples" : {
                "ApplePayPaymentRequest" : {
                  "summary" : "Sample Apple Pay™ Request",
                  "description" : "ApplePayPaymentRequest",
                  "value" : {
                    "means_of_payment" : {
                      "applepay_token" : "eyJwYXltZW50RGF0YSI6eyJ2ZXJzaW9uIjoiRUNfdjEiLCJkYXRhIjoiYWJONTBPS0FNd1pUU0lJV2Z4VWpYWGhncVVZNTIrMlVnZWY4Q0VMUTg2QTE3eFJwdEdhTWFjWHhvNXl1Um1UVDFOb2Y3VERYeHFncHFkL2Mwa2l1OXZKcy9DcVNKUHZNUG9BbkJEemlYTGtDK0JnRFBJVERuMzFLTlVHU3dYQ1QrVkJZdy85cHVocVVvSWQwcU1QRzRUQ2E1cDBVc3k4VmkxN0g2bGpJaGhpdStKNXoxWWpsTTJBbXZtMmdxSUZ2WHRWdmJYbTBGL05tZDBqZWEvcUQ4UUNmQURJa0NkSHZwQWJic2gyTlVMbzFYbm1UNFlodFRjN1o5Zy9helVtMm9YTjZWdlRYYXY0SHhzZGJueERjN2tpWGo5U3VYYVN3anZudTdtS21uUG0zVXlQMkk2QWc1cDJZTGQ3dXg4bURpUmxQUG9WY0FLM0U4N2dxRU90a0lHUGRaM0JCZ1paOHNjaFlJQVRqR1p4aWI4aHRFNk1mcE1jV0VJdFlrVlZ5QzFIREpMcWdsY2VjRU1rUWhRPT0iLCJzaWduYXR1cmUiOiJNSUFHQ1NxR1NJYjNEUUVIQXFDQU1JQUNBUUV4RFRBTEJnbGdoa2dCWlFNRUFnRXdnQVlKS29aSWh2Y05BUWNCQUFDZ2dEQ0NBK013Z2dPSW9BTUNBUUlDQ0V3d1FVbFJuVlEyTUFvR0NDcUdTTTQ5QkFNQ01Ib3hMakFzQmdOVkJBTU1KVUZ3Y0d4bElFRndjR3hwWTJGMGFXOXVJRWx1ZEdWbmNtRjBhVzl1SUVOQklDMGdSek14SmpBa0JnTlZCQXNNSFVGd2NHeGxJRU5sY25ScFptbGpZWFJwYjI0Z1FYVjBhRzl5YVhSNU1STXdFUVlEVlFRS0RBcEJjSEJzWlNCSmJtTXVNUXN3Q1FZRFZRUUdFd0pWVXpBZUZ3MHhPVEExTVRnd01UTXlOVGRhRncweU5EQTFNVFl3TVRNeU5UZGFNRjh4SlRBakJnTlZCQU1NSEdWall5MXpiWEF0WW5KdmEyVnlMWE5wWjI1ZlZVTTBMVkJTVDBReEZEQVNCZ05WQkFzTUMybFBVeUJUZVhOMFpXMXpNUk13RVFZRFZRUUtEQXBCY0hCc1pTQkpibU11TVFzd0NRWURWUVFHRXdKVlV6QlpNQk1HQnlxR1NNNDlBZ0VHQ0NxR1NNNDlBd0VIQTBJQUJNSVZkKzNyMXNleUlZOW8zWENRb1NHTng3QzlieXdvUFlSZ2xkbEs5S1ZCRzROQ0R0Z1I4MEIrZ3pNZkhGVEQ5K3N5SU5hNjFkVHY5SktKaVQ1OER4T2pnZ0lSTUlJQ0RUQU1CZ05WSFJNQkFmOEVBakFBTUI4R0ExVWRJd1FZTUJhQUZDUHlTY1JQaytUdkorYkU5aWhzUDZLNy9TNUxNRVVHQ0NzR0FRVUZCd0VCQkRrd056QTFCZ2dyQmdFRkJRY3dBWVlwYUhSMGNEb3ZMMjlqYzNBdVlYQndiR1V1WTI5dEwyOWpjM0F3TkMxaGNIQnNaV0ZwWTJFek1ESXdnZ0VkQmdOVkhTQUVnZ0VVTUlJQkVEQ0NBUXdHQ1NxR1NJYjNZMlFGQVRDQi9qQ0J3d1lJS3dZQkJRVUhBZ0l3Z2JZTWdiTlNaV3hwWVc1alpTQnZiaUIwYUdseklHTmxjblJwWm1sallYUmxJR0o1SUdGdWVTQndZWEowZVNCaGMzTjFiV1Z6SUdGalkyVndkR0Z1WTJVZ2IyWWdkR2hsSUhSb1pXNGdZWEJ3YkdsallXSnNaU0J6ZEdGdVpHRnlaQ0IwWlhKdGN5QmhibVFnWTI5dVpHbDBhVzl1Y3lCdlppQjFjMlVzSUdObGNuUnBabWxqWVhSbElIQnZiR2xqZVNCaGJtUWdZMlZ5ZEdsbWFXTmhkR2x2YmlCd2NtRmpkR2xqWlNCemRHRjBaVzFsYm5SekxqQTJCZ2dyQmdFRkJRY0NBUllxYUhSMGNEb3ZMM2QzZHk1aGNIQnNaUzVqYjIwdlkyVnlkR2xtYVdOaGRHVmhkWFJvYjNKcGRIa3ZNRFFHQTFVZEh3UXRNQ3N3S2FBbm9DV0dJMmgwZEhBNkx5OWpjbXd1WVhCd2JHVXVZMjl0TDJGd2NHeGxZV2xqWVRNdVkzSnNNQjBHQTFVZERnUVdCQlNVVjl0djFYU0Job21KZGk5K1Y0VUg1NXRZSkRBT0JnTlZIUThCQWY4RUJBTUNCNEF3RHdZSktvWklodmRqWkFZZEJBSUZBREFLQmdncWhrak9QUVFEQWdOSkFEQkdBaUVBdmdsWEgrY2VIbk5iVmVXdnJMVEhMK3RFWHpBWVVpTEhKUkFDdGg2OWIxVUNJUURSaXpVS1hkYmRickYwWURXeEhyTE9oOCtqNXE5c3ZZT0FpUTNJTE4ycVl6Q0NBdTR3Z2dKMW9BTUNBUUlDQ0VsdEw3ODZtTnFYTUFvR0NDcUdTTTQ5QkFNQ01HY3hHekFaQmdOVkJBTU1Fa0Z3Y0d4bElGSnZiM1FnUTBFZ0xTQkhNekVtTUNRR0ExVUVDd3dkUVhCd2JHVWdRMlZ5ZEdsbWFXTmhkR2x2YmlCQmRYUm9iM0pwZEhreEV6QVJCZ05WQkFvTUNrRndjR3hsSUVsdVl5NHhDekFKQmdOVkJBWVRBbFZUTUI0WERURTBNRFV3TmpJek5EWXpNRm9YRFRJNU1EVXdOakl6TkRZek1Gb3dlakV1TUN3R0ExVUVBd3dsUVhCd2JHVWdRWEJ3YkdsallYUnBiMjRnU1c1MFpXZHlZWFJwYjI0Z1EwRWdMU0JITXpFbU1DUUdBMVVFQ3d3ZFFYQndiR1VnUTJWeWRHbG1hV05oZEdsdmJpQkJkWFJvYjNKcGRIa3hFekFSQmdOVkJBb01Da0Z3Y0d4bElFbHVZeTR4Q3pBSkJnTlZCQVlUQWxWVE1Ga3dFd1lIS29aSXpqMENBUVlJS29aSXpqMERBUWNEUWdBRThCY1JoQm5YWklYVkdsNGxnUWQyNklDaTc5NTdyazNnamZ4TGsrRXpWdFZtV3pXdUl0Q1hkZzBpVG51NkNQMTJGODZJeTNhN1puQyt5T2dwaFA5VVJhT0I5ekNCOURCR0JnZ3JCZ0VGQlFjQkFRUTZNRGd3TmdZSUt3WUJCUVVITUFHR0ttaDBkSEE2THk5dlkzTndMbUZ3Y0d4bExtTnZiUzl2WTNOd01EUXRZWEJ3YkdWeWIyOTBZMkZuTXpBZEJnTlZIUTRFRmdRVUkvSkp4RStUNU84bjVzVDJLR3cvb3J2OUxrc3dEd1lEVlIwVEFRSC9CQVV3QXdFQi96QWZCZ05WSFNNRUdEQVdnQlM3c042aFdET0ltcVNLbWQ2K3ZldXYyc3NrcXpBM0JnTlZIUjhFTURBdU1DeWdLcUFvaGlab2RIUndPaTh2WTNKc0xtRndjR3hsTG1OdmJTOWhjSEJzWlhKdmIzUmpZV2N6TG1OeWJEQU9CZ05WSFE4QkFmOEVCQU1DQVFZd0VBWUtLb1pJaHZkalpBWUNEZ1FDQlFBd0NnWUlLb1pJemowRUF3SURad0F3WkFJd09zOXlnMUVXbWJHRyt6WERWc3Bpdi9RWDdka1BkVTJpanI3eG5JRmVRcmVKK0pqM20xbWZtTlZCRFkrZDZjTCtBakF5TGRWRUliQ2pCWGRzWGZNNE81Qm4vUmQ4TENGdGxrL0djbW1DRW05VStIcDlHNW5MbXdtSklXRUdtUThKa2gwQUFER0NBWWd3Z2dHRUFnRUJNSUdHTUhveExqQXNCZ05WQkFNTUpVRndjR3hsSUVGd2NHeHBZMkYwYVc5dUlFbHVkR1ZuY21GMGFXOXVJRU5CSUMwZ1J6TXhKakFrQmdOVkJBc01IVUZ3Y0d4bElFTmxjblJwWm1sallYUnBiMjRnUVhWMGFHOXlhWFI1TVJNd0VRWURWUVFLREFwQmNIQnNaU0JKYm1NdU1Rc3dDUVlEVlFRR0V3SlZVd0lJVERCQlNWR2RWRFl3Q3dZSllJWklBV1VEQkFJQm9JR1RNQmdHQ1NxR1NJYjNEUUVKQXpFTEJna3Foa2lHOXcwQkJ3RXdIQVlKS29aSWh2Y05BUWtGTVE4WERUSXlNVEV3TnpFeE1qWXpObG93S0FZSktvWklodmNOQVFrME1Sc3dHVEFMQmdsZ2hrZ0JaUU1FQWdHaENnWUlLb1pJemowRUF3SXdMd1lKS29aSWh2Y05BUWtFTVNJRUlITDBiWkczRk51NHhsZ0tCcW9hVGh5dm1DWnJTeXY5UG51NjlZcUFrK2dVTUFvR0NDcUdTTTQ5QkFNQ0JFY3dSUUlnSnpFNG1adjNYc003M01PZHJFcU9EWjN0cXQ0ZE9wdlFhc0YyRGpyOVFiNENJUUMzT2hGczJmMVM0ZndhRThuNDNGVlRTZWo0NDl4YUpiZElMbnFHQVlMcXFRQUFBQUFBQUE9PSIsImhlYWRlciI6eyJlcGhlbWVyYWxQdWJsaWNLZXkiOiJNRmt3RXdZSEtvWkl6ajBDQVFZSUtvWkl6ajBEQVFjRFFnQUVpbXhhUmR4dGJaeFNVUEtYSVh2NG5RS3lSTHdUQjdHcUN5UjhDc2hKTGhraTlJUXErTVNsaHArOXlqQURvcVR1a0R6VkVXblBabUNnTnBDUTNUZ3ZyUT09IiwicHVibGljS2V5SGFzaCI6ImI2UXJSemt6NnJzRGdWV2hTdzh0ZkdGRHprcHdtOTV4RUpzYnFGSWJVcDQ9IiwidHJhbnNhY3Rpb25JZCI6IjY1ODYwNjA4Y2YwZDAxYzgzNTUyNmIwOGZjOTNmNTE1M2Y0NDdlZDgwZDU3MjhkMjNjMDMwNzhjZmIxMWIxMjUifX0sInBheW1lbnRNZXRob2QiOnsiZGlzcGxheU5hbWUiOiJNYXN0ZXJDYXJkIDA4MzkiLCJuZXR3b3JrIjoiTWFzdGVyQ2FyZCIsInR5cGUiOiJjcmVkaXQifSwidHJhbnNhY3Rpb25JZGVudGlmaWVyIjoiNjU4NjA2MDhDRjBEMDFDODM1NTI2QjA4RkM5M0Y1MTUzRjQ0N0VEODBENTcyOEQyM0MwMzA3OENGQjExQjEyNSJ9"
                    },
                    "processing_options" : [ "RISKCHECK" ],
                    "amount_total" : {
                      "amount" : 1000,
                      "currency" : "EUR"
                    },
                    "tds_20_data" : {
                      "communication_data" : {
                        "method_notification_url" : "https://example.com/method_notification_url",
                        "cres_notification_url" : "https://example.com/cres_notification_url"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "400" : {
            "description" : "Response in case of an error. Includes a response code and an error message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized request. Response body may be empty.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "200" : {
            "description" : "Information about the outcome of the transaction.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Headless3DSecureResponse"
                },
                "examples" : {
                  "sample_response_to_initial_request_-_transaction_processed" : {
                    "summary" : "Transaction has been processed, no further actions required.",
                    "description" : "Transaction has been processed, no further actions required.",
                    "value" : {
                      "outcome" : "PROCESSED",
                      "processed" : {
                        "amount_total" : {
                          "amount" : 100,
                          "currency" : "EUR"
                        },
                        "event_id" : "id1628241502404",
                        "kind" : "CREDITCARD_3DS20",
                        "tx_action" : "preauthorization",
                        "tx_id" : "fCDszGoUje8piOUC2tVVU9",
                        "back_rc" : "00",
                        "transaction_info" : {
                          "type" : "creditcard",
                          "transaction_creditcard_info" : {
                            "credit_card" : {
                              "number" : "401200******7778",
                              "expiry_date" : {
                                "year" : 2034,
                                "month" : 12
                              },
                              "cardholder" : "Card Holder"
                            }
                          }
                        },
                        "rc" : "0",
                        "message" : "Transaction successful."
                      },
                      "rc" : "0",
                      "message" : "Transaction successful."
                    }
                  },
                  "sample_response_to_initial_request_-_method_flow_required" : {
                    "summary" : "Proceed with 3-D Secure method flow.",
                    "description" : "Proceed with 3-D Secure method flow.",
                    "value" : {
                      "outcome" : "METHOD_REQUIRED",
                      "method_required" : {
                        "method_request" : "ew0KICAiY29udGVudCIgOiAiZHVtbXkiDQp9"
                      },
                      "rc" : "1548",
                      "message" : "Transaction is pending."
                    }
                  },
                  "sample_response_to_initial_request_-_challenge_flow_required" : {
                    "summary" : "Proceed with 3-D Secure challenge flow.",
                    "description" : "Proceed with 3-D Secure challenge flow.",
                    "value" : {
                      "outcome" : "CHALLENGE_REQUIRED",
                      "challenge_required" : {
                        "acs_url" : "https://acs.example.com/acs/challenge/ew0KICAiZHVtbXkiIDogImR1bW15Ig0KfQ==",
                        "creq" : "ew0KICAiZHVtbXkiIDogImNvbnRlbnQiDQp9"
                      },
                      "rc" : "1548",
                      "message" : "Transaction is pending."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/escore/event/{event_id}/addresscheck" : {
      "post" : {
        "tags" : [ "eScore" ],
        "summary" : "Performs an Address Verification (ES0013).",
        "description" : "\nTwo scenarios of use are possible:\n                        \n1. The address details of a customer are verified with the address verification. If an address is supplied wrongly the customer is requested to correct it. Thereafter the address is verified again. After a successful address verification further information has to be collated via credit assessment. \n\n2. The transaction “integrated address verification, credit assessment and scoring” is carried out. \n\nIMPORTANT: The address verification may only be carried out in connection with the credit assessment. Using the address verification on its own is not permissible for contractual reasons.\n\nWith the address verification the supplied address (name, town of residence, post code and street) is verified. This means that as a rule the address verification is related to the person. \n\nThe basis for the query is the post directory of the Deutsche Post Direkt GmbH (German mail) with roughly 95 m validated consumer addresses. The correction function is differentiated according to the individual address components and can provide evidence for their coherence and correct wrong details respectively.",
        "operationId" : "escoreAddressVerificationPost",
        "parameters" : [ {
          "name" : "Merchant-ID",
          "in" : "header",
          "description" : "Unique identification of the merchant for whom the transaction is carried out. This parameter is  required if the `Merchant-ID` cannot be derived from the `client_id` you used for authentication.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 10,
            "minLength" : 10,
            "pattern" : "[0-9]+",
            "type" : "string"
          }
        }, {
          "name" : "event_id",
          "in" : "path",
          "description" : "A unique ID for the event.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 1,
            "pattern" : "[\\/0-9a-zA-Z_.:,\\-+*$%]+",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/EScoreRequest"
              },
              "example" : {
                "reason" : "ABK",
                "billing_address" : {
                  "title" : "MRS",
                  "first_name" : "KATJA",
                  "last_name" : "KOPLIN",
                  "postal_code" : "10407",
                  "city" : "BERLIN",
                  "country" : "DE",
                  "extensions" : {
                    "alternative_address_data" : {
                      "street" : "DANZIGER STR.",
                      "street_number" : "67"
                    }
                  }
                },
                "basket" : {
                  "basket_id" : "basketId1641228398709"
                },
                "customer_information" : {
                  "customer_id" : "5x14120ffrG",
                  "date_of_birth" : "1979-10-27"
                }
              }
            }
          }
        },
        "responses" : {
          "400" : {
            "description" : "Response in case of an error. Includes a response code and an error message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized request. Response body may be empty.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "200" : {
            "description" : "If the query could be carried out you receive the return value `rc=0` as response independent from the outcome of the address verification. The outcome of the address verification is returned in the field `address_note`. Where applicable, the address fields of the response include the address components, which could be corrected. If possible you will receive the freight routing code for the corrected address in the field `freight_routing_code`.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EScoreAddresscheckResponse"
                },
                "example" : {
                  "address_note" : "PPB",
                  "freight_routing_code" : "10435003067",
                  "rc" : "0",
                  "message" : "Transaction successful.",
                  "event_id" : "9184bf11-75ed-4a11-b9e6-557c11bd3853",
                  "tx_id" : "2yYJ5nYkDIGuTdjWgCkJoK",
                  "action" : "addresscheck",
                  "basket_id" : "basketId1641293516625",
                  "scoring_rc" : "G",
                  "reason" : "ABK",
                  "billing_address" : {
                    "title" : "MRS",
                    "first_name" : "KATJA",
                    "last_name" : "KOPLIN",
                    "date_of_birth" : "1979-10-27",
                    "postal_code" : "10407",
                    "city" : "BERLIN",
                    "country" : "DE",
                    "extensions" : {
                      "alternative_address_data" : {
                        "street" : "DANZIGER STR.",
                        "street_number" : "67"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/escore/event/{event_id}/creditassessment" : {
      "post" : {
        "tags" : [ "eScore" ],
        "summary" : "Performs a Credit Assessment (ES0012).",
        "description" : "\nThe credit assessment provides information about the customers' negative features. From the result the possible general payment behaviour and the creditworthiness of a purchaser may be deduced.\n\nUpon entering the customer details during the order process it is verified in the background whether there is a negative feature related to this person resulting from extra judicial or judicial collection proceedings, enforcement by writ or affidavit.",
        "operationId" : "escoreCreditAssessmentPost",
        "parameters" : [ {
          "name" : "Merchant-ID",
          "in" : "header",
          "description" : "Unique identification of the merchant for whom the transaction is carried out. This parameter is  required if the `Merchant-ID` cannot be derived from the `client_id` you used for authentication.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 10,
            "minLength" : 10,
            "pattern" : "[0-9]+",
            "type" : "string"
          }
        }, {
          "name" : "event_id",
          "in" : "path",
          "description" : "A unique ID for the event.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 1,
            "pattern" : "[\\/0-9a-zA-Z_.:,\\-+*$%]+",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/EScoreRequest"
              },
              "example" : {
                "reason" : "ABK",
                "billing_address" : {
                  "title" : "MRS",
                  "first_name" : "KATJA",
                  "last_name" : "KOPLIN",
                  "postal_code" : "10407",
                  "city" : "BERLIN",
                  "country" : "DE",
                  "extensions" : {
                    "alternative_address_data" : {
                      "street" : "DANZIGER STR.",
                      "street_number" : "67"
                    }
                  }
                },
                "basket" : {
                  "basket_id" : "basketId1641228398709"
                },
                "customer_information" : {
                  "customer_id" : "5x14120ffrG",
                  "date_of_birth" : "1979-10-27"
                }
              }
            }
          }
        },
        "responses" : {
          "400" : {
            "description" : "Response in case of an error. Includes a response code and an error message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized request. Response body may be empty.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "200" : {
            "description" : "\nDepending on the negative features found you will receive in the field `scoring_rc` a classification of the data record following the traffic light system 'green', 'yellow/amber' and 'red' (This classification only takes place if the address was rectifiable postally, otherwise you will receive the return value `rc=1538`). The negative features are divided into the categories 'soft', 'medium' and 'hard'.\n\nThe allocation of the negative features to the traffic light values is as follows:\n \n• `G`: green - There are no negative features.\n\n• `Y`: yellow/amber - There are no negative features.\n\n• `R`: red - There are no negative features.\n\nThe field score provides you with a more subtly graduated result of the credit assessment. \n\nIn addition to the traffic light values and score all negative features are returned, which were relevant for the generation of the traffic light value.\n                    ",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EScoreCreditassessmentResponse"
                },
                "example" : {
                  "customer_id" : "5x14120ffrG",
                  "score" : "100",
                  "negative_criteria" : [ {
                    "kind" : "LP",
                    "date" : "2021-01-08",
                    "doc_reference" : "8IN303"
                  }, {
                    "kind" : "VB",
                    "date" : "2021-12-07",
                    "doc_reference" : "8IN306"
                  } ],
                  "rc" : "0",
                  "message" : "Transaction successful.",
                  "event_id" : "9dd00d1d-7888-4679-af78-7dc95eef052d",
                  "tx_id" : "fC1DpbpWZeELL6tzmoHcKL",
                  "action" : "creditassessment",
                  "basket_id" : "basketId1641293519408",
                  "scoring_rc" : "R",
                  "reason" : "ABK",
                  "billing_address" : {
                    "title" : "MRS",
                    "first_name" : "KATJA",
                    "last_name" : "KOPLIN",
                    "date_of_birth" : "1979-10-27",
                    "postal_code" : "10407",
                    "city" : "BERLIN",
                    "country" : "DE",
                    "extensions" : {
                      "alternative_address_data" : {
                        "street" : "DANZIGER STR.",
                        "street_number" : "67"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/escore/event/{event_id}/bankaccount" : {
      "post" : {
        "tags" : [ "eScore" ],
        "summary" : "Performs an RPP Check (ES0024).",
        "description" : "\nThis service checks bank details for plausibility and current return debit notes.\n\nThe “return debit note prevention pool” (RPP) is a data pool where bank details are saved for which return debit notes are currently known. The pool primarily serves the prevention of cash loss for direct debits.\n",
        "operationId" : "escoreRppPost",
        "parameters" : [ {
          "name" : "Merchant-ID",
          "in" : "header",
          "description" : "Unique identification of the merchant for whom the transaction is carried out. This parameter is  required if the `Merchant-ID` cannot be derived from the `client_id` you used for authentication.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 10,
            "minLength" : 10,
            "pattern" : "[0-9]+",
            "type" : "string"
          }
        }, {
          "name" : "event_id",
          "in" : "path",
          "description" : "A unique ID for the event.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 1,
            "pattern" : "[\\/0-9a-zA-Z_.:,\\-+*$%]+",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/EScoreRPPRequest"
              },
              "example" : {
                "bank_account" : {
                  "bic" : "PZHSDE66XXX",
                  "iban" : "DE84666500855073321010"
                },
                "basket" : {
                  "basket_id" : "basketId1641228398709"
                },
                "customer_information" : {
                  "customer_id" : "5x14120ffrG",
                  "date_of_birth" : "1979-10-27"
                }
              }
            }
          }
        },
        "responses" : {
          "400" : {
            "description" : "Response in case of an error. Includes a response code and an error message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized request. Response body may be empty.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "200" : {
            "description" : "\nIn addition to information on return debit notes the following data are available:\n\n• data of stolen or lost EC cards (for example from the KUNO database)\n\n• data about publicly known bank details (NCA = non consumer account)\n\n• customer specific negative and positive lists\n\nNo personal data are saved in the RPP. This means it is not known who is the account holder.\n\nThe return debit note service is currently available for Germany.\n\nThe bank account details in the response possibly include corrections or additional information, for example    IBAN and BIC when you submitted account number and bank code in the request.\n                    ",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EScoreRPPResponse"
                },
                "example" : {
                  "bank_account" : {
                    "bic" : "PZHSDE66XXX",
                    "iban" : "DE84666500855073321010",
                    "bank_name" : "Sparkasse Pforzheim Calw"
                  },
                  "bank_account_validation_result" : "00",
                  "bank_account_validation_message" : "The bank account is valid.",
                  "rpp_match" : "0",
                  "rc" : "0",
                  "message" : "Transaction successful.",
                  "event_id" : "abf1ccf6-a9d6-4904-99d3-cadb6521ee90",
                  "tx_id" : "np5yYhvMr2dZQqWNub0BGj",
                  "action" : "bankaccount",
                  "basket_id" : "basketId1641293501021",
                  "scoring_rc" : "G"
                }
              }
            }
          }
        }
      }
    },
    "/escore/event/{event_id}/scoring" : {
      "post" : {
        "tags" : [ "eScore" ],
        "summary" : "Performs an integrated Address Verification, Credit Assessment, and Scoring (ES0015).",
        "description" : "This kind of transaction consists of address verification, credit assessment, and scoring.",
        "operationId" : "escoreScoringPost",
        "parameters" : [ {
          "name" : "Merchant-ID",
          "in" : "header",
          "description" : "Unique identification of the merchant for whom the transaction is carried out. This parameter is  required if the `Merchant-ID` cannot be derived from the `client_id` you used for authentication.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 10,
            "minLength" : 10,
            "pattern" : "[0-9]+",
            "type" : "string"
          }
        }, {
          "name" : "event_id",
          "in" : "path",
          "description" : "A unique ID for the event.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 1,
            "pattern" : "[\\/0-9a-zA-Z_.:,\\-+*$%]+",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/EScoreRequest"
              },
              "example" : {
                "reason" : "ABK",
                "billing_address" : {
                  "title" : "MRS",
                  "first_name" : "KATJA",
                  "last_name" : "KOPLIN",
                  "postal_code" : "10407",
                  "city" : "BERLIN",
                  "country" : "DE",
                  "extensions" : {
                    "alternative_address_data" : {
                      "street" : "DANZIGER STR.",
                      "street_number" : "67"
                    }
                  }
                },
                "basket" : {
                  "basket_id" : "basketId1641228398709"
                },
                "customer_information" : {
                  "customer_id" : "5x14120ffrG",
                  "date_of_birth" : "1979-10-27"
                }
              }
            }
          }
        },
        "responses" : {
          "400" : {
            "description" : "Response in case of an error. Includes a response code and an error message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized request. Response body may be empty.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "200" : {
            "description" : "\nIf there are no negative entries for a person's given name the probability of non-payments may be determined in a further step with help of the INFORMA score. The INFORMA score collates information from various socio-demographic parameters, such as details about the social structure of the town of residence. According to the risk assessment a recommendation for proceeding is provided. This value is included as essential component in the parameter `score`.                        \n                    ",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EScoreScoringResponse"
                },
                "example" : {
                  "customer_id" : "5x14120ffrG",
                  "address_note" : "PPB",
                  "freight_routing_code" : "10435003067",
                  "score" : "980",
                  "informa_score_value" : "670",
                  "rc" : "0",
                  "message" : "Transaction successful.",
                  "event_id" : "f66400e4-40f2-4fdf-8229-d6e7dca3bf4d",
                  "tx_id" : "pXKc6vH91ASi0QrYfH7Ch7",
                  "action" : "scoring",
                  "basket_id" : "basketId1641293520741",
                  "scoring_rc" : "G",
                  "reason" : "ABK",
                  "billing_address" : {
                    "title" : "MRS",
                    "first_name" : "KATJA",
                    "last_name" : "KOPLIN",
                    "date_of_birth" : "1979-10-27",
                    "postal_code" : "10407",
                    "city" : "BERLIN",
                    "country" : "DE",
                    "extensions" : {
                      "alternative_address_data" : {
                        "street" : "DANZIGER STR.",
                        "street_number" : "67"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/form/alias/bankaccount" : {
      "post" : {
        "tags" : [ "Forms" ],
        "summary" : "Creates a form to enter bank account data and create an alias for it.",
        "operationId" : "formAliasBankAccountPost",
        "parameters" : [ {
          "name" : "Merchant-ID",
          "in" : "header",
          "description" : "Unique identification of the merchant for whom the transaction is carried out. This parameter is  required if the `Merchant-ID` cannot be derived from the `client_id` you used for authentication.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 10,
            "minLength" : 10,
            "pattern" : "[0-9]+",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FormRegisterAliasRequest"
              },
              "example" : {
                "alias" : "AL1234_XY",
                "form_customer_continuation" : {
                  "success_url" : "https://www.example.com/target.php?success",
                  "error_url" : "https://www.example.com/target.php?error",
                  "notification_failed_url" : "https://www.example.com/target.php?notifyfailed"
                },
                "callback" : {
                  "notify_url" : "http://www.example.com/notify"
                }
              }
            }
          }
        },
        "responses" : {
          "400" : {
            "description" : "Response in case of an error. Includes a response code and an error message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized request. Response body may be empty.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "200" : {
            "description" : "Values required to initialize a form interaction. No transaction is created.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FormNoTxResponse"
                }
              }
            }
          }
        }
      }
    },
    "/form/alias/creditcard" : {
      "post" : {
        "tags" : [ "Forms" ],
        "summary" : "Creates a form to enter credit card data and create an alias for it.",
        "operationId" : "formAliasCreditCardPost",
        "parameters" : [ {
          "name" : "Merchant-ID",
          "in" : "header",
          "description" : "Unique identification of the merchant for whom the transaction is carried out. This parameter is  required if the `Merchant-ID` cannot be derived from the `client_id` you used for authentication.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 10,
            "minLength" : 10,
            "pattern" : "[0-9]+",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FormRegisterAliasRequest"
              },
              "example" : {
                "alias" : "AL1234_XY",
                "form_customer_continuation" : {
                  "success_url" : "https://www.example.com/target.php?success",
                  "error_url" : "https://www.example.com/target.php?error",
                  "notification_failed_url" : "https://www.example.com/target.php?notifyfailed"
                },
                "callback" : {
                  "notify_url" : "http://www.example.com/notify"
                }
              }
            }
          }
        },
        "responses" : {
          "400" : {
            "description" : "Response in case of an error. Includes a response code and an error message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized request. Response body may be empty.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "200" : {
            "description" : "Values required to initialize a form interaction. No transaction is created.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FormNoTxResponse"
                }
              }
            }
          }
        }
      }
    },
    "/form/alias/klarna" : {
      "post" : {
        "tags" : [ "Forms" ],
        "summary" : "Creates an authorization form for a Klarna payment alias.",
        "operationId" : "formAliasKlarnaPost",
        "parameters" : [ {
          "name" : "Merchant-ID",
          "in" : "header",
          "description" : "Unique identification of the merchant for whom the transaction is carried out. This parameter is  required if the `Merchant-ID` cannot be derived from the `client_id` you used for authentication.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 10,
            "minLength" : 10,
            "pattern" : "[0-9]+",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FormRegisterAliasKlarnaRequest"
              },
              "example" : {
                "alias" : "AL1234_XY",
                "form_customer_continuation" : {
                  "success_url" : "https://www.example.com/target.php?success",
                  "error_url" : "https://www.example.com/target.php?error",
                  "notification_failed_url" : "https://www.example.com/target.php?notifyfailed"
                },
                "callback" : {
                  "notify_url" : "http://www.example.com/notify"
                },
                "customer_information" : {
                  "date_of_birth" : "1980-01-01"
                },
                "shipping_address" : {
                  "title" : "Ms",
                  "first_name" : "Jane",
                  "last_name" : "Doe",
                  "email" : "test_jane@gmail.com",
                  "address_line_1" : "Main Street 123",
                  "address_line_2" : "Building A",
                  "address_line_3" : "Apartment 12",
                  "postal_code" : "80469",
                  "phone_contact" : {
                    "phone_type" : "MOBILE",
                    "phone_number" : "+4917614287464"
                  },
                  "city" : "Munich",
                  "country" : "DE",
                  "extensions" : { }
                },
                "billing_address" : {
                  "title" : "Ms",
                  "first_name" : "Jane",
                  "last_name" : "Doe",
                  "email" : "test_jane@gmail.com",
                  "address_line_1" : "Main Street 123",
                  "address_line_2" : "Building A",
                  "address_line_3" : "Apartment 12",
                  "postal_code" : "80469",
                  "phone_contact" : {
                    "phone_type" : "MOBILE",
                    "phone_number" : "+4917614287464"
                  },
                  "city" : "Munich",
                  "country" : "DE",
                  "extensions" : {
                    "klarna_data" : {
                      "custom_payment_method_ids" : [ ]
                    }
                  }
                },
                "basket" : {
                  "basket_id" : "basket123456",
                  "invoice_id" : "RE123345",
                  "soft_descriptor" : "800-123-1234",
                  "shipping_costs" : {
                    "amount" : 200,
                    "currency" : "EUR"
                  },
                  "basket_type" : "DIGITAL",
                  "extensions" : {
                    "paypal_data" : {
                      "custom_id" : "CUSTOMID123"
                    }
                  },
                  "basket_items" : [ {
                    "name" : "A fine shirt",
                    "description" : "BI123456",
                    "reference" : "UGG-BB-PUR-06",
                    "quantity" : {
                      "quantity_amount" : 5,
                      "quantity_unit" : "pcs"
                    },
                    "unit_price" : {
                      "net" : 100,
                      "gross" : 100,
                      "currency" : "EUR",
                      "tax" : 1900
                    },
                    "discount" : {
                      "net" : 0,
                      "gross" : 0,
                      "currency" : "EUR",
                      "tax" : 1900
                    },
                    "extensions" : {
                      "klarna_data" : {
                        "klarna_type" : "PHYSICAL",
                        "image_url" : "https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Camisade_pu%C3%B1o_doble.jpg/256px-Camisade_pu%C3%B1o_doble.jpg"
                      }
                    }
                  } ]
                },
                "amount_total" : {
                  "amount" : 700,
                  "currency" : "EUR"
                }
              }
            }
          }
        },
        "responses" : {
          "400" : {
            "description" : "Response in case of an error. Includes a response code and an error message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized request. Response body may be empty.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "200" : {
            "description" : "Values required to initialize a form interaction.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FormResponse"
                }
              }
            }
          }
        }
      }
    },
    "/form/event/{event_id}/checkout/{tx_action}" : {
      "post" : {
        "tags" : [ "Forms" ],
        "summary" : "Creates a redirect to a checkout page where the customer may choose one of the offered means of payments \n            (for instance credit card or Request to Pay) and then continue the payment.",
        "operationId" : "formCheckoutPost",
        "parameters" : [ {
          "name" : "Merchant-ID",
          "in" : "header",
          "description" : "Unique identification of the merchant for whom the transaction is carried out. This parameter is  required if the `Merchant-ID` cannot be derived from the `client_id` you used for authentication.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 10,
            "minLength" : 10,
            "pattern" : "[0-9]+",
            "type" : "string"
          }
        }, {
          "name" : "event_id",
          "in" : "path",
          "description" : "A unique ID for the event.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 1,
            "pattern" : "[\\/0-9a-zA-Z_.:,\\-+*$%]+",
            "type" : "string"
          }
        }, {
          "name" : "tx_action",
          "in" : "path",
          "description" : "The action of an initial transaction.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "authorization", "preauthorization" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FormCheckoutRequest"
              },
              "example" : {
                "checkout_page_configuration" : {
                  "direct_debit_data" : {
                    "mandate" : {
                      "reference" : "MDT1620213727383XY",
                      "mandate_name" : "Sample mandate name",
                      "signed_on" : "2020-12-30",
                      "mandate_sequence_type" : "ONEOFF"
                    }
                  },
                  "request_to_pay_data" : {
                    "customer_id" : "testCustrID"
                  },
                  "checkout_entry_sorting_order" : [ "DIRECTDEBIT", "REQUEST_TO_PAY" ]
                },
                "amount_total" : {
                  "amount" : 100,
                  "currency" : "EUR"
                },
                "form_customer_continuation" : {
                  "success_url" : "https://www.example.com/target.php?success",
                  "error_url" : "https://www.example.com/target.php?error",
                  "notification_failed_url" : "https://www.example.com/target.php?notifyfailed"
                },
                "callback" : {
                  "notify_url" : "http://www.example.com/notify"
                }
              }
            }
          }
        },
        "responses" : {
          "400" : {
            "description" : "Response in case of an error. Includes a response code and an error message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized request. Response body may be empty.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "200" : {
            "description" : "Values required to initialize a form interaction, a return code and a message. In case of a known business or persistence error,\n                    only error code and message are provided.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FormResponse"
                }
              }
            }
          }
        }
      }
    },
    "/form/event/{event_id}/creditcard/{tx_action}" : {
      "post" : {
        "tags" : [ "Forms" ],
        "summary" : "Creates a form to enter credit card data and then proceed with the transaction (pre-authorization, authorization, or verify MOP).",
        "operationId" : "formCreditCardPost",
        "parameters" : [ {
          "name" : "Merchant-ID",
          "in" : "header",
          "description" : "Unique identification of the merchant for whom the transaction is carried out. This parameter is  required if the `Merchant-ID` cannot be derived from the `client_id` you used for authentication.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 10,
            "minLength" : 10,
            "pattern" : "[0-9]+",
            "type" : "string"
          }
        }, {
          "name" : "event_id",
          "in" : "path",
          "description" : "A unique ID for the event.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 1,
            "pattern" : "[\\/0-9a-zA-Z_.:,\\-+*$%]+",
            "type" : "string"
          }
        }, {
          "name" : "tx_action",
          "in" : "path",
          "description" : "The action of an initial transaction.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "authorization", "preauthorization", "verify-mop" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FormCreditCardRequest"
              },
              "examples" : {
                "exampleccv2.1a" : {
                  "summary" : "Sample initialization of a credit card transaction.",
                  "description" : "Redirect the customer to the URL received in the result.",
                  "value" : {
                    "amount_total" : {
                      "amount" : 100,
                      "currency" : "EUR"
                    },
                    "form_customer_continuation" : {
                      "success_url" : "https://www.example.com/target.php?success",
                      "error_url" : "https://www.example.com/target.php?error",
                      "notification_failed_url" : "https://www.example.com/target.php?notifyfailed"
                    },
                    "callback" : {
                      "notify_url" : "http://www.example.com/notify"
                    },
                    "billing_address" : {
                      "first_name" : "Heinz",
                      "last_name" : "Müller",
                      "email" : "heinz@email.com",
                      "address_line_1" : "Rohrteichstr 18",
                      "address_line_2" : "EG R. 184",
                      "address_line_3" : "Wohnhaus",
                      "state" : "SN",
                      "postal_code" : "04347",
                      "city" : "Leipzig",
                      "country" : "DE"
                    }
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "400" : {
            "description" : "Response in case of an error. Includes a response code and an error message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized request. Response body may be empty.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "200" : {
            "description" : "Values required to initialize a form interaction, a return code and a message. In case of a known business or persistence error,\n                    only error code and message are provided.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FormResponse"
                }
              }
            }
          }
        }
      }
    },
    "/form/event/{event_id}/directdebit/{tx_action}" : {
      "post" : {
        "tags" : [ "Forms" ],
        "summary" : "Creates a form to enter bank account data and then proceed with an SDD transaction (pre-authorization, authorization, or verify MOP).",
        "operationId" : "formDirectDebitPost",
        "parameters" : [ {
          "name" : "Merchant-ID",
          "in" : "header",
          "description" : "Unique identification of the merchant for whom the transaction is carried out. This parameter is  required if the `Merchant-ID` cannot be derived from the `client_id` you used for authentication.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 10,
            "minLength" : 10,
            "pattern" : "[0-9]+",
            "type" : "string"
          }
        }, {
          "name" : "event_id",
          "in" : "path",
          "description" : "A unique ID for the event.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 1,
            "pattern" : "[\\/0-9a-zA-Z_.:,\\-+*$%]+",
            "type" : "string"
          }
        }, {
          "name" : "tx_action",
          "in" : "path",
          "description" : "The action of an initial transaction.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "authorization", "preauthorization", "verify-mop" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FormDirectDebitRequest"
              },
              "example" : {
                "amount_total" : {
                  "amount" : 100,
                  "currency" : "EUR"
                },
                "direct_debit_data" : {
                  "mandate" : {
                    "reference" : "MDT1620213727383XY",
                    "mandate_name" : "Sample mandate name",
                    "signed_on" : "2020-12-30",
                    "mandate_sequence_type" : "ONEOFF"
                  }
                },
                "form_customer_continuation" : {
                  "success_url" : "https://www.example.com/target.php?success",
                  "error_url" : "https://www.example.com/target.php?error",
                  "notification_failed_url" : "https://www.example.com/target.php?notifyfailed"
                },
                "callback" : {
                  "notify_url" : "http://www.example.com/notify"
                }
              }
            }
          }
        },
        "responses" : {
          "400" : {
            "description" : "Response in case of an error. Includes a response code and an error message.",
            "content" : {
              "application/json" : {
[...]
