{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Merchant-Server II REST Services API",
    "version" : "v2"
  },
  "servers" : [ {
    "url" : "https://testmerch.directpos.de/rest-api/services/v2/"
  } ],
  "security" : [ {
    "bearerAuth" : [ ]
  } ],
  "tags" : [ {
    "name" : "Alias",
    "description" : "The alias API contains endpoints to add, update or delete aliases for means of payment."
  }, {
    "name" : "Forms",
    "description" : "The Forms API contains endpoints to initialize a form service interaction. It allows the merchant to redirect the customer to a customizable frontend page where the customer may enter sensitive payment data. After receipt of the necessary information, the frontend will carry out the transaction and redirect the customer back to the merchant’s page."
  }, {
    "name" : "Headless 3-D Secure",
    "description" : "The Headless 3-D Secure API contains endpoints to conduct headless 3-D Secure transactions."
  }, {
    "name" : "iFrame",
    "description" : "The iFrame API contains an endpoint to initialize an iFrame interaction. It allows the merchant to embed specific elements of a frontend page into their own web page. Entry of sensitive data is done in these elements so that they can be sent to the merchant without the merchant ever being in contact with it. After the API receives the entered data, it will inform the merchant who then calls the corresponding Payment API endpoint. "
  }, {
    "name" : "Info",
    "description" : "Information related operations."
  }, {
    "name" : "Payment",
    "description" : "The Payment API contains endpoints to add or modify payment transactions. When using the API, the merchant is only integrated to the API at the backend. All use cases are triggered via an API call. It is the merchant's responsibility to collect all relevant payment data via their own frontend. "
  } ],
  "paths" : {
    "/alias/bankaccount/{alias}" : {
      "get" : {
        "tags" : [ "Alias" ],
        "summary" : "Retrieves a bank account alias by its name.",
        "operationId" : "aliasBankAccountGet",
        "parameters" : [ {
          "name" : "Merchant-ID",
          "in" : "header",
          "description" : "Unique identification of the merchant for whom the transaction is carried out. This parameter is  required if the `Merchant-ID` cannot be derived from the `client_id` you used for authentication.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 10,
            "minLength" : 10,
            "pattern" : "[0-9]+",
            "type" : "string"
          }
        }, {
          "name" : "alias",
          "in" : "path",
          "description" : "Name of the alias.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "da2c9029-b180-42a7-b473-50d182a01f8a"
        } ],
        "responses" : {
          "400" : {
            "description" : "Response in case of an error. Includes a response code and an error message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized request. Response body may be empty.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "200" : {
            "description" : "A return code and a message, accompanied by information about the alias. Sensitive bank account data may be masked, depending on the configuration of the merchant's account. If the alias is unknown or in case of a known business or persistence error, only error code and message are provided.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AliasResponse"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Alias" ],
        "summary" : "Deletes a bank account alias.",
        "operationId" : "aliasBankAccountDelete",
        "parameters" : [ {
          "name" : "Merchant-ID",
          "in" : "header",
          "description" : "Unique identification of the merchant for whom the transaction is carried out. This parameter is  required if the `Merchant-ID` cannot be derived from the `client_id` you used for authentication.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 10,
            "minLength" : 10,
            "pattern" : "[0-9]+",
            "type" : "string"
          }
        }, {
          "name" : "alias",
          "in" : "path",
          "description" : "Name of the alias.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "da2c9029-b180-42a7-b473-50d182a01f8a"
        } ],
        "responses" : {
          "400" : {
            "description" : "Response in case of an error. Includes a response code and an error message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized request. Response body may be empty.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "200" : {
            "description" : "A return code and a message, indicating whether or not the operation was successful.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BaseResponse"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Alias" ],
        "summary" : "Updates the address attached to a bank account alias.",
        "description" : "In most SEPA countries, address data is not required for payment processing. However, some countries require addresses in addition to means of payment data for successful authorization. This endpoint provides functionality to update this address data.",
        "operationId" : "aliasBankAccountAddressPatch",
        "parameters" : [ {
          "name" : "Merchant-ID",
          "in" : "header",
          "description" : "Unique identification of the merchant for whom the transaction is carried out. This parameter is  required if the `Merchant-ID` cannot be derived from the `client_id` you used for authentication.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 10,
            "minLength" : 10,
            "pattern" : "[0-9]+",
            "type" : "string"
          }
        }, {
          "name" : "alias",
          "in" : "path",
          "description" : "Name of the alias.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "da2c9029-b180-42a7-b473-50d182a01f8a"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CommonAddress"
              },
              "examples" : {
                "sample20" : {
                  "summary" : "Sample SEPA address.",
                  "description" : "Sample SEPA address.",
                  "value" : {
                    "street" : "newStreet",
                    "streetNumber" : "21",
                    "postalCode" : "98765",
                    "city" : "newCity",
                    "country" : "DE"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "400" : {
            "description" : "Response in case of an error. Includes a response code and an error message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized request. Response body may be empty.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "200" : {
            "description" : "A return code and a message, accompanied by information about the updated alias. Sensitive bank account data may be masked, depending on the configuration of the merchant's account. If the alias was unknown or in case of a known business or persistence error, only error code and message are provided.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AliasResponse"
                }
              }
            }
          }
        }
      }
    },
    "/alias/bankaccount" : {
      "post" : {
        "tags" : [ "Alias" ],
        "summary" : "Creates a new bank account alias.",
        "description" : "Clients may specify a bank account alias themselves by submitting the desired value in the alias field. If the alias field is left blank, an alias will be generated. Bank account aliases may also be created during payment processing. The bank account field of the request requires an iban to be present. All other fields are optional. In most SEPA countries, address data is not required for payment processing. However, some countries require addresses in addition to means of payment data for successful authorization. This is why this endpoint provides an option to specify additional address data which will be stored along with the new alias if present. Bank accounts and aliases have a 1:1 relation, that is if an alias is assigned to a bank account creating another alias for the same bank account results in an error, as does assigning an existing alias to another bank account.",
        "operationId" : "aliasBankAccountCreatePost",
        "parameters" : [ {
          "name" : "Merchant-ID",
          "in" : "header",
          "description" : "Unique identification of the merchant for whom the transaction is carried out. This parameter is  required if the `Merchant-ID` cannot be derived from the `client_id` you used for authentication.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 10,
            "minLength" : 10,
            "pattern" : "[0-9]+",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AliasBankAccountRequest"
              },
              "example" : {
                "alias" : "example-dd-alias",
                "bank_account" : {
                  "iban" : "DE39123456790009290701",
                  "account_holder" : "Rene Holder"
                }
              }
            }
          }
        },
        "responses" : {
          "400" : {
            "description" : "Response in case of an error. Includes a response code and an error message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized request. Response body may be empty.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "200" : {
            "description" : "A return code and a message, accompanied by information about the created alias. Sensitive bank account data may be masked, depending on the configuration of the merchant's account. In case of a known business or persistence error, only error code and message are provided.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AliasResponse"
                }
              }
            }
          }
        }
      }
    },
    "/alias/bankaccount/get" : {
      "post" : {
        "tags" : [ "Alias" ],
        "summary" : "Retrieves a bank account alias by bank account data.",
        "description" : "Due to security reasons, this is a _GET with body payload_ (see https://opensource.zalando.com/restful-api-guidelines/#get-with-body) operation. No resources will be created.",
        "operationId" : "aliasBankAccountGetPost",
        "parameters" : [ {
          "name" : "Merchant-ID",
          "in" : "header",
          "description" : "Unique identification of the merchant for whom the transaction is carried out. This parameter is  required if the `Merchant-ID` cannot be derived from the `client_id` you used for authentication.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 10,
            "minLength" : 10,
            "pattern" : "[0-9]+",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BankAccount"
              },
              "example" : {
                "iban" : "DE39123456790009290701",
                "account_holder" : "Rene Holder"
              }
            }
          }
        },
        "responses" : {
          "400" : {
            "description" : "Response in case of an error. Includes a response code and an error message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized request. Response body may be empty.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "200" : {
            "description" : "A return code and a message, accompanied by information about the alias. Sensitive bank account data may be masked, depending on the configuration of the merchant's account. In case of a known business or persistence error, only error code and message are provided.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AliasResponse"
                }
              }
            }
          }
        }
      }
    },
    "/alias/creditcard" : {
      "post" : {
        "tags" : [ "Alias" ],
        "summary" : "Creates a new credit card alias.",
        "description" : "Clients may specify a card number alias themselves by submitting the desired value in the alias field. If the alias field is left blank, an alias will be generated. Card number aliases may also be created during payment processing. The credit card field of the request requires a number and an expiry date to be present. All other fields are optional. Credit cards and aliases have a 1:1 relation, that is if an alias is assigned to a credit card creating another alias for the same card results in an error, as does assigning an existing alias to another credit card.",
        "operationId" : "aliasCreditCardCreatePost",
        "parameters" : [ {
          "name" : "Merchant-ID",
          "in" : "header",
          "description" : "Unique identification of the merchant for whom the transaction is carried out. This parameter is  required if the `Merchant-ID` cannot be derived from the `client_id` you used for authentication.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 10,
            "minLength" : 10,
            "pattern" : "[0-9]+",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AliasCreditCardRequest"
              },
              "example" : {
                "alias" : "example-cc-alias",
                "credit_card" : {
                  "number" : "4111111111111111",
                  "code" : "123",
                  "cardHolder" : "Card T. Holder",
                  "expiry_date" : {
                    "year" : 2029,
                    "month" : 11
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "400" : {
            "description" : "Response in case of an error. Includes a response code and an error message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized request. Response body may be empty.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "200" : {
            "description" : "A return code and a message, accompanied by information about the created alias. Sensitive credit card data may be masked, depending on the configuration of the merchant's account. In case of a known business or persistence error, only error code and message are provided.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AliasResponse"
                }
              }
            }
          }
        }
      }
    },
    "/alias/creditcard/{alias}" : {
      "get" : {
        "tags" : [ "Alias" ],
        "summary" : "Retrieves a credit card alias by its name.",
        "operationId" : "aliasCreditCardGet",
        "parameters" : [ {
          "name" : "Merchant-ID",
          "in" : "header",
          "description" : "Unique identification of the merchant for whom the transaction is carried out. This parameter is  required if the `Merchant-ID` cannot be derived from the `client_id` you used for authentication.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 10,
            "minLength" : 10,
            "pattern" : "[0-9]+",
            "type" : "string"
          }
        }, {
          "name" : "alias",
          "in" : "path",
          "description" : "Name of the alias.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "da2c9029-b180-42a7-b473-50d182a01f8a"
        } ],
        "responses" : {
          "400" : {
            "description" : "Response in case of an error. Includes a response code and an error message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized request. Response body may be empty.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "200" : {
            "description" : "A return code and a message, accompanied by information about the alias. Sensitive credit card data may be masked, depending on the configuration of the merchant's account. In case of a known business or persistence error, only error code and message are provided.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AliasResponse"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Alias" ],
        "summary" : "Deletes a credit card alias.",
        "operationId" : "aliasCreditCardDelete",
        "parameters" : [ {
          "name" : "Merchant-ID",
          "in" : "header",
          "description" : "Unique identification of the merchant for whom the transaction is carried out. This parameter is  required if the `Merchant-ID` cannot be derived from the `client_id` you used for authentication.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 10,
            "minLength" : 10,
            "pattern" : "[0-9]+",
            "type" : "string"
          }
        }, {
          "name" : "alias",
          "in" : "path",
          "description" : "Name of the alias.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "da2c9029-b180-42a7-b473-50d182a01f8a"
        } ],
        "responses" : {
          "400" : {
            "description" : "Response in case of an error. Includes a response code and an error message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized request. Response body may be empty.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "200" : {
            "description" : "A return code and a message, indicating whether or not the operation was successful.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/alias/creditcard/get" : {
      "post" : {
        "tags" : [ "Alias" ],
        "summary" : "Retrieves a credit card alias by credit card data.",
        "description" : "Due to security reasons, this is a _GET with body payload_ (see https://opensource.zalando.com/restful-api-guidelines/#get-with-body) operation. No resources will be created.",
        "operationId" : "aliasCreditCardGetPost",
        "parameters" : [ {
          "name" : "Merchant-ID",
          "in" : "header",
          "description" : "Unique identification of the merchant for whom the transaction is carried out. This parameter is  required if the `Merchant-ID` cannot be derived from the `client_id` you used for authentication.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 10,
            "minLength" : 10,
            "pattern" : "[0-9]+",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreditCard"
              },
              "example" : {
                "number" : "4111111111111111",
                "code" : "123",
                "cardHolder" : "Card T. Holder",
                "expiry_date" : {
                  "year" : 2029,
                  "month" : 11
                }
              }
            }
          }
        },
        "responses" : {
          "400" : {
            "description" : "Response in case of an error. Includes a response code and an error message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized request. Response body may be empty.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "200" : {
            "description" : "A return code and a message, accompanied by information about the alias. Sensitive credit card data may be masked, depending on the configuration of the merchant's account. If the credit card data did not match a known credit card or in case of a known business or persistence error, only error code and message are provided.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AliasResponse"
                }
              }
            }
          }
        }
      }
    },
    "/alias/{alias}" : {
      "get" : {
        "tags" : [ "Alias" ],
        "summary" : "Retrieves a credit card or bank account alias by its name.",
        "description" : "This is a generalized variant of the other GET alias endpoints of this API. May be used by clients that cannot or do not want to decide on the type of alias to be retrieved.",
        "operationId" : "aliasGet",
        "parameters" : [ {
          "name" : "Merchant-ID",
          "in" : "header",
          "description" : "Unique identification of the merchant for whom the transaction is carried out. This parameter is  required if the `Merchant-ID` cannot be derived from the `client_id` you used for authentication.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 10,
            "minLength" : 10,
            "pattern" : "[0-9]+",
            "type" : "string"
          }
        }, {
          "name" : "alias",
          "in" : "path",
          "description" : "Name of the alias.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "da2c9029-b180-42a7-b473-50d182a01f8a"
        } ],
        "responses" : {
          "400" : {
            "description" : "Response in case of an error. Includes a response code and an error message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized request. Response body may be empty.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "200" : {
            "description" : "A return code and a message, accompanied by information about the alias. Depending on the type of means of payment this alias is connected to, the appropriate fields will be set in the response. Sensitive means of payment data may be masked, depending on the configuration of the merchant's account. If the alias is unknown or in case of a known business or persistence error, only error code and message are provided.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AliasResponse"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Alias" ],
        "summary" : "Deletes a credit card or bank account alias.",
        "description" : "This is a generalized variant of the other DELETE alias endpoints of this API. May be used by clients that cannot or do not want to decide on the type of alias to be deleted.",
        "operationId" : "aliasDelete",
        "parameters" : [ {
          "name" : "Merchant-ID",
          "in" : "header",
          "description" : "Unique identification of the merchant for whom the transaction is carried out. This parameter is  required if the `Merchant-ID` cannot be derived from the `client_id` you used for authentication.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 10,
            "minLength" : 10,
            "pattern" : "[0-9]+",
            "type" : "string"
          }
        }, {
          "name" : "alias",
          "in" : "path",
          "description" : "Name of the alias.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "da2c9029-b180-42a7-b473-50d182a01f8a"
        } ],
        "responses" : {
          "400" : {
            "description" : "Response in case of an error. Includes a response code and an error message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized request. Response body may be empty.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "200" : {
            "description" : "A return code and a message, indicating whether or not the operation was successful.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/form/alias/bankaccount" : {
      "post" : {
        "tags" : [ "Forms" ],
        "summary" : "Creates a form to enter bank account data and create an alias for it.",
        "operationId" : "formAliasBankAccountPost",
        "parameters" : [ {
          "name" : "Merchant-ID",
          "in" : "header",
          "description" : "Unique identification of the merchant for whom the transaction is carried out. This parameter is  required if the `Merchant-ID` cannot be derived from the `client_id` you used for authentication.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 10,
            "minLength" : 10,
            "pattern" : "[0-9]+",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FormRegisterAliasRequest"
              },
              "example" : {
                "alias" : "AL1234_XY",
                "form_customer_continuation" : {
                  "success_url" : "https://www.example.com/target.php?success",
                  "error_url" : "https://www.example.com/target.php?error",
                  "notification_failed_url" : "https://www.example.com/target.php?notifyfailed"
                },
                "callback" : {
                  "notify_url" : "http://www.example.com/notify"
                }
              }
            }
          }
        },
        "responses" : {
          "400" : {
            "description" : "Response in case of an error. Includes a response code and an error message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized request. Response body may be empty.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "200" : {
            "description" : "Values required to initialize a form interaction. No transaction is created.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FormNoTxResponse"
                }
              }
            }
          }
        }
      }
    },
    "/form/alias/creditcard" : {
      "post" : {
        "tags" : [ "Forms" ],
        "summary" : "Creates a form to enter credit card data and create an alias for it.",
        "operationId" : "formAliasCreditCardPost",
        "parameters" : [ {
          "name" : "Merchant-ID",
          "in" : "header",
          "description" : "Unique identification of the merchant for whom the transaction is carried out. This parameter is  required if the `Merchant-ID` cannot be derived from the `client_id` you used for authentication.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 10,
            "minLength" : 10,
            "pattern" : "[0-9]+",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FormRegisterAliasRequest"
              },
              "example" : {
                "alias" : "AL1234_XY",
                "form_customer_continuation" : {
                  "success_url" : "https://www.example.com/target.php?success",
                  "error_url" : "https://www.example.com/target.php?error",
                  "notification_failed_url" : "https://www.example.com/target.php?notifyfailed"
                },
                "callback" : {
                  "notify_url" : "http://www.example.com/notify"
                }
              }
            }
          }
        },
        "responses" : {
          "400" : {
            "description" : "Response in case of an error. Includes a response code and an error message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized request. Response body may be empty.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "200" : {
            "description" : "Values required to initialize a form interaction. No transaction is created.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FormNoTxResponse"
                }
              }
            }
          }
        }
      }
    },
    "/form/event/{event_id}/checkout/{tx_action}" : {
      "post" : {
        "tags" : [ "Forms" ],
        "summary" : "Creates a redirect to a checkout page where the customer may choose one of the offered means of payments \n            (for instance credit card or Request to Pay) and then continue the payment.",
        "operationId" : "formCheckoutPost",
        "parameters" : [ {
          "name" : "Merchant-ID",
          "in" : "header",
          "description" : "Unique identification of the merchant for whom the transaction is carried out. This parameter is  required if the `Merchant-ID` cannot be derived from the `client_id` you used for authentication.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 10,
            "minLength" : 10,
            "pattern" : "[0-9]+",
            "type" : "string"
          }
        }, {
          "name" : "event_id",
          "in" : "path",
          "description" : "A unique ID for the event.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 1,
            "pattern" : "[\\/0-9a-zA-Z_.:,\\-+*$%]+",
            "type" : "string"
          }
        }, {
          "name" : "tx_action",
          "in" : "path",
          "description" : "The action of an initial transaction.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "authorization", "preauthorization" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FormCheckoutRequest"
              },
              "example" : {
                "checkout_page_configuration" : {
                  "direct_debit_data" : {
                    "mandate" : {
                      "reference" : "MDT1620213727383XY",
                      "mandate_name" : "Sample mandate name",
                      "signed_on" : "2020-12-30",
                      "mandate_sequence_type" : "ONEOFF"
                    }
                  },
                  "request_to_pay_data" : {
                    "customer_id" : "testCustrID"
                  },
                  "checkout_entry_sorting_order" : [ "DIRECTDEBIT", "REQUEST_TO_PAY" ]
                },
                "amount_total" : {
                  "amount" : 100,
                  "currency" : "EUR"
                },
                "form_customer_continuation" : {
                  "success_url" : "https://www.example.com/target.php?success",
                  "error_url" : "https://www.example.com/target.php?error",
                  "notification_failed_url" : "https://www.example.com/target.php?notifyfailed"
                },
                "callback" : {
                  "notify_url" : "http://www.example.com/notify"
                }
              }
            }
          }
        },
        "responses" : {
          "400" : {
            "description" : "Response in case of an error. Includes a response code and an error message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized request. Response body may be empty.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "200" : {
            "description" : "Values required to initialize a form interaction, a return code and a message. In case of a known business or persistence error,\n                    only error code and message are provided.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FormResponse"
                }
              }
            }
          }
        }
      }
    },
    "/form/event/{event_id}/creditcard/{tx_action}" : {
      "post" : {
        "tags" : [ "Forms" ],
        "summary" : "Creates a form to enter credit card data and then proceed with the transaction (pre-authorization, authorization, or verify MOP).",
        "operationId" : "formCreditCardPost",
        "parameters" : [ {
          "name" : "Merchant-ID",
          "in" : "header",
          "description" : "Unique identification of the merchant for whom the transaction is carried out. This parameter is  required if the `Merchant-ID` cannot be derived from the `client_id` you used for authentication.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 10,
            "minLength" : 10,
            "pattern" : "[0-9]+",
            "type" : "string"
          }
        }, {
          "name" : "event_id",
          "in" : "path",
          "description" : "A unique ID for the event.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 1,
            "pattern" : "[\\/0-9a-zA-Z_.:,\\-+*$%]+",
            "type" : "string"
          }
        }, {
          "name" : "tx_action",
          "in" : "path",
          "description" : "The action of an initial transaction.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "authorization", "preauthorization", "verify-mop" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FormCreditCardRequest"
              },
              "examples" : {
                "exampleccv2a" : {
                  "summary" : "Sample initialization of a credit card transaction.",
                  "description" : "Redirect the customer to the URL received in the result.",
                  "value" : {
                    "amount_total" : {
                      "amount" : 100,
                      "currency" : "EUR"
                    },
                    "form_customer_continuation" : {
                      "success_url" : "https://www.example.com/target.php?success",
                      "error_url" : "https://www.example.com/target.php?error",
                      "notification_failed_url" : "https://www.example.com/target.php?notifyfailed"
                    },
                    "callback" : {
                      "notify_url" : "http://www.example.com/notify"
                    },
                    "basket_id" : "basketId1639066152435"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "400" : {
            "description" : "Response in case of an error. Includes a response code and an error message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized request. Response body may be empty.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "200" : {
            "description" : "Values required to initialize a form interaction, a return code and a message. In case of a known business or persistence error,\n                    only error code and message are provided.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FormResponse"
                }
              }
            }
          }
        }
      }
    },
    "/form/event/{event_id}/directdebit/{tx_action}" : {
      "post" : {
        "tags" : [ "Forms" ],
        "summary" : "Creates a form to enter bank account data and then proceed with an SDD transaction (pre-authorization, authorization, or verify MOP).",
        "operationId" : "formDirectDebitPost",
        "parameters" : [ {
          "name" : "Merchant-ID",
          "in" : "header",
          "description" : "Unique identification of the merchant for whom the transaction is carried out. This parameter is  required if the `Merchant-ID` cannot be derived from the `client_id` you used for authentication.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 10,
            "minLength" : 10,
            "pattern" : "[0-9]+",
            "type" : "string"
          }
        }, {
          "name" : "event_id",
          "in" : "path",
          "description" : "A unique ID for the event.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 1,
            "pattern" : "[\\/0-9a-zA-Z_.:,\\-+*$%]+",
            "type" : "string"
          }
        }, {
          "name" : "tx_action",
          "in" : "path",
          "description" : "The action of an initial transaction.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "authorization", "preauthorization", "verify-mop" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FormDirectDebitRequest"
              },
              "example" : {
                "amount_total" : {
                  "amount" : 100,
                  "currency" : "EUR"
                },
                "direct_debit_data" : {
                  "mandate" : {
                    "reference" : "MDT1620213727383XY",
                    "mandate_name" : "Sample mandate name",
                    "signed_on" : "2020-12-30",
                    "mandate_sequence_type" : "ONEOFF"
                  }
                },
                "form_customer_continuation" : {
                  "success_url" : "https://www.example.com/target.php?success",
                  "error_url" : "https://www.example.com/target.php?error",
                  "notification_failed_url" : "https://www.example.com/target.php?notifyfailed"
                },
                "callback" : {
                  "notify_url" : "http://www.example.com/notify"
                }
              }
            }
          }
        },
        "responses" : {
          "400" : {
            "description" : "Response in case of an error. Includes a response code and an error message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized request. Response body may be empty.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "200" : {
            "description" : "Values required to initialize a form interaction, a return code and a message. \n                    In case of a known business or persistence error,\n                    only error code and message are provided.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FormResponse"
                }
              }
            }
          }
        }
      }
    },
    "/form/event/{event_id}/paypal/{tx_action}" : {
      "post" : {
        "tags" : [ "Forms" ],
        "summary" : "Initializes a PayPal transaction (pre-authorization or authorization).",
        "description" : "Start a new PayPal transaction sequence. Customers should be redirected to the returned URL.",
        "operationId" : "formPayPalInitPost",
        "parameters" : [ {
          "name" : "Merchant-ID",
          "in" : "header",
          "description" : "Unique identification of the merchant for whom the transaction is carried out. This parameter is  required if the `Merchant-ID` cannot be derived from the `client_id` you used for authentication.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 10,
            "minLength" : 10,
            "pattern" : "[0-9]+",
            "type" : "string"
          }
        }, {
          "name" : "event_id",
          "in" : "path",
          "description" : "A unique ID for the event.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 1,
            "pattern" : "[\\/0-9a-zA-Z_.:,\\-+*$%]+",
            "type" : "string"
          }
        }, {
          "name" : "tx_action",
          "in" : "path",
          "description" : "The action of an initial transaction.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "authorization", "preauthorization" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FormPayPalRequest"
              },
              "example" : {
                "form_customer_continuation" : {
                  "success_url" : "https://www.example.com/target.php?success",
                  "error_url" : "https://www.example.com/target.php?error",
                  "notification_failed_url" : "https://www.example.com/target.php?notifyfailed"
                },
                "callback" : {
                  "notify_url" : "http://www.example.com/notify"
                },
                "amount_total" : {
                  "amount" : 100,
                  "currency" : "EUR"
                }
              }
            }
          }
        },
        "responses" : {
          "400" : {
            "description" : "Response in case of an error. Includes a response code and an error message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized request. Response body may be empty.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "200" : {
            "description" : "A return code and a message, accompanied by an appropriate redirect URL. In case of a known business or persistence error,\n                    only error code and message are provided.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FormResponse"
                }
              }
            }
          }
        }
      }
    },
    "/form/event/{event_id}/psd2/account_info" : {
      "post" : {
        "tags" : [ "Forms" ],
        "summary" : "Initializes a PSD2 account information transaction.",
        "operationId" : "formPsd2AccountInfoPost",
        "parameters" : [ {
          "name" : "Merchant-ID",
          "in" : "header",
          "description" : "Unique identification of the merchant for whom the transaction is carried out. This parameter is  required if the `Merchant-ID` cannot be derived from the `client_id` you used for authentication.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 10,
            "minLength" : 10,
            "pattern" : "[0-9]+",
            "type" : "string"
          }
        }, {
          "name" : "event_id",
          "in" : "path",
          "description" : "A unique ID for the event.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 1,
            "pattern" : "[\\/0-9a-zA-Z_.:,\\-+*$%]+",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FormPSD2AccountInfoRequest"
              },
              "example" : {
                "bank_id" : "bG0E",
                "requested_details" : [ "OWNER" ],
                "form_customer_continuation" : {
                  "success_url" : "https://www.example.com/target.php?success",
                  "error_url" : "https://www.example.com/target.php?error",
                  "notification_failed_url" : "https://www.example.com/target.php?notifyfailed"
                },
                "callback" : {
                  "skip" : true
                }
              }
            }
          }
        },
        "responses" : {
          "400" : {
            "description" : "Response in case of an error. Includes a response code and an error message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized request. Response body may be empty.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "200" : {
            "description" : "Values required to initialise a form interaction.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FormResponse"
                }
              }
            }
          }
        }
      }
    },
    "/form/event/{event_id}/credittransfer" : {
      "post" : {
        "tags" : [ "Forms" ],
        "summary" : "Initializes a Request to Pay transaction (authorization).",
        "operationId" : "formRequestToPayPost",
        "parameters" : [ {
          "name" : "Merchant-ID",
          "in" : "header",
          "description" : "Unique identification of the merchant for whom the transaction is carried out. This parameter is  required if the `Merchant-ID` cannot be derived from the `client_id` you used for authentication.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 10,
            "minLength" : 10,
            "pattern" : "[0-9]+",
            "type" : "string"
          }
        }, {
          "name" : "event_id",
          "in" : "path",
          "description" : "A unique ID for the event.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 1,
            "pattern" : "[\\/0-9a-zA-Z_.:,\\-+*$%]+",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FormRequestToPayRequest"
              },
              "example" : {
                "amount_total" : {
                  "amount" : 100,
                  "currency" : "EUR"
                },
                "callback" : {
                  "notify_url" : "http://www.example.com/notify"
                },
                "form_customer_continuation" : {
                  "success_url" : "https://www.example.com/target.php?success",
                  "error_url" : "https://www.example.com/target.php?error",
                  "notification_failed_url" : "https://www.example.com/target.php?notifyfailed"
                },
                "form_data" : {
                  "locale" : "fr"
                },
                "request_to_pay_data" : {
                  "processing_options" : [ "INSTANT_IF_POSSIBLE" ]
                }
              }
            }
          }
        },
        "responses" : {
          "400" : {
            "description" : "Response in case of an error. Includes a response code and an error message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized request. Response body may be empty.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "200" : {
            "description" : "Values required to initialize a form interaction, a return code and a message. In case of a known business or persistence error,\n                    only error code and message are provided.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FormResponse"
                }
              }
            }
          }
        }
      }
    },
    "/form/event/{event_id}/sofort" : {
      "post" : {
        "tags" : [ "Forms" ],
        "summary" : "Initializes a Sofortüberweisung transaction (authorization).",
        "description" : "Start a new Sofortüberweisung sequence. Customers should be redirected to the returned URL.",
        "operationId" : "formSofortUeberweisungInitPost",
        "parameters" : [ {
          "name" : "Merchant-ID",
          "in" : "header",
          "description" : "Unique identification of the merchant for whom the transaction is carried out. This parameter is  required if the `Merchant-ID` cannot be derived from the `client_id` you used for authentication.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 10,
            "minLength" : 10,
            "pattern" : "[0-9]+",
            "type" : "string"
          }
        }, {
          "name" : "event_id",
          "in" : "path",
          "description" : "A unique ID for the event.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 1,
            "pattern" : "[\\/0-9a-zA-Z_.:,\\-+*$%]+",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FormSofortUeberweisungRequest"
              },
              "examples" : {
                "sample20" : {
                  "summary" : "Sample Sofortüberweisung initialization request.",
                  "description" : "Start a new Sofortüberweisung sequence.",
                  "value" : {
                    "form_customer_continuation" : {
                      "success_url" : "https://www.example.com/target.php?success",
                      "error_url" : "https://www.example.com/target.php?error",
                      "notification_failed_url" : "https://www.example.com/target.php?notifyfailed"
                    },
                    "callback" : {
                      "notify_url" : "http://www.example.com/notify"
                    },
                    "amount_total" : {
                      "amount" : 100,
                      "currency" : "EUR"
                    },
                    "basket_id" : "basketId1639066152435"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "400" : {
            "description" : "Response in case of an error. Includes a response code and an error message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized request. Response body may be empty.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "200" : {
            "description" : "A return code and a message, accompanied by an appropriate redirect URL. In case of a known business or persistence error,\n                    only error code and message are provided.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FormResponse"
                }
              }
            }
          }
        }
      }
    },
    "/headless3DSecure/event/{event_id}/final" : {
      "post" : {
        "tags" : [ "Headless 3-D Secure" ],
        "summary" : "Step 3 of a headless 3-D Secure transaction: finalizes transaction.",
        "operationId" : "headless3DSecureFinalPost",
        "parameters" : [ {
          "name" : "Merchant-ID",
          "in" : "header",
          "description" : "Unique identification of the merchant for whom the transaction is carried out. This parameter is  required if the `Merchant-ID` cannot be derived from the `client_id` you used for authentication.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 10,
            "minLength" : 10,
            "pattern" : "[0-9]+",
            "type" : "string"
          }
        }, {
          "name" : "event_id",
          "in" : "path",
          "description" : "A unique ID for the event. Use the same value as in the predecessor transaction the current transaction relates to.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 1,
            "pattern" : "[\\/0-9a-zA-Z_.:,\\-+*$%]+",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Headless3DSecureFinalRequest"
              },
              "example" : {
                "cres" : "ew0KICAiZXhhbXBsZSIgOiAicmVxdWVzdCINCn0="
              }
            }
          }
        },
        "responses" : {
          "400" : {
            "description" : "Response in case of an error. Includes a response code and an error message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized request. Response body may be empty.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "200" : {
            "description" : "Information about the outcome of the transaction.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaymentResponse"
                },
                "example" : {
                  "amount_total" : {
                    "amount" : 100,
                    "currency" : "EUR"
                  },
                  "event_id" : "id1628241998006",
                  "kind" : "CREDITCARD_3DS20",
                  "tx_action" : "preauthorization",
                  "tx_id" : "7P6cconB5vYqBQqGjyO8yR",
                  "back_rc" : "00",
                  "transaction_info" : {
                    "type" : "creditcard",
                    "transaction_creditcard_info" : {
                      "credit_card" : {
                        "number" : "401200******4444",
                        "expiry_date" : {
                          "year" : 2034,
                          "month" : 12
                        },
                        "cardholder" : "Card Holder"
                      }
                    }
                  },
                  "rc" : "0",
                  "message" : "Transaction successful."
                }
              }
            }
          }
        }
      }
    },
    "/headless3DSecure/event/{event_id}/{tx_action}/initialize" : {
      "post" : {
        "tags" : [ "Headless 3-D Secure" ],
        "summary" : "Step 1 of a headless 3-D Secure transaction (authorization, pre-authorization, credit, verify MOP): initializes transaction.",
        "operationId" : "headless3DSecureInitializePost",
        "parameters" : [ {
          "name" : "Merchant-ID",
          "in" : "header",
          "description" : "Unique identification of the merchant for whom the transaction is carried out. This parameter is  required if the `Merchant-ID` cannot be derived from the `client_id` you used for authentication.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 10,
            "minLength" : 10,
            "pattern" : "[0-9]+",
            "type" : "string"
          }
        }, {
          "name" : "event_id",
          "in" : "path",
          "description" : "A unique ID for the event.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 1,
            "pattern" : "[\\/0-9a-zA-Z_.:,\\-+*$%]+",
            "type" : "string"
          }
        }, {
          "name" : "tx_action",
          "in" : "path",
          "description" : "The action of an initial transaction.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "authorization", "preauthorization", "credit", "verify-mop" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Headless3DSecureInitializeRequest"
              },
              "examples" : {
                "sample20" : {
                  "summary" : "Sample headless 3-D Secure initial request.",
                  "description" : "Sample headless 3-D Secure initial request.",
                  "value" : {
                    "means_of_payment" : {
                      "credit_card" : {
                        "number" : "4012001037167778",
                        "expiry_date" : {
                          "year" : 2034,
                          "month" : 12
                        },
                        "code" : "123",
                        "cardholder" : "Card Holder"
                      }
                    },
                    "tds_20_data" : {
                      "browser_data" : {
                        "accept_header" : "accept",
                        "color_depth" : "B16",
                        "ip" : "1.1.1.1",
                        "java_enabled" : false,
                        "java_script_enabled" : true,
                        "language" : "de",
                        "screen_height" : 1000,
                        "screen_width" : 1000,
                        "tz" : -120,
                        "user_agent" : "ua"
                      },
                      "communication_data" : {
                        "method_notification_url" : "https://example.com/method_notification_url",
                        "cres_notification_url" : "https://example.com/cres_notification_url"
                      },
                      "merchant_risk_indicators" : {
                        "delivery_email_address" : "delivery@example.com",
                        "delivery_timeframe" : "ELECTRONIC",
                        "gift_card_amount" : "900",
                        "gift_card_count" : "1",
                        "gift_card_currency" : "EUR",
                        "pre_order_purchase_indicator" : "AVAILABLE",
                        "reordered_items_indicator" : "FIRST",
                        "shipping_indicator" : "DIGITAL"
                      }
                    },
                    "amount_total" : {
                      "amount" : 100,
                      "currency" : "EUR"
                    }
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "400" : {
            "description" : "Response in case of an error. Includes a response code and an error message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized request. Response body may be empty.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "200" : {
            "description" : "Information about the outcome of the transaction.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Headless3DSecureResponse"
                },
                "examples" : {
                  "sample_response_to_initial_request_-_transaction_processed" : {
                    "summary" : "Transaction has been processed, no further actions required.",
                    "description" : "Transaction has been processed, no further actions required.",
                    "value" : {
                      "outcome" : "PROCESSED",
                      "processed" : {
                        "amount_total" : {
                          "amount" : 100,
                          "currency" : "EUR"
                        },
                        "event_id" : "id1628241502404",
                        "kind" : "CREDITCARD_3DS20",
                        "tx_action" : "preauthorization",
                        "tx_id" : "fCDszGoUje8piOUC2tVVU9",
                        "back_rc" : "00",
                        "transaction_info" : {
                          "type" : "creditcard",
                          "transaction_creditcard_info" : {
                            "credit_card" : {
                              "number" : "401200******7778",
                              "expiry_date" : {
                                "year" : 2034,
                                "month" : 12
                              },
                              "cardholder" : "Card Holder"
                            }
                          }
                        },
                        "rc" : "0",
                        "message" : "Transaction successful."
                      },
                      "rc" : "0",
                      "message" : "Transaction successful."
                    }
                  },
                  "sample_response_to_initial_request_-_method_flow_required" : {
                    "summary" : "Proceed with 3-D Secure method flow.",
                    "description" : "Proceed with 3-D Secure method flow.",
                    "value" : {
                      "outcome" : "METHOD_REQUIRED",
                      "method_required" : {
                        "method_request" : "ew0KICAiY29udGVudCIgOiAiZHVtbXkiDQp9"
                      },
                      "rc" : "1548",
                      "message" : "Transaction is pending."
                    }
                  },
                  "sample_response_to_initial_request_-_challenge_flow_required" : {
                    "summary" : "Proceed with 3-D Secure challenge flow.",
                    "description" : "Proceed with 3-D Secure challenge flow.",
                    "value" : {
                      "outcome" : "CHALLENGE_REQUIRED",
                      "challenge_required" : {
                        "acs_url" : "https://acs.example.com/acs/challenge/ew0KICAiZHVtbXkiIDogImR1bW15Ig0KfQ==",
                        "creq" : "ew0KICAiZHVtbXkiIDogImNvbnRlbnQiDQp9"
                      },
                      "rc" : "1548",
                      "message" : "Transaction is pending."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/headless3DSecure/event/{event_id}/method_completed/{completed}" : {
      "post" : {
        "tags" : [ "Headless 3-D Secure" ],
        "summary" : "Step 2 of a headless 3-D Secure transaction: processes method completion.",
        "operationId" : "headless3DSecureMethodCompletedPost",
        "parameters" : [ {
          "name" : "Merchant-ID",
          "in" : "header",
          "description" : "Unique identification of the merchant for whom the transaction is carried out. This parameter is  required if the `Merchant-ID` cannot be derived from the `client_id` you used for authentication.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 10,
            "minLength" : 10,
            "pattern" : "[0-9]+",
            "type" : "string"
          }
        }, {
          "name" : "event_id",
          "in" : "path",
          "description" : "A unique ID for the event. Use the same value as in the predecessor transaction the current transaction relates to.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 1,
            "pattern" : "[\\/0-9a-zA-Z_.:,\\-+*$%]+",
            "type" : "string"
          }
        }, {
          "name" : "completed",
          "in" : "path",
          "description" : "Indicates if the shop has received a request from the ACS to the methodNotificationURL within 10 seconds (true) or not (false).",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "400" : {
            "description" : "Response in case of an error. Includes a response code and an error message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized request. Response body may be empty.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "200" : {
            "description" : "Information about the outcome of the transaction.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Headless3DSecureResponse"
                },
                "examples" : {
                  "sample_response_to_method_request_-_transaction_processed" : {
                    "summary" : "Transaction has been processed, no further actions required.",
                    "description" : "Transaction has been processed, no further actions required.",
                    "value" : {
                      "outcome" : "PROCESSED",
                      "processed" : {
                        "amount_total" : {
                          "amount" : 100,
                          "currency" : "EUR"
                        },
                        "event_id" : "id1628241502404",
                        "kind" : "CREDITCARD_3DS20",
                        "tx_action" : "preauthorization",
                        "tx_id" : "fCDszGoUje8piOUC2tVVU9",
                        "back_rc" : "00",
                        "transaction_info" : {
                          "type" : "creditcard",
                          "transaction_creditcard_info" : {
                            "credit_card" : {
                              "number" : "401200******7778",
                              "expiry_date" : {
                                "year" : 2034,
                                "month" : 12
                              },
                              "cardholder" : "Card Holder"
                            }
                          }
                        },
                        "rc" : "0",
                        "message" : "Transaction successful."
                      },
                      "rc" : "0",
                      "message" : "Transaction successful."
                    }
                  },
                  "sample_response_to_method_request_-_challenge_flow_required" : {
                    "summary" : "Proceed with 3-D Secure challenge flow.",
                    "description" : "Proceed with 3-D Secure challenge flow.",
                    "value" : {
                      "outcome" : "CHALLENGE_REQUIRED",
                      "challenge_required" : {
                        "acs_url" : "https://acs.example.com/acs/challenge/ew0KICAiZHVtbXkiIDogImR1bW15Ig0KfQ==",
                        "creq" : "ew0KICAiZHVtbXkiIDogImNvbnRlbnQiDQp9"
                      },
                      "rc" : "1548",
                      "message" : "Transaction is pending."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/iframe/initialize" : {
      "post" : {
        "tags" : [ "iFrame" ],
        "summary" : "Prepares an iFrame interaction.",
        "operationId" : "iFrameInitializePost",
        "parameters" : [ {
          "name" : "Merchant-ID",
          "in" : "header",
          "description" : "Unique identification of the merchant for whom the transaction is carried out. This parameter is  required if the `Merchant-ID` cannot be derived from the `client_id` you used for authentication.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 10,
            "minLength" : 10,
            "pattern" : "[0-9]+",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/IFrameInitializeRequest"
              },
              "example" : {
                "amount_total" : {
                  "amount" : 100,
                  "currency" : "EUR"
                }
              }
            }
          }
        },
        "responses" : {
          "400" : {
            "description" : "Response in case of an error. Includes a response code and an error message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized request. Response body may be empty.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "200" : {
            "description" : "Values required to initialize an iFrame interaction.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IFrameInitializeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/info/banks/psd2" : {
      "get" : {
        "tags" : [ "Info" ],
        "summary" : "Retrieves how banks matching the given search criteria support PSD 2 account information services.",
        "description" : "Finds and returns banks which match the given query parameter.\nUse either _name_ or _bic_ or _bank_code_ or _any_ for filtering. If you use _any_ banks including\nthe given value in any of the fields _name_, _bic_ or _bank_code_ will be returned. Searching is\ncarried out case-insensitive.",
        "operationId" : "infoBanksPSD2Get",
        "parameters" : [ {
          "name" : "Merchant-ID",
          "in" : "header",
          "description" : "Unique identification of the merchant for whom the transaction is carried out. This parameter is  required if the `Merchant-ID` cannot be derived from the `client_id` you used for authentication.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 10,
            "minLength" : 10,
            "pattern" : "[0-9]+",
            "type" : "string"
          }
        }, {
          "name" : "name",
          "in" : "query",
          "description" : "Fragment of bank name.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "Sparkasse"
        }, {
          "name" : "bic",
          "in" : "query",
          "description" : "Fragment of BIC (business identifier code).",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "bank_code",
          "in" : "query",
          "description" : "Fragment of German bank code (Bankleitzahl, BLZ).",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "any",
          "in" : "query",
          "description" : "Fragment of either bank name, BIC or bank code.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Number of rows to skip at the beginning of the total result set.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Maximum number of result items to be returned.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          }
        } ],
        "responses" : {
          "400" : {
            "description" : "Response in case of an error. Includes a response code and an error message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized request. Response body may be empty.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "200" : {
            "description" : "Paged response with matching banks.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PSD2BankResults"
                },
                "example" : {
                  "metadata" : {
                    "limit" : 10,
                    "offset" : 0,
                    "total" : 2
                  },
                  "banks" : [ {
                    "name" : "Sparkasse KölnBonn",
                    "town" : "Köln",
                    "bic" : "COLSDE33XXX",
                    "bank_code" : "37050198",
                    "psd2_supported" : false
                  }, {
                    "id" : "lsw",
                    "name" : "Stadt- und Kreissparkasse Leipzig",
                    "town" : "Leipzig",
                    "bic" : "WELADE8LXXX",
                    "bank_code" : "86055592",
                    "psd2_supported" : true,
                    "capabilities" : [ "AVAILABLE_ACCOUNTS", "AVAILABLE_ACCOUNTS_WITH_BALANCE", "GLOBAL_CONSENT" ]
                  } ]
                }
              }
            }
          }
        }
      }
    },
    "/info/event/{event_id}/psd2/account_info" : {
      "get" : {
        "tags" : [ "Info" ],
        "summary" : "Retrieves bank account details which were stored in a previous PSD 2 account information transaction.",
        "operationId" : "infoPsd2AccountInfoGet",
        "parameters" : [ {
          "name" : "Merchant-ID",
          "in" : "header",
          "description" : "Unique identification of the merchant for whom the transaction is carried out. This parameter is  required if the `Merchant-ID` cannot be derived from the `client_id` you used for authentication.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 10,
            "minLength" : 10,
            "pattern" : "[0-9]+",
            "type" : "string"
          }
        }, {
          "name" : "event_id",
          "in" : "path",
          "description" : "A unique ID for the event.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 1,
            "pattern" : "[\\/0-9a-zA-Z_.:,\\-+*$%]+",
            "type" : "string"
          }
        } ],
        "responses" : {
          "400" : {
            "description" : "Response in case of an error. Includes a response code and an error message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized request. Response body may be empty.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "200" : {
            "description" : "Bank account details which were stored in a previous step.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PSD2AccountInfoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payment/event/{event_id}/creditcard/{tx_action}" : {
      "post" : {
        "tags" : [ "Payment" ],
        "summary" : "Creates an initial creditcard payment transaction (authorization, pre-authorization, credit, or verify MOP).",
        "operationId" : "paymentCreditCardPost",
        "parameters" : [ {
          "name" : "Merchant-ID",
          "in" : "header",
          "description" : "Unique identification of the merchant for whom the transaction is carried out. This parameter is  required if the `Merchant-ID` cannot be derived from the `client_id` you used for authentication.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 10,
            "minLength" : 10,
            "pattern" : "[0-9]+",
            "type" : "string"
          }
        }, {
          "name" : "event_id",
          "in" : "path",
          "description" : "A unique ID for the event.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 1,
            "pattern" : "[\\/0-9a-zA-Z_.:,\\-+*$%]+",
            "type" : "string"
          }
        }, {
          "name" : "tx_action",
          "in" : "path",
          "description" : "The action of an initial transaction.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "authorization", "preauthorization", "credit", "verify-mop" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PaymentCreditCardRequestInitial"
              },
              "example" : {
                "amount_total" : {
                  "amount" : 100,
                  "currency" : "EUR"
                },
                "means_of_payment" : {
                  "credit_card" : {
                    "number" : "4111111111111111",
                    "expiry_date" : {
                      "year" : 2027,
                      "month" : 12
                    },
                    "code" : "111",
                    "card_holder" : "Rene Meier"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "400" : {
            "description" : "Response in case of an error. Includes a response code and an error message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized request. Response body may be empty.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "200" : {
            "description" : "Information about the payment",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaymentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payment/event/{event_id}/directdebit/{tx_action}" : {
      "post" : {
        "tags" : [ "Payment" ],
        "summary" : "Creates an initial SDD payment transaction (pre-authorization, authorization, credit, or verify MOP).",
        "operationId" : "paymentDirectDebitPost",
        "parameters" : [ {
          "name" : "Merchant-ID",
          "in" : "header",
          "description" : "Unique identification of the merchant for whom the transaction is carried out. This parameter is  required if the `Merchant-ID` cannot be derived from the `client_id` you used for authentication.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 10,
            "minLength" : 10,
            "pattern" : "[0-9]+",
            "type" : "string"
          }
        }, {
          "name" : "event_id",
          "in" : "path",
          "description" : "A unique ID for the event.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 1,
            "pattern" : "[\\/0-9a-zA-Z_.:,\\-+*$%]+",
            "type" : "string"
          }
        }, {
          "name" : "tx_action",
          "in" : "path",
          "description" : "The action of an initial transaction.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "authorization", "preauthorization", "credit", "verify-mop" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PaymentDirectDebitRequestInitial"
              },
              "example" : {
                "amount_total" : {
                  "amount" : 100,
                  "currency" : "EUR"
                },
                "means_of_payment" : {
                  "bank_account" : {
                    "account_holder" : "Rene Meier",
                    "iban" : "DE39123456790009290701"
                  }
                },
                "mandate" : {
                  "reference" : "MDT1620213727383XY",
                  "mandate_name" : "Sample mandate name",
                  "signed_on" : "2020-12-30",
                  "mandate_sequence_type" : "ONEOFF"
                }
              }
            }
          }
        },
        "responses" : {
          "400" : {
            "description" : "Response in case of an error. Includes a response code and an error message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized request. Response body may be empty.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "200" : {
            "description" : "The request has been processed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaymentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payment/event/{event_id}" : {
      "get" : {
        "tags" : [ "Payment" ],
        "summary" : "Retrieves details of an event (consisting of one or more transactions).",
        "operationId" : "paymentEventGet",
        "parameters" : [ {
          "name" : "Merchant-ID",
          "in" : "header",
          "description" : "Unique identification of the merchant for whom the transaction is carried out. This parameter is  required if the `Merchant-ID` cannot be derived from the `client_id` you used for authentication.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 10,
            "minLength" : 10,
            "pattern" : "[0-9]+",
            "type" : "string"
          }
        }, {
          "name" : "event_id",
          "in" : "path",
          "description" : "A unique ID for the event.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 1,
            "pattern" : "[\\/0-9a-zA-Z_.:,\\-+*$%]+",
            "type" : "string"
          }
        } ],
        "responses" : {
          "400" : {
            "description" : "Response in case of an error. Includes a response code and an error message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized request. Response body may be empty.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "200" : {
            "description" : "The request has been processed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaymentDiagnosisEventResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payment/event/{event_id}/tx/{tx_id}/{tx_action}" : {
      "post" : {
        "tags" : [ "Payment" ],
        "summary" : "Creates a subsequent transaction (capture, reversal, or refund) referencing a predecessor transaction (pre-authorization, authorization, or credit).",
        "operationId" : "paymentTxActionPost",
        "parameters" : [ {
          "name" : "Merchant-ID",
          "in" : "header",
          "description" : "Unique identification of the merchant for whom the transaction is carried out. This parameter is  required if the `Merchant-ID` cannot be derived from the `client_id` you used for authentication.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 10,
            "minLength" : 10,
            "pattern" : "[0-9]+",
            "type" : "string"
          }
        }, {
          "name" : "event_id",
          "in" : "path",
          "description" : "A unique ID for the event. Use the same value as in the predecessor transaction the current transaction relates to.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 1,
            "pattern" : "[\\/0-9a-zA-Z_.:,\\-+*$%]+",
            "type" : "string"
          }
        }, {
          "name" : "tx_id",
          "in" : "path",
          "description" : "A reference to a transaction retrieved in a response (tx_reference_id).",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 50,
            "minLength" : 1,
            "pattern" : "[/0-9a-zA-Z=_-]+",
            "type" : "string"
[...]
